<%= form_for(@kind) do |f| %>
  <% if @kind.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@kind.errors.count, "error") %> prohibited this kind from being saved:</h2>
    <ul>
      <% @kind.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
