<section class="viewblock">
  <header class="viewblock-header" id="kinds-header">
    <h1 class="default-padding">
      <%= link_to t(:all_model, model: Kind.model_name.human(count: 42)), kinds_path %> &gt;
      <%= @kind.name %>
    </h1>
  </header>
  <div class="viewblock-cont">
    <table>
      <tr>
        <th><%= Kind.human_attribute_name(:name) %></th>
      </tr>

      <% @kind.fields.each do |field| %>
          <tr>
            <td><%= link_to field.name, [@kind, field] %></td>
          </tr>
      <% end %>
    </table>
  </div>
</section>

<%= link_to t(:edit), edit_kind_path(@kind) %> |
<%= link_to t(:back), kinds_path %>
