<section class="viewblock">
  <header class="viewblock-header">
    <h1 class="default-padding"><%= t('.system_info') %></h1>
  </header>

  <div class="viewblock-cont">

    <div class="row-fluid">
      <div class="span6">
        <div class="default-padding
          <% if !@latest_version.nil? && @latest_version > Concerto::VERSION::STRING %> alert alert-block alert-removeborder
          <% end %>">
          <h5><%= t ('.concerto_version') %></h5>

          <h2><%= Concerto::VERSION::STRING %></h2>
          <% if @latest_version.nil? %>
              <i class="icon-exclamation-sign" style="font-size: 1.4em;"></i>
              <b><%= t('.cant_determine_latest_version') %></b>
          <% elsif @latest_version > Concerto::VERSION::STRING %>
              <i class="icon-exclamation-sign" style="font-size: 1.4em;"></i>
              <b><%= t('.new_version', :version => @latest_version) %></b>
          <% end %>
        </div>
      </div>
      <div class="span6">
        <div class="default-padding">
          <h5><%= t('.delayed_job_status') %></h5>

          <h2>
            <% if background_processor_running? %>
                <i class="icon-play-circle"></i> <%= t('.running') %>
            <% else %>
                <i class="icon-stop"></i> <%= t('.stopped') %>
            <% end %>
            <small style="font-size: 0.4em; padding-left: 16px;"><%= link_to t('.start_stop'), "#", :style => "text-decoration: underline;" %></small>
          </h2>
        </div>
      </div>
    </div>

  </div>

</section>
