<section class="viewblock">
  <header class="viewblock-header">
    <h1 class="default-padding"><%= t('.network_vitals') %></h1>
  </header>
  <div class="viewblock-cont">
    <div class="row-fluid">
      <div class="span6">
        <ul class="list-stacked condensed">
          <li>
            <h3>
              <%= link_to_if can?(:list, Feed), pluralize(feeds.count, Feed.model_name.human.downcase), feeds_path %>
              <small>&nbsp;&nbsp;<%= pluralize active_content, t('.active_content', content: Content.model_name.human(count: active_content).downcase) %></small>
            </h3>
          </li>
          <li>
            <h3>
              <%= link_to_if can?(:list, Screen), pluralize(screens.count, Screen.model_name.human.downcase), screens_path %>
              <small>&nbsp;&nbsp;<%= screens.count { |s| s.is_online? } %> <%= t('.active') %>, <%= screens.count { |s| s.is_offline? } %> <%= t('.offline') %></small>
            </h3>
          </li>
          <li>
            <h3>
              <%= link_to_if can?(:list, ::Template), pluralize(templates.count, ::Template.model_name.human.downcase), templates_path %>
            </h3>
          </li>
        </ul>
      </div>
      <div class="span6">
        <ul class="list-stacked condensed">
          <li>
            <h3><%= link_to_if can?(:list, Group), pluralize(groups.count, Group.model_name.human.downcase), groups_path %></h3>
          </li>
          <li>
            <h3><%= link_to_if can?(:list, User), pluralize(users.count, User.model_name.human.downcase), users_path %></h3>
          </li>

          <% if can? :list, ConcertoPlugin %>
            <li><h3><%= link_to pluralize(ConcertoPlugin.count, ConcertoPlugin.model_name.human.downcase), concerto_plugins_path %></h3></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>
