<% content_for :title do %>
  Global Settings
<% end %>

<section class="viewblock">
  <header class="viewblock-header">
    <div class="viewblock-header_right">
      <div class="button-padding">
        <%= link_to t('.backup'), dashboard_run_backup_path, :class => "btn" %>
        <%= link_to t('.restart_webserver'), { :controller => :concerto_plugins, :action => "restart_for_plugin" }, :method => :post, :confirm => "Restarting the webserver may take a 10 to 20 seconds. Are you sure you'd like to restart?", :class => "btn" %>
      </div>
    </div>
    <h1 class="default-padding">
      <%= t('.edit_settings') %>
    </h1>
  </header>
  <div class="viewblock-cont" style="min-height: 600px;">
 
    <%= form_tag dashboard_update_path do %>

        <fieldset class="global-prefs">
          <% for c in @concerto_configs %>
              <div class="clearfix">
                <% if c.value_type == "string" || c.value_type == "integer" %>
                    <% input_size = (c.value_type == "string" ? "input-large" : "input-small") %>
                    <%= label "concerto_config", c.key.to_sym, t("activerecord.attributes.concerto_config.#{c.key.to_sym}") %>
                    <div class="input">
                      <%= text_field_tag "concerto_config[#{c.key}]", ConcertoConfig[c.key.to_sym], :class => input_size, :placeholder => c.value_default %>
                    </div>
                <% elsif c.value_type == "timezone" %>  
                  <%= label "concerto_config", c.key.to_sym, t("activerecord.attributes.concerto_config.#{c.key.to_sym}") %>  
                  <div class="input">
                    <%= select_tag "concerto_config[#{c.key}]", time_zone_options_for_select(ConcertoConfig[:system_time_zone], ActiveSupport::TimeZone.us_zones) %>
                  </div>
                <% elsif c.value_type == "boolean" %>
                    <div class="input checkbox">
                      <%= tag 'input', :type => 'hidden', :name => "concerto_config[#{c.key}]", :value => '0' %>
                      <% if ConcertoConfig[c.key.to_sym] == true %>
                          <%= check_box_tag "concerto_config[#{c.key}]", true, :checked => true %>
                      <% else %>
                          <%= check_box_tag "concerto_config[#{c.key}]", true %>
                      <% end %>
                      <%= label "concerto_config", c.key.to_sym, t("activerecord.attributes.concerto_config.#{c.key.to_sym}") %>
                    </div>
                <% end %>
              </div>
          <% end %>
        </fieldset>

        <div class="submit_bar actions">
          <%= submit_tag t('.save_settings'), :class => "btn primary" %>
        </div>
    <% end %>

  </div>
  </section>
