<% content_for :title do %>
  Global Preferences
<% end %>
<%= render :partial => 'admin_stats' %>

<section class="viewblock">
  <header class="viewblock-header">
    <h1 class="default-padding">
      <%= t('.edit_preferences') %>
    </h1>
  </header>
  <div class="viewblock-cont" style="min-height: 600px;">

    <div class="subnav clearfix">
      <ul class="nav nav-tabs">
        <li class="active">
          <%= link_to dashboard_path do %>
            <i class="ficon-cog"></i> <%= t('dashboard.global_preferences') %>
          <% end %>
        </li>
        <li>
          <%= link_to concerto_plugins_path do %>
            <i class="ficon-bolt"></i> <%= t(:manage_model, :model => ConcertoPlugin.model_name.human.pluralize) %>
          <% end %>
        </li>
      </ul>
    </div>

    <%= form_tag dashboard_update_path do %>

        <fieldset class="global-prefs">
          <div class="tabbable tabs-left">
            <%= generate_tabs @concerto_configs %>

            <div class="tab-content">
              <% last_group, i = "", 0 %>
              <% for c in @concerto_configs %>
                  <% if c.group != last_group %>
                    <%= "</div>".html_safe if i > 0 %>
                    <div class="tab-pane <%= 'active' if i == 0 %>" id="tab<%= c.id %>">
                      <% last_group = c.group %>
                  <% end %>
                  <% i += 1 %>

                  <div class="clearfix">
                    <% if c.value_type == "string" %>
                        <% input_size = "input-large" %>
                        <%= label "concerto_config", c.key.to_sym, t("activerecord.attributes.concerto_config.#{c.key.to_sym}") %>
                        <div class="input">
                          <%= text_field_tag "concerto_config[#{c.key}]", ConcertoConfig[c.key.to_sym], :class => input_size, :placeholder => c.value_default %>
                        </div>
                    <% elsif c.value_type == "integer" %>
                        <% input_size = "input-small" %>
                        <%= label "concerto_config", c.key.to_sym, t("activerecord.attributes.concerto_config.#{c.key.to_sym}") %>
                        <div class="input">
                          <%= number_field_tag "concerto_config[#{c.key}]", ConcertoConfig[c.key.to_sym], :class => input_size, :placeholder => c.value_default %>
                        </div>
                    <% elsif c.value_type == "timezone" %>  
                      <%= label "concerto_config", c.key.to_sym, t("activerecord.attributes.concerto_config.#{c.key.to_sym}") %>  
                      <div class="input">
                        <%= select_tag "concerto_config[#{c.key}]", time_zone_options_for_select(ConcertoConfig[:system_time_zone], ActiveSupport::TimeZone.us_zones) %>
                      </div>
                    <% elsif c.value_type == "boolean" %>
                        <div class="input checkbox">
                          <%= tag 'input', :type => 'hidden', :name => "concerto_config[#{c.key}]", :value => '0' %>
                          <% if ConcertoConfig[c.key.to_sym] == true %>
                              <%= check_box_tag "concerto_config[#{c.key}]", true, :checked => true %>
                          <% else %>
                              <%= check_box_tag "concerto_config[#{c.key}]", true %>
                          <% end %>
                          <%= label "concerto_config", c.key.to_sym, t("activerecord.attributes.concerto_config.#{c.key.to_sym}") %>
                        </div>
                    <% end %>
                  </div>
              <% end %>
              <%= "</div>".html_safe if i > 0 %>
            </div>
          </div>
        </fieldset>

        <div class="submit_bar actions">
          <%= submit_tag t('.save_settings'), :class => "btn primary" %>
        </div>
    <% end %>

  </div>
  </section>
