<section class="viewblock">
  <header class="viewblock-header">
    <h1 class="default-padding"><%= t(:admin_dashboard) %></h1>
  </header>

  <div class="viewblock-cont">

    <div class="row-fluid">
      <div class="span4">
        <div class="default-padding<% if @latest_version > Concerto::VERSION::STRING %> alert alert-block alert-removeborder<% end %>">
          <h5><%= t :concerto_version %></h5>
          <h1><%= Concerto::VERSION::STRING %></h1>
          <% if @latest_version > Concerto::VERSION::STRING %>
              <i class="ficon-exclamation-sign" style="font-size: 1.4em;"></i>
              <b><%= t :new_version, :version => @latest_version %></b>
          <% end %>
          <%= link_to t(:backup), :action => "run_backup" %>
        </div>
      </div>
      <div class="span4">
        <div class="default-padding">
          <h5><%= t :delayed_job_status %></h5>

          <h1>
            <% if @delayed_job_running %>
                <i class="ficon-play-circle"></i><%= t :running %>
            <% else %>
                <i class="ficon-stop"></i><%= t :stopped %>
            <% end %>
            <small style="font-size: 0.4em; padding-left: 16px;"><%= link_to t(:start_stop), "#", :style => "text-decoration: underline;" %></small>
          </h1>
        </div>
      </div>
      <div class="span4">
        <div class="default-padding">
          <h5><%= t :user_stats %></h5>

          <h1><%= User.all.size %> <i class="ficon-user"></i>
            <small style="font-size: 0.4em; padding-left: 16px;"><%= link_to t(:manage_users), users_path, :style => "text-decoration: underline;" %></small>
          </h1>
        </div>
      </div>
    </div>

  </div>

</section>

<section class="viewblock">
  <header class="viewblock-header">
    <h1 class="default-padding">
      <%= t :edit_preferences %>
    </h1>
  </header>
  <div class="viewblock-cont" style="min-height: 600px;">

    <div class="subnav clearfix">
      <ul class="nav nav-tabs">
        <li class="active">
          <%= link_to dashboard_path do %>
            <i class="ficon-cog"></i><%= t :global_preferences %>
          <% end %>
        </li>
        <li>
          <%= link_to dashboard_path do %>
            <i class="ficon-bolt"></i><%= t :manage_plugins %>
          <% end %>
        </li>
      </ul>
    </div>

    <%= form_tag "/dashboard/update" do %>

        <fieldset>

          <% for c in @concerto_configs %>
              <div class="clearfix">
                <% if c.value_type == "string" || c.value_type == "integer" %>
                    <%= label "concerto_config", c.key.to_sym, t("activerecord.attributes.concerto_config.#{c.key.to_sym}") %>
                    <div class="input">
                      <%= text_field_tag "concerto_config[#{c.key}]", ConcertoConfig[c.key.to_sym] %>
                    </div>
                <% elsif c.value_type == "boolean" %>
                    <div class="input">
                      <%= hidden_field_tag "concerto_config[#{c.key}]", '0' %>
                      <% if ConcertoConfig[c.key.to_sym] == "true" %>
                          <%= check_box_tag "concerto_config[#{c.key}]", true, :checked => true %>
                      <% else %>
                          <%= check_box_tag "concerto_config[#{c.key}]", true %>
                      <% end %>
                      <%= label "concerto_config", c.key.to_sym, t("activerecord.attributes.concerto_config.#{c.key.to_sym}") %>
                    </div>
                <% end %>
              </div>
          <% end %>
        </fieldset>

        <div class="submit_bar actions">
          <%= submit_tag t(:save_settings), :class => "btn primary" %>
        </div>
    <% end %>

  </div>
  </section>