<section class="viewblock">
  <header class="viewblock-header">
    <h1 class="default-padding"><%= t(:admin_dashboard) %></h1>
  </header>
  
  <div class="viewblock-cont">
    
    <div class="row-fluid">
      <div class="span4">
        <div class="default-padding<% if latest_version() > Concerto::VERSION::STRING %> alert alert-block alert-removeborder<% end %>">
          <h5>Concerto Version:</h5>
          <h1><%= Concerto::VERSION::STRING %></h1>
          <% if latest_version() > Concerto::VERSION::STRING %>
            <i class="ficon-exclamation-sign" style="font-size: 1.4em;"></i> <b>A new version (<%= latest_version() %>) is now available.</b>
          <% end %>
        </div>
      </div>
      <div class="span4">
        <div class="default-padding">
          <h5>Delayed Job Status:</h5>
          <h1>
            <% if @delayed_job_running %>
              <i class="ficon-play-circle"></i> Running
            <% else %>
              <i class="ficon-stop"></i> Stopped
            <% end %>
            <small style="font-size: 0.4em; padding-left: 16px;"><%= link_to "How to Start/Stop", "#", :style => "text-decoration: underline;" %></small>
          </h1>
        </div>
      </div>
      <div class="span4">
        <div class="default-padding">
          <h5>User Stats:</h5>
          <h1><%= User.all.size %> <i class="ficon-user"></i> <small style="font-size: 0.4em; padding-left: 16px;"><%= link_to "Manage Users", users_path, :style => "text-decoration: underline;" %></small></h1>
          
        </div>
      </div>
    </div>

  </div>

</section>
    
<section class="viewblock">
  <header class="viewblock-header">
    <h1 class="default-padding"><%= t(:admin_dashboard) %></h1>
  </header>

  <div class="viewblock-cont">

    <%= form_tag "/dashboard/update" do %>

      <fieldset>
        <legend><span><%= t(:admin) %></span></legend>

        <% for c in @concerto_configs %>
          <div class="clearfix">
            <% if c.value_type == "string" || c.value_type == "integer" %>
              <label><%= t(c.key.to_sym) %></label>
              <div class="input">
                <%= text_field_tag "concerto_config[#{c.key}]", ConcertoConfig[c.key.to_sym] %>
              </div>
            <% elsif c.value_type == "boolean" %>
              <label></label>
              <div class="input">
								<%= hidden_field_tag "concerto_config[#{c.key}]", '0' %>
                <% if ConcertoConfig[c.key.to_sym] == "true" %>
                  <%= check_box_tag "concerto_config[#{c.key}]", true, :checked => true %>
								<% else %>
                  <%= check_box_tag "concerto_config[#{c.key}]", true %> 
                <% end %>
                <%= label "concerto_config[#{c.key}]", t(c.key.to_sym) %>
              </div>
            <% end %>
          </div>
        <% end %>
      </fieldset>
      
      <div class="submit_bar actions">
        <%= submit_tag t(:save_settings) %>
      </div>
    <% end %>
    
  </div>
</section>
