<section class="C">
  <header class="C-header">
    <h1 class="default-padding"><%= t(:dashboard) %></h1>
  </header> 
  <div class="C-cont">
    <%= form_tag "/dashboard/update" do %>
      <% @configs = ConcertoConfig.all %>

      <fieldset>
        <legend><span><%= t(:admin) %></span></legend>

        <% for c in @configs %>
          <div class="clearfix">
            <% if c.value_type == "string" || c.value_type == "integer" %>
              <label><%= t(c.key.to_sym) %></label>
              <div class="input">
                <%= text_field_tag "concerto_config[#{c.key}]", ConcertoConfig[c.key.to_sym] %>
              </div>
            <% elsif c.value_type == "boolean" %>
              <label></label>
              <div class="input">
                <% if ConcertoConfig[c.key.to_sym] == "true" %>
                  <%= check_box_tag "concerto_config[#{c.key}]", true, :checked => true %> 
                <% else %>
                  <%= check_box_tag "concerto_config[#{c.key}]", true%> 
                <% end %>
                <%= label "concerto_config[#{c.key}]", t(c.key.to_sym) %>
              </div>
            <% end %>
          </div>
        <% end %>
      </fieldset>
      
      <div class="submit_bar actions">
        <%= submit_tag "Save Settings" %>
      </div>
    <% end %>
    <div class="clear"></div>
  </div>
</section>