<% content_for :title do %>
  Dashboard
<% end %>
<div class="row-fluid">
  <div class="span7">
    <%= render :partial => 'browse' %>
  </div>
  <div class="span5">
    <%= render :partial => 'latest_activity' %>
    <%= render :partial => 'network' %>
    <%= render :partial => 'vitals' %>
    <% if can? :manage, :all %>
      <%= render :partial => 'dashboard/admin_stats' %>
    <% end %>
  </div>
</div>
