<% content_for :title do %>
  Dashboard
<% end %>

<section class="dashboard">
<div class="row-fluid">
  <div class="span7">
    <%= render partial: "layouts/motd" %>
    <%= render partial: 'browse' %>
  </div>
  <div class="span5">
    <%= render partial: 'latest_activity', locals: {activities: @activities} %>
    <%= render partial: 'network' %>
    <%= render partial: 'vitals', locals: {screens: @screens, feeds: @feeds, templates: @templates, active_content: @active_content, groups: @groups, users: @users } %>
    <% if can? :manage, :all %>
      <%= render partial: 'dashboard/admin_stats' %>
    <% end %>
  </div>
</div>
</section>