<div id="<%= dom_id content %>">
  <p>
    <strong>Name:</strong>
    <%= content.name %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= content.duration %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= content.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= content.end_time %>
  </p>

  <p>
    <strong>Subtype:</strong>
    <%= content.subtype_id %>
  </p>

</div>
