<div>
  <%= form.label :name, style: "display: block" %>
  <%= form.text_field :name %>
</div>

<div>
  <%= form.label :duration, style: "display: block" %>
  <%= form.number_field :duration %>
</div>

<div>
  <%= form.label :start_time, style: "display: block" %>
  <%= form.datetime_field :start_time %>
</div>

<div>
  <%= form.label :end_time, style: "display: block" %>
  <%= form.datetime_field :end_time %>
</div>