<% if !@contents.empty? %>
  <table cellpadding="0" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th><%= t(:link) %></th>
        <th><%= t(:title) %></th>
        <th><%= t(:description) %></th>
        <th><%= t(:submitted) %></th>
        <th><%= t(:updated) %></th>
      </tr>
    </thead>
    <tbody>
      <% @contents.each do |content| %>
        <tr>
          <td>
            <%= link_to content do %>
              <%= image_tag("icons/icon_#{content.type}_40.png", { alt: "View Content", width: "40px", height: "40px"}) %>
            <% end %>
          </td>
          <td><%= link_to content do %><h2><%=h content.name %></h2><% end %></td>
          <td><p><%=h content.data %></p></td>
          <td><%=h content.created_at.strftime('%D') unless content.updated_at.nil? %></td>
          <td><%=h content.updated_at.strftime('%D') unless content.updated_at.nil? %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<div style="clear:both;"></div>
