<section class="C-full sm">
	<header>
		<%= back_button "#" %>
		<h1>Browse Content</h1>
	</header> 
	<div class="C-cont">
		<article>
			<a class="button" href="#" onclick="this.blur();"><span>Design a Graphic</span></a>
			<% @contents.each do |content| %>
			<ul class="iconlist"> 
			  	<li> 
			  		<a href=""> 
			  			<div class="iconlist_padding"> 
			      			<div class="ins"> 
			        				<div class="type-folder"><%= content.data %><%#= image_tag("ph/ph.png", :alt => "") %></div>
			      			</div> 
			      			<h2>
								<%= content.name %>
								<br />
								<%= content.start_time %> - <%= content.end_time %>
							</h2> 
			    			</div> 
			  		</a> 
			  	</li>
			</ul>
			<% end %>
		</article> 
		<aside>
		  <ul class="feedbuttons">
		    <li class="selected"><%= link_to "#", :class => "button" do %><span>99+</span>Service &amp; Community<% end %></li>
		    <li><%= link_to "#", :class => "button" do %><span>7</span>Entertainment<% end %></li>
	     </ul>
		</aside>
		<div class="clear"></div>
	</div>
</section>