<h1>Listing contents</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Mime type</th>
    <th>Duration</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Data</th>
    <th>User</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contents.each do |content| %>
  <tr>
    <td><%= content.name %></td>
    <td><%= content.mime_type %></td>
    <td><%= content.duration %></td>
    <td><%= content.start_time %></td>
    <td><%= content.end_time %></td>
    <td><%= content.data %></td>
    <td><%= content.user %></td>
    <td><%= content.type %></td>
    <td><%= link_to 'Show', content %></td>
    <td><%= link_to 'Edit', edit_content_path(content) %></td>
    <td><%= link_to 'Destroy', content, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New content', new_content_path %>
