<section class="C no">
	<header>
		<h1 id="contentlist"><%=t :browse_content %></h1>
	</header> 
	<div class="C-cont">
		<article>
			<div class="subnav clearfix">
				<div class="pull-left" style="width:8%;">
					<a href="#" class="button">Jump to Feed...</a>
				</div>
				<div class="pull-right" style="width:91%;">
					<ul class="tabs">
					  <li class="legend">Sub-feeds:</li>
						<% @feeds.each do |feed| %>
						<li><%= link_to feed, :remote => true do %><%= feed.name %> (<span class="count"><%= feed.approved_contents.count %></span>)<% end %></li>
						<% end %>
					</ul>
				</div>
			</div>
			<div id="content_holder">
				<%= render :partial => @content_display, :locals => {:contents => @contents, :is_ajax => true} %>
			</div>
		</article> 
		<div class="clear"></div>
	</div>
</section>
