<section class="C">
	<header>
		<h1 id="contentlist"><%=t :browse_content %></h1>
	</header> 
	<div class="C-cont">
		<article>
			<%#= link_to "Design a Graphic", "#", :class => "button" %>
			<div class="clear"></div>
			<div id="content_holder">
				<%= render :partial => @content_display, :locals => {:contents => @contents, :is_ajax => true} %>
			</div>
		</article> 
		<aside id="sb">
		  <ul class="feedbuttons">
				<% @feeds.each do |feed| %>
				<li><%= link_to feed, :class => "button", :remote => true do %><span class="count"><%= feed.approved_contents.count %></span><span class="disclosure">&nbsp;</span><%= feed.name %><% end %></li>
				<% end %>
	    </ul>
		</aside>
		<div class="clear"></div>
	</div>
</section>
