<div class="row-fluid">
  <div class="span2 collapse-right">
    <ul class="nav nav-tabs nav-stacked nav-drawer-left">
      <li class="nav-header"><%= t(:content_type) %></li>
      <% allowed_types = allowed_content_types(@feeds) %>
      <% content_types.each do |subclass| %>
        <% if allowed_types.include?(subclass.name) %>
          <li <% if @content.is_a?(subclass) %> class="active"<% end %>>
            <%= link_to display_name(subclass), new_content_path(:type => subclass.model_name.singular) %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class="span10">
    <section class="viewblock">
      <header class="viewblock-header">
        <div class="viewblock-header_right default-padding"><a class="button" href="#"><%=t(:design_graphic)%></a></div>
        <h1 class="default-padding"><%= t(:add) + " " + display_name(@content.class) + " " + t(:content) %></h1>
      </header> 
      <div class="viewblock-cont">
        <%= render 'form' %>
      </div>
    </section>
  </div>
</div>
