<div class="row-fluid">
  <div class="span2">
    <h3><%= t(:select_content_type) %></h3>
    <ul>
      <% content_types.each do |subclass| %>
  			<li>
  				<%= link_to subclass.model_name.human, new_content_path(:type=>subclass.model_name.singular) %>
  			</li>
			<% end %>
    </ul>
  </div>
  <div class="span10">
    <section class="C">
    	<header class="C-header">
    		<div class="C-header_right"><a class="button" href="#"><%=t(:design_graphic)%></a></div>
    		<h1><%= t(:add) + " " + @content.class.to_s + " " + t(:content) %></h1>
    	</header> 
    	<div class="C-cont">
    		<%= render 'form' %>
    		<div class="clear"></div>
    	</div>
    </section>
  </div>
</div>