<section class="MS-frame">
	<header>
		<h1><%= t(:select_content_type)%></h1>
	</header>
	<div class="MS-outer">
		<article>
			<ul class="iconlist">
				<% content_types.each do |subclass| %>
				<li> 
			  		<%= link_to new_content_path(:type=>subclass.model_name.singular) do %> 
			  			<div class="iconlist_padding"> 
		        			<div class="ins"> 
		          				<div class="type-folder"><%= image_tag("ph/ph.png", :alt => "") %></div>
		        			</div> 
		        			<h2><%= subclass.model_name.human %></h2> 
		      			</div> 
			  		<% end %> 
			  	</li>
				<% end%>
			</ul>
			<div class="clear"></div>
		</article>
	</div>
</section>

<section class="C lg">
	<header>
		<%= back_button "#", t(:select_type) %>
		<div class="C-header_right"><a class="button" href="#"><%=t(:design_graphic)%></a></div>
		<h1><%= t(:add) + " " + @content.class.to_s + " " + t(:content) %></h1>
	</header> 
	<div class="C-cont">
		<article>
			<%= render 'form' %>
		</article>
		<aside> 
		</aside>
		<div class="clear"></div>
	</div>
</section>