<section class="viewblock">
  <header class="viewblock-header">
    <div class="viewblock-header_right default-padding">  &nbsp;
    </div>
    <h1 class="default-padding"><%= t('.add_content', type: @content.class.display_name)%></h1>
  </header>
  <div class="viewblock-cont">

    <div class="subnav clearfix">
      <ul class="nav nav-tabs">
        <% available_types = get_available_types() %> 
        <% available_types.each do |subclass| %>
          <% type_folder = "contents/#{subclass.name.underscore}" %>

          <li <% if @content.class.name == subclass.name %> class="active"<% end %>>
            <%= link_to new_content_path(type: subclass.model_name.singular) do %>
              <%= render_partial_if("#{type_folder}/tab_icon", "tab_icon") %> <%= subclass.display_name %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>

    <%= render 'form' %>
  </div>
</section>
