<section class="viewblock">
  <header class="viewblock-header">
    <h1 class="default-padding" >
      <%= link_to possessive(@content.user.name.strip) + " " + Content.model_name.human.pluralize, @content.user %> &gt; 
      <%= @content.name %>
    </h1>
  </header> 
  <div class="viewblock-cont">

    <div class="row-fluid">
      <div class="span2">

        <div class="default-padding">

          <div class="subblock">
            <p class="uppercase" style="margin-bottom: 0px;"><small><b><%= t('.display_from') %></b></small></p>
            <% if !@content.start_time.nil? %>
              <p><%= @content.start_time.strftime("%a %b %d %Y") %><br /><%= @content.start_time.strftime("%I:%M %P") %></p>
            <% else %>
              <p><%= t('.the_dawn_of_time') %></p>
            <% end %>
            <p class="uppercase" style="margin-bottom: 0px;"><small><b><%= t('.display_until') %></b></small></p>
            <% if !@content.end_time.nil? %>
              <p><%= @content.end_time.strftime("%a %b %d %Y") %><br /><%= @content.end_time.strftime("%I:%M %P") %></p>
            <% else %>
              <p><%= t('.the_end_of_time') %></p>
            <% end %>
          </div>
          
          <div class="subblock">
            <%= t('.submitted_by') %> <%= link_to @user.name, @user %>
          </div>

          <div class="subblock">
            <% if @content.submissions.all.count > 0 %>
              <h3><%= t('.feeds_moderation_status') %></h3>
              <ul>
                <% @content.submissions.all.each do |submission| %>
                  <li><%= link_to submission.feed.name, [submission.feed, submission] %> - <%= submission.moderation_text %></li>
                <% end %> 
              </ul>
            <% end %>
          </div>

        </div>

      </div>
      <div class="span10">
        <div class="default-padding">
          <%= render_content(@content) %>
        </div>
      </div>

    </div>
    
  </div>
</section>
