<section class="viewblock">
  <header class="viewblock-header">
    <div class="viewblock-header_right">
      <div class="button-padding">
        <% if can? :update, @content %>
          <%= link_to t(:edit_model, :model => Content), edit_content_path(@content), :class => "btn" %>
        <% end %>
        <% if can? :delete, @content %>
          <%= link_to t(:destroy_model, :model => Content), @content, :data => { :confirm => t(:are_you_sure_delete_model_key, :model => Content.model_name.human, :key => @content.name) }, :method => :delete, :class => "btn" %>
        <% end %>
      </div>
    </div>

    <div class="default-padding">
      <h1>
        <%= link_to possessive(@content.user.name.strip) + " " + Content.model_name.human.pluralize, @content.user %> &gt; 
        <%= @content.name %>
      </h1>
    </div>
  </header>
  <div class="viewblock-cont">

    <div class="row-fluid">
      <div class="span2">

        <div class="default-padding">

          <div class="subblock">
            <p class="uppercase" style="margin-bottom: 0px;"><small><b><%= t('.display_from') %></b></small></p>
            <% if !@content.start_time.nil? %>
              <p><%= l @content.start_time, :format => :short_day %><br /><%= l @content.start_time, :format => :twelve_hour_time %></p>
            <% else %>
              <p><%= t('.the_dawn_of_time') %></p>
            <% end %>
            <p class="uppercase" style="margin-bottom: 0px;"><small><b><%= t('.display_until') %></b></small></p>
            <% if !@content.end_time.nil? %>
              <p><%= l @content.end_time, :format => :short_day %><br /><%= l @content.end_time, :format => :twelve_hour_time %></p>
            <% else %>
              <p><%= t '.the_end_of_time' %></p>
            <% end %>
          </div>
          
          <div class="subblock">
            <%= t('.submitted_by') %> <%= link_to @user.name, @user %>
          </div>
          
          <div class="subblock">
              <h3><%= t('.feeds_moderation_status') %></h3>
            <% if @content.submissions.count > 0 %>
              <ul>
                <% @content.submissions.each do |submission| %>
                  <li><%= link_to submission.feed.name, [submission.feed, submission] %> - <%= submission.moderation_text %></li>
                <% end %> 
              </ul>
            <% else %>
              <%= t('.not_submitted') %>
            <% end %>
          </div>
        
          <%= render :partial => 'dynamic_content_tools', :locals => { :content => @content } if @content.is_a?(DynamicContent) && can?(:edit, @content) %>

        </div>

      </div>
      <div class="span10">
        <div class="default-padding">
          <%= render_content(@content) %>
        </div>
      </div>

    </div>
    
  </div>
</section>
