<div class="default-padding">
  <h1><%= pluralize(@feeds.count, Feed.model_name.human.capitalize) %></h1>
</div>

<ul class="list-stacked">
  <% @feeds.each do |feed| %>
    <% if feed.approved_contents.size != 0 || feed.group.has_member?(current_user) %>
      <li>
        <h3>
          <%= link_to feed_submissions_path(feed), :class => "link-hl" do %>
            <span class="badge"><%= feed.approved_contents.active.count %></span> <%= feed.name %>
          <% end %>
          <small>&nbsp;&nbsp;<%= feed.description %></small>
        </h3>
        <% if feed.children.count > 0 %>
          <p class="indented">
            <%= t(:sub_feeds) %>:
            <% feed.children.each do |sub_feed| %>
              <%= link_to sub_feed.name, feed_submissions_path(sub_feed), :class => "link-hl" %>
            <% end %>
          </p>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
