<div class="default-padding">
  <h1><%= pluralize(@feeds.count, t(:feed).capitalize) %></h1>
</div>

<ul class="list-stacked">
  <% @feeds.each do |feed| %>
    <% if feed.approved_contents.size != 0 || feed.group.has_member?(current_user) %>
      <li>
        <h3>
          <%= link_to feed_submissions_path(feed), :class => "link-hl" do %>
            <span class="badge"><%= feed.approved_contents.active.count %></span> <%= feed.name %>
          <% end %>
          <small>&nbsp;&nbsp;<%= feed.description %></small>
          <% if can? :update, feed %>
            <small><%= link_to t(:edit), edit_feed_path(feed) %></small>
          <% end %>
          <% if can? :delete, feed %>
            <small><%= link_to t(:destroy), feed, :data => { :confirm => 'Are you sure?'}, :method => :delete %></small>
          <% end %>          
        </h3>    
        <% if feed.children.count > 0 %>
          <p class="indented">
            <%= t(:sub_feeds) %>
            <% feed.children.each do |sub_feed| %>
              <%= link_to sub_feed.name, feed_submissions_path(sub_feed), :class => "link-hl" %>
              <% if can? :update, sub_feed %>
                <small><%= link_to t(:edit), edit_feed_path(sub_feed) %></small>
              <% end %>
              <% if can? :delete, sub_feed %>
                <small><%= link_to t(:destroy), sub_feed, :data => { :confirm => 'Are you sure?'}, :method => :delete %></small>
              <% end %>     
            <% end %>
          </p>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>

<% if can? :create, Feed %>
  <div class="default-padding">
    <%= link_to t(:new_feed), new_feed_path, :class => "btn" %>
  </div>
<% end %>
