<%= form_for(@feed) do |f| %>
  <% if @feed.errors.any? %>
    <div class="alert alert-banner alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4><b><%= pluralize(@feed.errors.count, t(:error)) %> <%= t('.prohibited_feed_save') %></b></h4>
      <ul>
        <% @feed.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <div class="clearfix">
      <%= f.label :name	%>
      <div class="input">
        <%= f.text_field :name, :class => "span6", :autofocus => true %>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label :description %>
      <div class="input">
        <%= f.text_area :description, :rows => 6, :class => "span6" %>
      </div>
    </div>
    <%
      parent_feeds = dfs_tree(Feed.roots, @feed)
      unless parent_feeds.empty?
     %>
    <div class="clearfix">
      <%= f.label :parent %>
      <div class="input">
        <%= f.select :parent_id, parent_feeds.collect{|c| [("&nbsp; &nbsp;"*c.depth).html_safe + c.name, c.id ]}, {:include_blank => true } %>
      </div>
    </div>
    <% end %>
    <div class="clearfix">
      <%= f.label :group %>
      <div class="input">
        <%= f.collection_select :group_id, Group.all, :id, :name %>
      </div>
    </div>
    
    <div class="clearfix">
      <label><%= t('.other_options') %></label>
      <div class="input checkbox">
        <ul class="inputs-list">
          <li>
            <%= f.check_box :is_viewable %> <%= f.label :is_viewable %>
          </li>
          <li>
            <%= f.check_box :is_submittable %> <%= f.label :is_submittable %>
          </li>
        </ul>
      </div>
    </div>
    
    <div class="clearfix">
      <label><%= t('.allowed_types') %></label>
      <div class="input checkbox">
        <ul class="inputs-list">
          <%= f.fields_for :content_types do |content_types| %>
            <% Concerto::Application.config.content_types.sort_by{|type| type.display_name}.each do |type| %>
              <li>
                <%= content_types.check_box type.name, {:checked => (@feed.content_types["#{type.name}"] == "1")} %> <label for="feed_content_types_<%= type.name %>"><%= type.display_name %></label>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
    
  </fieldset>
  
  <div class="submit_bar actions">
    <%= f.submit button_text, :class => "btn primary" %> <%= link_to t(:cancel), feeds_path, :class => "btn" %>
  </div>
<% end %>
