<%= form_for(@feed) do |f| %>
	<% if @feed.errors.any? %>
	<div id="errorExplanation">
	  <h2><%= pluralize(@feed.errors.count, "error") %> <%= t(:prohibited_feed_save) %></h2>
	  <ul>
	    <% @feed.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	  </ul>
	</div>
	<% end %>
	
	<div class="fields">	
		<div class="field">
		  	<%= f.label t(:name) %>
		  	<div class="inputs">
				<%= f.text_field :name %>
			</div>
		</div>
		<div class="field">
		  	<%= f.label t(:description) %>
		  	<div class="inputs">
				<%= f.text_area :description %>
			</div>
		</div>
		<div class="field">
		  	<%= f.label t(:parent) %>
		  	<div class="inputs">
                        <%= f.select :parent_id, dfs_tree(Feed.roots).collect{|c| [raw("&nbsp;&nbsp;")* c.depth + c.name, c.id ]}, {:include_blank => true } %>
			</div>
		</div>
		<div class="field">
		  	<%= f.label t(:group) %>
		  	<div class="inputs">
				<%= f.collection_select :group_id, Group.all, :id, :name %>
			</div>
		</div>
                <div class="field">
                        <%= f.label t(:is_viewable) %>
                        <div class="inputs">
                                <%= f.check_box :is_viewable %>
                        </div>
                </div>
                <div class="field">
                        <%= f.label t(:is_submittable) %>
                        <div class="inputs">
                                <%= f.check_box :is_submittable %>
                        </div>
                </div>
	</div>

	<div class="submit_bar actions">
    	<%= f.submit t(:submit)%>
		<div class="clear"></div>
  	</div>
<% end %>
