<%= form_with(model: feed) do |form| %>
  <% if feed.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(feed.errors.count, "error") %> prohibited this feed from being saved:</h2>

      <ul>
        <% feed.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="sm:col-span-full">
    <%= form.label :name, class: "frm-label" %>
    <%= form.text_field :name, class: "frm-input" %>
  </div>

  <div class="sm:col-span-full">
    <%= form.label :description, class: "frm-label" %>
    <%= form.text_area :description, class: "frm-input" %>
  </div>

  <div class="mt-8">
    <%= form.submit class: "btn" %>
  </div>
<% end %>
