<%= form_for(@feed) do |f| %>
	<% if @feed.errors.any? %>
	<div id="errorExplanation">
	  <h2><%= pluralize(@feed.errors.count, "error") %> prohibited this feed from being saved:</h2>
	  <ul>
	    <% @feed.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	  </ul>
	</div>
	<% end %>
	
	<div class="fields">	
		<div class="field">
		  	<%= f.label :name %>
		  	<div class="inputs">
				<%= f.text_field :name %>
			</div>
		</div>
		<div class="field">
		  	<%= f.label :description %>
		  	<div class="inputs">
				<%= f.text_area :description %>
			</div>
		</div>
		<div class="field">
		  	<%= f.label :parent_id %>
		  	<div class="inputs">
				<%= f.text_field :parent_id %>
			</div>
		</div>
		<div class="field">
		  	<%= f.label :group %>
		  	<div class="inputs">
				<%= f.collection_select :group_id, Group.all, :id, :name %>
			</div>
		</div>
	</div>

	<div class="submit_bar actions">
    	<%= f.submit %>
		<div class="clear"></div>
  	</div>
<% end %>
