<% content_for :left_sidebar do %>
  <%= render :partial => 'left_menu' %>
<% end %>
<table width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <th><%= t(:name) %></th>
    <th><%= t(:description) %></th>
    <th><%= t(:parent) %></th>
    <th><%= t(:group) %></th>
	<th><%= t(:show) %></th>
	<th><%= t(:edit) %></th>
	<th><%= t(:delete) %></th>
  </tr>
<% @feeds.each do |feed| %>
  <tr>
    <td><%= feed.name %></td>
    <td><%= feed.description %></td>
    <td><%= feed.group.name unless feed.group.nil? %></td>
    <td><%= link_to t(:show), feed %></td>
    <td><%= link_to t(:edit), edit_feed_path(feed) %></td>
    <td><%= link_to t(:delete), feed, :confirm => t(:are_you_sure), :method => :delete %></td>
  </tr>
<% end %>
</table>
<br />
<%= link_to t(:new_feed), new_feed_path %>
