<%= page_title "Feeds" %>
<p style="color: green"><%= notice %></p>

<h1 class="text-xl">All Feeds</h1>

<div id="feeds">
  <% @feeds.each do |feed| %>
    <div class="p-4 border-2 bg-white my-4">
      <div class="text-lg font-medium"><%= link_to feed.name, feed %></div>
      <div><%= feed.description %></div>
      <div class="pt-2"><%= feed.content.count %> pieces of content</div>
    </div>
  <% end %>
</div>

<div class="flex space-x-4">
  <%= link_to "New feed", new_feed_path, class: "btn" %>

  <%= link_to new_rss_feed_path, class: "btn" do%>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 mr-2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M12.75 19.5v-.75a7.5 7.5 0 0 0-7.5-7.5H4.5m0-6.75h.75c7.87 0 14.25 6.38 14.25 14.25v.75M6 18.75a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
    </svg>
    <span>New rss feed</span>
  <% end %>
</div>
