<% content_for :left_sidebar do %>
  <%= render :partial => 'left_menu', :locals => { :feeds => @feeds } %>
<% end %>
<table width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Parent</th>
    <th>Group</th>
	<th>Show</th>
	<th>Edit</th>
	<th>Delete</th>
  </tr>
<% @feeds.each do |feed| %>
  <tr>
    <td><%= feed.name %></td>
    <td><%= feed.description %></td>
    <td><%= feed.parent_id %></td>
    <td><%= feed.group.name unless feed.group.nil? %></td>
    <td><%= link_to 'Show', feed %></td>
    <td><%= link_to 'Edit', edit_feed_path(feed) %></td>
    <td><%= link_to 'Destroy', feed, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<br />
<%= link_to 'New feed', new_feed_path %>
