<section class="viewblock">
  <header id="browse-header" class="viewblock-header">
    <div class="viewblock-header_right">
      <div class="status-block">
        <label><%= t(:pending) %></label>
        <span><%= @pending_submissions_count %></span>
      </div>
    </div>
    <div class="default-padding">
      <h1><%= t(:contents_pending_moderation) %></h1>
    </div>
  </header>
  <div id="browse-body" class="viewblock-cont">
    
    <% if @feeds.count > 0 %>
      <div class="default-padding">
        <h2><%= pluralize(@feeds.count, t(:feed)) %> <%= t(:with_pending_content) %></h2>
      </div>

      <ul class="list-stacked">
        <% @feeds.each do |pending_feed| %>
        <li>
          <h3>
            <%= link_to feed_submissions_path(pending_feed), class: "link-hl" do %>
              <span class="badge action"><%= pending_feed.pending_contents.count %></span> <%= pending_feed.name %>
            <% end %>
          </h3>
        </li>
        <% end %>
      </ul>
    <% else %>
      <br />
      <div class="default-padding">
        <div class="alert alert-block alert-zero">
          <p class="alert-heading"><%= t(:nothing_to_moderate) %></p>
          <% if can? :create, Content %><%= t(:no_pending_content) %><% end %>
        </div>
      </div>
    <% end %>

    
  </div>
</section>
