<% content_for :left_sidebar do %>
  <%= render :partial => 'left_menu', :locals => { :current => @feed, :feeds => @feed.self_and_siblings } %>
<% end %>
<p>
  <b>Name:</b>
  <%= @feed.name %>
</p>

<p>
  <b>Description:</b>
  <%= @feed.description %>
</p>

<p>
  <b>Parent:</b>
  <%= link_to @feed.parent.name, @feed.parent unless @feed.is_root? %>
</p>

<p>
  <b>Group:</b>
  <%= @feed.group.name %>
</p>

<% if !@feed.children.empty? %>
<p><b>Child Feeds:</b></p>
<ul>
  <% @feed.children.each do |feed| %>
    <li><%= link_to feed.name, feed %></li>
  <% end %>
</ul>
</p>
<% end %>

<p>
  <b>Approved Content:</b>
  <ul>
  <% @feed.approved_contents.each do |content| %>
    <li>
      <%= link_to content.name, content %>
    </li>
  <% end %>
  </ul>
</p>
<p>
  <b>Denied Content:</b>
  <ul>
  <% @feed.denied_contents.each do |content| %>
    <li>
      <%= link_to content.name, content %>
    </li>
  <% end %>
  </ul>
</p>
<p>
  <b>Pending Content:</b>
  <ul>
  <% @feed.submissions.pending.each do |submission| %>
    <li>
      <%= link_to submission.content.name, submission.content %> <%= link_to "[Moderate]", feed_submission_path(@feed, submission) %>
    </li>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
