<p>
  <b>Name:</b>
  <%= @feed.name %>
</p>

<p>
  <b>Description:</b>
  <%= @feed.description %>
</p>

<p>
  <b>Parent:</b>
  <%= @feed.parent_id %>
</p>

<p>
  <b>Group:</b>
  <%= @feed.group.name %>
</p>

<p>
  <b>Approved Content:</b>
  <ul>
  <% @feed.approved_contents.each do |content| %>
    <% submission = Submission.where(:feed_id => @feed.id, :content_id => content.id).first %>
    <li>
      <%= link_to content.name, content %>
      <%= render :partial => 'submissions/form', :locals => {:submission => submission } %>
    </li>
  <% end %>
  </ul>
</p>
<p>
  <b>Denied Content:</b>
  <ul>
  <% @feed.denied_contents.each do |content| %>
    <% submission = Submission.where(:feed_id => @feed.id, :content_id => content.id).first %>
    <li>
      <%= link_to content.name, content %>
      <%= render :partial => 'submissions/form', :locals => {:submission => submission } %>
    </li>
  <% end %>
  </ul>
</p>
<p>
  <b>Pending Content:</b>
  <ul>
  <% @feed.pending_contents.each do |content| %>
    <% submission = Submission.where(:feed_id => @feed.id, :content_id => content.id).first %>
    <li>
      <%= link_to content.name, content %>
      <%= render :partial => 'submissions/form', :locals => {:submission => submission } %>
    </li>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
