<% content_for :left_sidebar do %>
  <%= render :partial => 'left_menu', :locals => { :current => @feed, :feeds => @feed.self_and_siblings } %>
<% end %>
<p>
  <b><%= t(:name)%>:</b>
  <%= @feed.name %>
</p>

<p>
  <b><%= t(:description)%>:</b>
  <%= @feed.description %>
</p>

<p>
  <b><%= t(:parent)%>:</b>
  <%= link_to @feed.parent.name, @feed.parent unless @feed.is_root? %>
</p>

<p>
  <b><%= t(:group)%>:</b>
  <%= @feed.group.name %>
</p>

<% if !@feed.children.empty? %>
<p><b><%= t(:child_feeds)%>:</b></p>
<ul>
  <% @feed.children.each do |feed| %>
    <li><%= link_to feed.name, feed %></li>
  <% end %>
</ul>
</p>
<% end %>

<p>
  <b><%= t(:approved_content)%>:</b>
  <ul>
  <% @feed.approved_contents.each do |content| %>
    <li>
      <%= link_to content.name, content %>
    </li>
  <% end %>
  </ul>
</p>
<p>
  <b><%= t(:denied_content)%>:</b>
  <ul>
  <% @feed.denied_contents.each do |content| %>
    <li>
      <%= link_to content.name, content %>
    </li>
  <% end %>
  </ul>
</p>
<p>
  <b><%= t(:pending_content)%>:</b>
  <ul>
  <% @feed.submissions.pending.each do |submission| %>
    <li>
      <%= link_to submission.content.name, submission.content %> <%= link_to "[#{t(:moderate)}]", feed_submission_path(@feed, submission) %>
    </li>
  <% end %>
  </ul>
</p>

<%= link_to t(:edit), edit_feed_path(@feed) %> |
<%= link_to t(:back), feeds_path %>
