<p style="color: green"><%= notice %></p>

<%= render @feed %>

<div>
  Content
  <% @feed.content.each do |content| %>
    <%= link_to content.name, content %>
  <% end %>
</div>

<div>
  <%= link_to "Edit this feed", edit_feed_path(@feed) %> |
  <%= link_to "Back to feeds", feeds_path %>

  <%= button_to "Destroy this feed", @feed, method: :delete %>
</div>
