<h1>Concerto is coming soon!</h1>
<p>
Current user is <%=current_user.inspect%>
</p>
<p>
Current screen is <%=current_screen.nil? ? "nil" : current_screen.id%>
</p>
<p>
Can read feed 1: <%= can? :read, Feed.first %>
</p>
<p>
Can read user 1: <%= can? :read, User.first %>
</p>
<p>
Can read screen 1: <%= can? :read, Screen.first %>
</p>
<p>
Can read screen 2: <%= can? :read, Screen.find(2) %>
</p>
<p>Current ability:</p>
<pre>
<%= current_ability.inspect %>
</pre>

