<!DOCTYPE html>
<html>
  <head>
    <title>Concerto Player</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'player' %>
    <style>
      html, body, #screen {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="screen" data-id="<%= @screen.id %>"></div>
  </body>
</html>