<h1>Listing <%= @template.name %> positions</h1>

<table>
  <tr>
    <th>Style</th>
    <th>Top</th>
    <th>Left</th>
    <th>Bottom</th>
    <th>Right</th>
    <th>Field</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @positions.each do |position| %>
  <tr>
    <td><%= position.style %></td>
    <td><%= position.top %></td>
    <td><%= position.left %></td>
    <td><%= position.bottom %></td>
    <td><%= position.right %></td>
    <td><%= position.field.name %></td>
    <td><%= link_to 'Show', template_position_path(@template, position) %></td>
    <td><%= link_to 'Edit', edit_template_position_path(@template, position) %></td>
    <td><%= link_to 'Destroy', [@template, position], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New position', new_template_position_path(@template) %>
