<p>
  <b>Style:</b>
  <%= @position.style %>
</p>

<p>
  <b>Top:</b>
  <%= @position.top %>
</p>

<p>
  <b>Left:</b>
  <%= @position.left %>
</p>

<p>
  <b>Bottom:</b>
  <%= @position.bottom %>
</p>

<p>
  <b>Right:</b>
  <%= @position.right %>
</p>

<p>
  <b>Field:</b>
  <%= @position.field.name %>
</p>

<p>
  <b>Template:</b>
  <%= @position.template.name %>
</p>


<%= link_to 'Edit', edit_template_position_path(@template, @position) %> |
<%= link_to 'Back', template_positions_path(@template) %>
