  <header>
    <h1>Register Initial Administrator Account</h1>
  </header>
  <div class="viewblock-cont">  
    <article>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <fieldset>
        <div class="clearfix">
          <%= f.label :first_name %>
          <div class="input">
            <%= f.text_field :first_name %>
          </div>
        </div>
        <div class="clearfix">
          <%= f.label :last_name %>
          <div class="input">
            <%= f.text_field :last_name %>
          </div>
        </div>
        <div class="clearfix">
          <%= f.label :email %>
          <div class="input">
            <%= f.email_field :email %>
          </div>
        </div>
        <div class="clearfix">
          <%= f.label :password %>
          <div class="input">
            <%= f.password_field :password %>
          </div>
        </div>
        <div class="clearfix">
          <%= f.label :password_confirmation, "Confirm Password" %>
          <div class="input">
            <%= f.password_field :password_confirmation %>
          </div>
        </div>
      </fieldset>

      <div class="submit_bar actions">
        <%= f.submit "Submit", :class => "btn primary" "Register Account" %>
      </div>

    <% end %>

    </article>
  </div>