<section class="viewblock no">
	<header>
		<%= back_button :back %>
		<div class="viewblock-header_right">
		  <%= link_to "Cancel Account", registration_path(resource_name), :data => { :confirm => "Are you sure?"}, :method => :delete %>
		</div>
		<h1>Edit <%= resource_name.to_s.humanize %>'s Account</h1>
	</header>
	<div class="viewblock-cont">
    <article>
			
			<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
			  <%= devise_error_messages! %>
				
				<fieldset>
					<div class="field">
					  <%= f.label :email %>
					  <div class="inputs">
							<%= f.email_field :email %>
						</div>
					</div>
					<div class="field">
					  <%= f.label :password, "New password" %>
					  <div class="inputs">
							<i>(leave blank if you don't want to change your password)</i>
							<%= f.password_field :password %>
						</div>
					</div>
					<div class="field">
					  <%= f.label :password_confirmation, "Confirm new password" %>
					  <div class="inputs">
							<%= f.password_field :password_confirmation %>
						</div>
					</div>
					<div class="field">
					  <%= f.label :current_password %>
					  <div class="inputs">
							<i>(we need your current password to confirm your changes)</i>
							<%= f.password_field :current_password %>
						</div>
					</div>
				</div>
				
				<div class="submit_bar actions">
				  <%= f.submit "Submit", :class => "btn primary" "Update Account" %>
				</div>

			<% end %>

		</article>
		
	</div>
</section>
