<div id="selectedOwner">
  <%= link_to '#', :id => "select-owner-btn", :title => "Select a User",
      :class => "dropdown-toggle dropdown-control dd-select-owner", 
      :rel => "#select-owner" do %> 
      <% if defined? screen and !screen.new_record? %>
        <%= screen.owner.name %>
      <% else %>
        <%= t('.select_user') %>
      <% end %>
  <% end %>
</div>

<div id="select-owner" style="display: none;">
  <% if options.empty? %>
    <p> <%= t('.no_users_found') %> </p>
  <% else %>

    <div class="tooltip-filter-cont">
      <input type="text" class="owner_filter fillWidth" placeholder="<%= t('.type_to_filter') %>" />
    </div>

    <div class="tooltip-scrollY" style="height: 300px; width: 100%;">
      <ul class="filterable selector-list">

        <% if !options["Groups"].nil? %>
          <% if options["Groups"].length > 0 %>
            <h4 class="default-padding" style="text-align: center"> Groups </h4>
            <% options["Groups"].each do |group| %>
              <li id="ownerItem" class = "link-hl default-padding" style="padding: 10px"
                onclick="addOwner('<%=group[0]%>', 'group_select', '<%=group[1]%>')"
                  data-group-index = '<%=group[1].split("-")[1]%>'
                  data-group-name = '<%=group[0]%>'
                  data-group-id = '<%=group[1].split("-")[1]%>'
                  data-filter = '<%=group[0]%>'>
                <b><%= group[0] %></b>
              </li>
            <% end %>
          <% end %>
        <% end %>
 
        <% if !options["Users"].nil? %>
          <% if options["Users"].length > 0 %>
            <h4 class="default-padding" style="text-align: center"> Users </h4>
            <% options["Users"].each do |user| %>
              <li id="ownerItem" class = "link-hl default-padding" style="padding: 10px"
                onclick="addOwner('<%=user[0]%>', 'user_select', '<%= user[1]%>')"
                  data-user-index = '<%=user[1].split("-")[1]%>'
                  data-user-name = '<%=user[0]%>'
                  data-user-id = '<%=user[1].split("-")[1]%>'
                  data-filter='<%= user[0] %>'>
                <b><%= user[0] %></b>
              </li>
            <% end %>
          <% end %>
        <% end %>

      </ul>
    </div>

  <% end %>
</div>