<!--googleoff: all-->

<nav id="TM">
	
	<a href="#" id="TM-logobutton"></a>
	
	<section id="LG-inner">
		<div class="TM-sectop">
			<% if user_signed_in? %><p><b><%= current_user.name %></b></p><% end %>
		</div>
		<div class="TM-secbot">
		    <% if user_signed_in? %>
			  <p><%= link_to t(:settings), edit_user_path(current_user) %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to t(:log_out), destroy_user_session_path %> </p>
			<% else %>
			  <p><%= link_to t(:sign_up), new_user_registration_path %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to t(:sign_in), new_user_session_path %>  </p>
			<% end %>
		</div>
	</section>
	
	<!-- Begin Menu for CONTENT -->
	<section>
		<div class="TM-sectop">
			<%= link_to new_content_path, :class => 'button #{ if current_page?(new_content_path) } selected #{ end }' do %><%= t(:add) %><% end %>
			<%= link_to contents_path, :class => 'button' do %><%= t(:content) %><% end %>
			<%= link_to contents_path, :class => 'button' do %><%= t(:browse) %><% end %>
		</div>
		<div class="TM-secbot">
			<h1><%= t(:content) %></h1>
		</div>
	</section>
	<!-- End Menu for CONTENT -->

</nav>
<!--googleon: all-->
