<nav id="show-TM">
  <a href="#">-- Show Top Menu --</a>
</nav>

<nav id="TM">
  <% if not user_signed_in? %>
    <%= link_to "Concerto", root_url, :id => "TM-logobutton" %>
    <p id="TM-logintext">
      <%= link_to t(:sign_in), new_user_session_path, :id => "login-dropdown" %> <%=t(:signin_login_spiel) %>
      <% if can? :create, User %>
        No account? <%= link_to t(:sign_up), new_user_registration_path %> now!
      <% end %>
    </p>
    <script type="text/javascript">
    $(document).ready(function() {
      $("#login-dropdown").each(function() {
        $(this).qtip({
          content: {
            text: 'Loading...', // use this text while loading content via AJAX
            ajax: {
              url: '<%= new_user_session_path(:no_content_cell => 1) %>',
              type: 'GET'
            }
          },
          position: {
            at: 'bottom center', // Position the tooltip above the link
            my: 'top left',
            viewport: $(window) // Keep the tooltip on-screen at all times
          },
          show: {
            event: 'click', // Show it on click...
            solo: true // ...and hide all other tooltips...
          },
          hide: 'unfocus',
          style: 'ui-tooltip-light ui-tooltip-shadow ui-tooltip-rounded ui-tooltip-nopadding ui-tooltip-autowidth'
        })
      }).click(function(e) { e.preventDefault(); });
    });
    </script>
  <% else %>
    <%= link_to root_url, :id => "TM-logobutton", :class => "full" do %>
      <i class="icon-logobutton"></i>
    <% end %>

  <!-- Begin Menu for CONTENT -->
  <section>
    <div class="TM-sectop">
      <%= link_to t(:browse), feeds_path, :class => "btn #{ current_page?(feeds_path) || (controller.controller_name == 'submissions' && ['index', 'show'].include?(controller.action_name)) ? 'selected' : '' }" %>
      <%= link_to t(:add), new_content_path, :class => "btn #{ current_page?(new_content_path) ? 'selected' : '' }" if can? :create, Content %>
      <%= link_to '#', :class => "btn" do %>
        <%= t(:moderate) %>&nbsp;<span class="badge">0</span>
      <% end %>
    </div>
    <div class="TM-secbot">
      <h1><%= t(:content) %></h1>
    </div>
  </section>
  <!-- End Menu for CONTENT -->

  <!-- Begin Menu for NETWORK -->
  <% if !(Group.joins(:screens, :users).where(:users => {:id => current_user.id}) + current_user.screens).empty? %>
    <section>
      <div class="TM-sectop">
        <%= link_to t(:screens), screens_path, :class => "btn #{ controller.controller_name == 'screens' ? 'selected' : '' }" %>
        <%= link_to t(:users_and_groups), groups_path, :class => "btn #{ controller.controller_name == 'groups' ? 'selected' : '' }" %>
      </div>
      <div class="TM-secbot">
        <h1><%= t(:network) %></h1>
      </div>
    </section>
  <% end %>
  <!-- End Menu for NETWORK -->

  <!-- Begin Menu for ADMIN -->
  <section>
    <div class="TM-sectop">
      <%= link_to t(:dashboard), dashboard_path, :class => "btn #{ controller.controller_name == 'dashboard' ? 'selected' : '' }" %>
    </div>
    <div class="TM-secbot">
      <h1><%= t(:admin) %></h1>
    </div>
  </section>
  <!-- End Menu for ADMIN -->

  <!-- Begin User Login Area -->
  <section class="right">
    <div class="TM-sectop">
      <p><b><%= current_user.name %></b></p>
      <p><%= link_to t(:settings), edit_user_path(current_user) %>, <%= link_to t(:log_out), destroy_user_session_path %></p>
    </div>
    <div class="TM-secbot">
    </div>
  </section>
  <!-- End User Login Area -->

  <% end %>
  <div class="clear"></div>
</nav>
