  <fieldset>
    <legend><span><%= t('.select_feed') %></span></legend>

    <div class="clearfix">

      <div class="input">
        <%= link_to t(:add_model, :model => Feed.model_name.human), new_feed_path, :class => "btn info", :target => "_blank" %>
      </div>
    </div>

    <div class="clearfix">
      <label><%= t('.filter_for_feed') %></label>

<div class="input">
  <% feeds = dfs_tree(Feed.roots) %>
  <% if feeds.empty? %>
    <p><%= t(:no_feeds)%></p>
  <% else %>
    <input type="search" class="feed_filter" placeholder="Type here to filter"/>
    <br />
    <ol class='filterable'>
    <% feeds.each_with_index do |feed, i| %>
      <li data-filter="<%= feed.name %>"><%= check_box_tag "feed_id[#{i}]", feed.id, @screen.subscriptions.include?(feed) %>
      <%= "-" * feed.depth %> <%= feed.name %> <%=select("feed", feed.id.to_s+"_weight", %w[.1 .2 .3 .4 .5 .6 .7 .7 .9 1.0], {}, { :index => nil }) %></li> 
    <% end %>
    </ol>
  <% end %>

    </div>
</div>
</fieldset>
