<%= form_with(model: screen) do |form| %>
  <% if screen.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(screen.errors.count, "error") %> prohibited this screen from being saved:</h2>

      <ul>
        <% screen.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :template_id, style: "display: block" %>
    <%= form.collection_select :template_id, @templates, :id, :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
