<% form_for(@screen) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :is_public %><br />
    <%= f.check_box :is_public %>
  </div>
  <div class="field">
    <%= f.label :owner_id %><br />
    <%= f.text_field :owner_id %>
  </div>
  <div class="field">
    <%= f.label :owner_type %><br />
    <%= f.text_field :owner_type %>
  </div>
  <div class="field">
    <%= f.label :template %><br />
    <%= f.collection_select :template_id, @templates, :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
