<%= form_for(@screen) do |f| %>
	<% if @screen.errors.any? %>
	<div id="errorExplanation">
	  <h2><%= pluralize(@screen.errors.count, "error") %> prohibited this screen from being saved:</h2>
	  <ul>
	    <% @screen.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	  </ul>
	</div>
	<% end %>

	<fieldset>
    <legend><span><%= t(:provide_details) %></span></legend>
		<div class="clearfix">
			<%= f.label :name %>
			<div class="input">
				<%= f.text_field :name, :class => "span6" %>
			</div>
		</div>
		
		<div class="clearfix">
			<%= f.label :location %>
			<div class="input">
				<%= f.text_field :location, :class => "span6" %>
			</div>
		</div>
		
		<div class="clearfix">
			<label>Dimensions</label>
			<div class="input">
				<div class="inline-inputs">
					<%= f.text_field :width, :class => "span2" %> (W) x <%= f.text_field :height, :class => "span2" %> (H)
				</div>
			</div>
		</div>
		
		<div class="clearfix">
			<%= f.label :owner %>
			<div class="input">
	      <% options = {'Users' => @users.map{|u| [u.name, "User-#{u.id}"]},
	                    'Groups' => @groups.map{|g| [g.name, "Group-#{g.id}"]}} %> 
	      <%= select_tag :owner, grouped_options_for_select(options, "#{@screen.owner_type}-#{@screen.owner_id}") %>
			</div>
		</div>
		
		<div class="clearfix">
			<label>Visibility</label>
			<div class="input">
				<ul class="inputs-list">
		      <li>
		        <%= f.check_box :is_public %> <%= f.label :is_public %>
		      </li>
		    </ul>
			</div>
    </div>

  </fieldset>

  <fieldset>
    <legend><span><%= t(:select_template) %></span></legend>

    <div class="clearfix">

      <div class="input">
        <%= link_to "Add New Template", new_template_path, :class => "btn info", :target => "_blank" %>
      </div>
    </div>

    <div id="template_selection" class="clearfix">
      <label><%= t(:best_fit_templates) %></label>
      <div class="input">
        
        <ul class="list-grid inset-selection small">
          <% @templates.each do |template| %>
          <li>
            <%= link_to "#", :class => "dropdown-control", :rel => "#preview_#{ template.id }" do %>
              <div class="inp">
                <%= f.radio_button :template_id, template.id %>
              </div>

              <%= image_tag preview_template_path(template, :height => 60, :format => :png), :style => "margin: 0px;" %>
              
              <div id="preview_<%= template.id %>" class="dd" style="display:none;">
                <%= image_tag preview_template_path(template, :width => 540, :height => 310, :aspect_ratio => true, :format => :png), :style => "margin: 0px;" %>
              </div>
              
              <div class="cont">
                <p><b><%= template.name %></b></p>
                <p>by <%= template.author %></p>
              </div>
              <div class="clear"></div>
            <% end %>
          </li>
          <% end %>
        </ul>

      </div>
    </div>
  </fieldset>

	<div class="submit_bar actions">
		<%= f.submit %>
	</div>
<% end %>

  <script type="text/javascript">
    $(document).ready(function() {
      $('.dropdown-control').click(function(event) { event.preventDefault(); });
      $('.dropdown-control').each(function() {
    
        $(this).qtip( {
          content: {
            text: $( $(this).attr('rel') ).html(),
            title: {
              text: 'Larger Preview',
              button: true
            }
          },

          position: {
            at: 'bottom center', // Position the tooltip above the link
            my: 'top center',
            viewport: $(window) // Keep the tooltip on-screen at all times
          },
        
          show: {
            delay: 500,
            event: 'hover', // Show it on click...
            solo: true // ...and hide all other tooltips...
          },
      
          hide: 'unfocus',
          style: 'ui-tooltip-dark ui-tooltip-bigenough ui-tooltip-shadow ui-tooltip-rounded'
        });
      });
    });
  </script>

