<div>
  <% if @screens.empty? %>
    <div class="default-padding">
      <h3>Oops - there are no screens to display.  <%= link_to "Why not add one?", new_screen_path %></h3>
    </div>
  <% else %>
    <% if !@my_screens.empty? %>
    <div class="subnav clearfix">
      <h4>My Screens</h4>
    </div>
    <ul class="list-grid">
      <% @my_screens.each do |screen| %>
        <li>
          <div class="cont thumb-icon">
            <%= link_to screen do %>
              <i class="icon-controller-screens"></i>
            <% end %>
          </div>
          <div class="cont">
            <p><b><%= link_to screen.name, screen %></b></p>
            <p><%= screen.location %></p>
            <p><%= screen.fields.count %> fields</p>
          </div>
        </li>
      <% end %>
    </ul>
    
    <% end %>
    <% other_screens = @screens - @my_screens %>
    <div class="subnav clearfix">
      <h4>Other Screens</h4>
    </div>
    <ul class="list-grid">
      <% other_screens.each do |screen| %>
        <li>
          <div class="cont thumb-icon">
            <%= link_to screen do %>
              <i class="icon-controller-screens"></i>
            <% end %>
          </div>
          <div class="cont">
            <p><b><%= link_to screen.name, screen %></b></p>
            <p><%= screen.location %></p>
            <p><%= screen.fields.count %> fields</p>
          </div>
        </li>
      <% end %>
    </ul>
    
    
  <% end %>
</div>
