<div>
  <% if @screens.empty? %>
    <div class="default-padding">
      <h3><%= t('.no_screens') %>
          <%= if ConcertoConfig['allow_user_screen_creation']
                user_signed_in? ? link_to( t('.add_one'), new_screen_path) : link_to( t(:sign_in), new_user_session_path) + t('.to_add')
              end %></h3>
    </div>
  <% else %>

    <% if !@my_screens.empty? %>
      <div class="subnav clearfix">
        <h4><%= t('.my_screens') %></h4>
      </div>
      <%= render :partial => "thumbs", :object => @my_screens %>
    <% end %>

    <% other_screens = @screens - @my_screens %>
    <% if other_screens.size > 0 %>
      <div class="subnav clearfix">
        <h4><%= t('.other_screens') %></h4>
      </div>
      <%= render :partial => "thumbs", :object => other_screens %>
    <% end %>
    
  <% end %>
</div>
