<article>
  <div class="screen-model" style="width: 800px; height: 505px;">
    <div class="inner" style="width: 800px; height: 450px;">
      <% @screen.template.positions.each do |pos| %>
        <div class="pos" style="top: <%= pos.top %>%; left: <%= pos.left %>%; width: <%= pos.right * 100 %>%; height: <%= pos.bottom * 100 %>%; <%= pos.style %>">
          <%= pos.id %>
        </div>
      <% end %>
    </div>
    <div class="bevel">
      <%= image_tag("miniscreen/bevel_logo.png", :alt => "Concerto" ) %>
    </div>
  </div>
</article>

<aside>

  <div>
    <%= link_to 'Edit Screen Details', edit_screen_path(@screen), :class => "btn" %>
    <br /><br />

    <p><b>Location:</b> <%= @screen.location %></p>

    <p><b>Owned by:</b> <%= @screen.owner ? @screen.owner.name : 'No Group' %></p>

    <p>
      <b>Current Subscriptions:</b>

      <ul>
        <% @screen.fields.each do |field| %>
          <li><%= field.name %></li>
          <% if !field.subscriptions.empty? %>
            <ul>
              <% field.subscriptions.each do |subscription| %>
                <li><%= link_to subscription.feed.name, subscription.feed %><%= " - #{subscription.weight}" unless subscription.weight.blank?%></li>
              <% end %>
            </ul>
          <% end %>
        <% end %>
      </ul>
    </p>
  </div>

</aside>

<div class="clear"></div>
