<div class="fluid-row">
  <div class="span2">
    <br />
    <%= link_to t(:edit_model, :model => Screen.model_name.human), edit_screen_path(@screen), :class => "btn primary" if can? :update, @screen %> 
    <%= link_to t(:preview), frontend_screen_path(@screen), :class => "btn", :data => {'no-turbolink' => true} if can? :update, @screen %>
    <br />
    <br />

    <% unless @screen.location.blank? %>
      <p><b><%= Screen.human_attribute_name(:location) %>:</b> <%= @screen.location %></p>
    <% end %>

    <p><b><%= Screen.human_attribute_name(:owner_id) %>:</b> <%= link_to @screen.owner.name, :user  %></p>
    <p><b><%= t(:template) %>:</b> <%= @screen.template.name unless @screen.template.nil? %></p>
    <p><b><%= t(:status) %>:</b> <% if @screen.is_online? %>Online <% else %>Offline <% end %> </p>
    
    <p><%= link_to t(:destroy), @screen, :data => { :confirm => t(:are_you_sure) }, :method => :delete, :class => "btn primary" if can? :delete, @screen %></p>

    <p>
      <b><%= t(:current_model, :model => Subscription.model_name.human.pluralize) %></b>

      <ul>
        <% @screen.fields.each do |field| %>
          <% subscriptions = @screen.subscriptions.where(:field_id => field.id) %>
          <li><%= field.name %></li>
          <% if !subscriptions.empty? %>
            <ul>
              <% subscriptions.each do |subscription| %>
                <li><%= link_to subscription.feed.name, subscription.feed %><%= " - #{subscription.weight}" unless subscription.weight.blank?%></li>
              <% end %>
            </ul>
          <% end %>
        <% end %>
      </ul>
    </p>
    <%= ConcertoPlugin.render_view_hook self, :screen_details %>
  </div>
  <div class="span10">

    <div class="default-padding">
      <% if !@screen.template.nil? %>
      <div class="screen-model" style="height: 400px;">
        <div class="bottom"><span class="brand">Concerto</span></div>
        <div class="inset" style="background: url(<%= preview_template_path(@screen.template, :width => 800, :height => 450, :format => :png) %>) center center no-repeat; background-size: 100% 100%;">
          <% @screen.template.positions.each do |pos| %>
            <div class="pos" style="top: <%= pos.top * 100 %>%; left: <%= pos.left * 100 %>%; width: <%= (pos.right - pos.left) * 100 %>%; height: <%= (pos.bottom - pos.top) * 100 %>%;">
              <% if can? :update, Subscription.new(:screen => @screen, :field => pos.field) %>
                <%= link_to t(:manage_model, :model => Subscription.model_name.human.pluralize), manage_screen_field_subscriptions_path(@screen, pos.field), :class => "btn info" %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  
</div>
