<%
  sidebar = ConcertoPlugin.render_view_hook self, :screen_details
  bottombar = ConcertoPlugin.render_view_hook self, :screen_details2

  # Hide details sidebar when there is nothing to show
  screen_span = 9
  sidebar_span = 3
  if sidebar.blank?
    screen_span = 12
    sidebar_span = 0
  end
%>

<div class="row-fluid">
  <div class="span<%= screen_span %>">

  	<section class="viewblock">
  	  <header class="viewblock-header" id="screens-header">
  	    <%= render partial: "screens/show_header" %>
  	  </header>
  	  <div id="screens-body" class="viewblock-cont">
        <div class='row-fluid'>
          <div class="span3 screen-details">
            <div class="default-padding">
              <%= render partial: "screens/show_details", locals: { screen: @screen } %>
            </div>
          </div>
          <div class='span9'>
            <%= render partial: "screens/show_body" %>
          </div>
        </div>
  	  </div>
  	</section>
    
    <%= bottombar unless bottombar.blank? %>
  </div>

  <% if !sidebar.blank? %>
    <div class="span<%= sidebar_span %>">
      <%= sidebar %>
    </div>
  <% end %>

</div>
