<p>
  <b>Name:</b>
  <%= @screen.name %>
</p>

<p>
  <b>Location:</b>
  <%= @screen.location %>
</p>

<p>
  <b>Is public:</b>
  <%= @screen.is_public %>
</p>

<p>
  <b>Owner:</b>
  <%= @screen.owner.name %>
</p>

<p>
  <b>Template:</b>
  <%= @screen.template.name %>
</p>
<p>
  <b>resolution</b>
  <%= @screen.width %> X <%= @screen.height %> (<%= @screen.aspect_ratio["width"] %>:<%=  @screen.aspect_ratio["height"] %>)
</p>

<%= link_to 'Edit', edit_screen_path(@screen) %> |
<%= link_to 'Back', screens_path %>
