<% sidebar = ConcertoPlugin.render_view_hook self, :screen_details %>

<%
  # Hide details sidebar when there is nothing to show
  screen_span = 9
  sidebar_span = 3
  if sidebar.blank?
    screen_span = 12
    sidebar_span = 0
  end
%>

<div class="row-fluid">
  <div class="span<%= screen_span %>">

  	<section class="viewblock">
  	  <header class="viewblock-header" id="screens-header">
  	    <%= render partial: "screens/show_header" %>
  	  </header>
  	  <div id="screens-body" class="viewblock-cont">
  	    <%= render partial: "screens/show_body" %>
  	  </div>
  	</section>

  </div>

<% if !sidebar.blank? %>
  <div class="span<%= sidebar_span %>">
    <%= sidebar %>
  </div>
<% end %>

</div>


<!-- Begin Contents -->
<% @contents = @screen.subscriptions.map { |s| s.contents }.flatten.collect! {|c| c.parent || c}.uniq %>

<div class="clearfix default-padding">
  <div class="header-with-icon clearfix">
    <h3 style="float: left;">
      <%= t '.subscribed_approved_active_content' %>
    </h3>
  </div>
  <br />

  <% unless @contents.empty? %>
    <% @contents.each do |content| %>
      <%= render partial: "contents/content_tile", locals: { content: content } %>
    <% end %>
  <% end %>

</div>