<%= form_for(@template, html: { multipart: true }) do |f| %>
  <% if @template.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@template.errors.count, t(:error)) + t(:prohibited_save, model: 'template') %></h2>
    <ul>
      <% @template.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <fieldset>
    <div class="clearfix">
      <%= f.label :name %>
      <div class="input">
        <%= f.text_field :name %>
      </div>
    </div>
    
    <div class="clearfix">
      <%= f.label :author %>
      <div class="input">
        <%= f.text_field :author %>
      </div>
    </div>

    <div class="clearfix">
      <div class="input">
        <%= f.check_box :is_hidden %> <%= f.label :is_hidden %>
      </div>
    </div>
  </fieldset>

  <div class="submit_bar actions">
    <%= f.submit t(:submit), class: "btn primary" %>
  </div>
<% end %>
