<%= form_for(@template, :html => { :multipart => true }) do |f| %>
  <% if @template.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@template.errors.count, "error") %> prohibited this template from being saved:</h2>
    <ul>
      <% @template.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :is_hidden %><br />
    <%= f.check_box :is_hidden %>
  </div>
  <div class="field">
  <%= f.fields_for :medias do |media| %>
    <%= media.file_field :file %>
  <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
