<%= form_for(template, :html => { :multipart => true }) do |f| %>
  <% if template.errors.any? %>
  <div class="alert alert-banner alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4><b><%= pluralize(template.errors.count, t(:error)) + t(:prohibited_save, :model => ::Template.model_name.human.downcase) %></b></h4>
    <ul>
      <% template.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <fieldset>
    <div class="clearfix">
      <%= f.label :name %>
      <div class="input">
        <%= f.text_field :name, :autofocus => true %>
      </div>
    </div>
    
    <div class="clearfix">
      <%= f.label :author %>
      <div class="input">
        <%= f.text_field :author %>
      </div>
    </div>

    <div class="clearfix">
      <div class="input checkbox">
        <%= f.check_box :is_hidden %> <%= f.label :is_hidden %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend><span>Positions</span></legend>
    <%= f.fields_for :positions do |p| %>
      <div class="clearfix">
      <%= p.select :field_id, Field.all.collect {|field| [ field.name, field.id ] } %>
      <%= p.number_field :top, {:step => 'any', :min => 0} %>
      <%= p.number_field :left, {:step => 'any', :min => 0} %>
      <%= p.number_field :bottom, {:step => 'any', :min => 0} %>
      <%= p.number_field :right, {:step => 'any', :min => 0} %>
      <%= p.text_field :style %>
      <%= p.check_box :_destroy %>
      </div>
    <% end %>
  </fieldset>
  

  <div class="submit_bar actions">
    <%= f.submit button_text, :class => "btn primary" %> <%= link_to t(:cancel), screens_path, :class => "btn" %>
  </div>
<% end %>
