<h1>Import template</h1>
<%= form_tag(import_templates_path, {:multipart => true}) do %>
  <div class="field">
    <%= label_tag :xml, 'XML' %><br />
    <%= file_field_tag :xml %>
  </div>
  <div class="field">
    <%= label_tag :image %><br />
    <%= file_field_tag :image %>
  </div>
  <%= submit_tag "Import Template" %>
<% end %>
