<%= form_for(@template, :url => import_templates_path, :html => { :multipart => true }) do |f| %>
  <% if @template.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@template.errors.count, "error") %> prohibited this template from being saved:</h2>
    <ul>
      <% @template.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <fieldset>
    <div class="clearfix">
      <%= f.label :name %>
      <div class="input">
        <%= f.text_field :name %>
      </div>
    </div>
    
    <div class="clearfix">
      <%= f.label :author %>
      <div class="input">
        <%= f.text_field :author %>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label :is_hidden %>
      <div class="input">
        <%= f.check_box :is_hidden %>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label "Upload Background" %>
      <div class="input">
        <%= f.fields_for :media do |media| %>
          <%= media.file_field :file %>
        <% end %>
      </div>
    </div>
  </fieldset>


  <div class="actions">
    <%= f.submit("Import Template") %>
  </div>
<% end %>