<%= form_for(@template, :url => import_templates_path, :html => { :multipart => true }) do |f| %>
  <% if @template.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@template.errors.count, t(:error)) + t(:prohibited_save, :model => 'template') %></h2>
    <ul>
      <% @template.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <fieldset>
    <div class="clearfix">
      <%= label_tag :package, t(:package) %>
      <div class="input">
        <%= file_field_tag :package, :disabled => true %>
      </div>
    </div>
    <hr />

    <div class="clearfix">
      <%= label_tag :image, t(:image) %>
      <div class="input">
        <%= file_field_tag :image %>
      </div>
    </div>

    <div class="clearfix">
      <%= label_tag :descriptor, t(:descriptor) %>
      <div class="input">
        <%= file_field_tag :descriptor %>
      </div>
    </div>
    <hr />

    <div class="clearfix">
      <div class="input">
        <%= f.check_box :is_hidden %> <%= f.label :is_hidden, t("helpers.label.template.is_hidden") %>
      </div>
    </div>

  </fieldset>


  <div class="submit_bar actions">
    <%= f.submit t(:submit), :class => "btn primary" %>
  </div>
<% end %>
