<div id="content_holder clearfix">

  <% if @templates.size == 0 %>
  <div class="default-padding">
    <h3><%= t('.no_templates_html', :href => link_to(t('.add_one'), new_template_path)) %></h3>
  </div>
  <% else %>
  <ul class="list-grid">
    <% @templates.each do |template| %>
    <li>
      <div class="cont thumb-icon">
        <%= link_to template do %>
        <i class="concertocon-controller-templates"></i>
        <% end %>
      </div>
      <div class="cont">
        <p><b><%= link_to template.name, template %></b></p>
        <p><%= t('.author') %> <%= template.author %></p>
      </div>
    </li>
    <% end %>
  </ul>
  <% end %>

</div>
