<div class="clearfix">

  <% if @templates.empty? %>
  <div class="default-padding">
    <h3><%= t('.no_templates_html', :href => link_to(t('.add_one'), new_template_path)) %></h3>
  </div>
  <% else %>
  <div class="default-padding">
    <ul class="list-grid">
      <% @templates[0..4].each do |template| %>
      <li>
        <div class="cont thumb-icon">
          <%= link_to template do %>
          <i class="concertocon-controller-templates"></i>
          <% end %>
        </div>
        <div class="cont">
          <p><b><%= link_to template.name, template %></b></p>
          <p><%= t('.author') %> <%= template.author %></p>
        </div>
      </li>
      <%= link_to "More Templates", templates_url %>
      <% end %>
    </ul>
    <% end %>
  </div>

</div>
