<article>
  <%= image_tag preview_template_path(@template, :width=> 600, :format => :jpg), :style => "width: 100%", :alt => t('.preview_alt', :name => @template.name) %>
</article>
<aside class="default-padding">
  <p>
    <b><%= t '.author' %></b>
    <%= @template.author %>
  </p>
  <% if !@template.screens.empty? %>
    <p><%= t '.usage' %>
    <ul>
      <% @template.screens.each do |s| %>
        <% if can? :read, s %>
          <li><%= link_to s.name, s %></li>
        <% end %>
      <% end %>
    </ul>
    </p>
  <% end %>
  <%= ConcertoPlugin.render_view_hook self, :template_details %>
</aside>
