<section class="MS-frame">
	<header>
		<h1>Select Template Source:</h1>
	</header>
	<div class="MS-outer">
		<article>

			<ul class="MS">
				<li>
					<%= link_to new_template_path(:type=> "import") do %>
						<%= image_tag("ph/ph.png", :alt => "") %>
						<div class="content">
							<h2><%= "Import" %></h2>
						</div>
					<% end %>
				</li>
				<li>
					<%= link_to new_template_path(:type=> "create") do %>
						<%= image_tag("ph/ph.png", :alt => "") %>
						<div class="content">
							<h2><%= "Create" %></h2>
						</div>
					<% end %>
				</li>

				<div class="clear"></div>
			</ul>
		</article>
	</div>
</section>

<section class="C no">
	<header id="template-header">
		<h1><%= @type.capitalize + " Template" %></h1>
	</header> 
	<div class="C-cont">
		<article>
			<% if @type == "create" %>
			  <%= render 'create_form' %>
			<% else %>
			  <%= render 'import_form' %>
			<% end %>

		</article>
		<div class="clear"></div>
	</div>
</section>
