<div class="row-fluid">
  <div class="span2">
    <h3>Select way to add template:</h3>
    <ul>
      <li><%= link_to "Create from Scratch", new_template_path(:type=> "create") %></li>
      <li><%= link_to "Import Existing", new_template_path(:type=> "import") %></li>
    </ul>
  </div>
  <div class="span10">
    <section class="C">
    	<header class="C-header" id="template-header">
    		<h1><%= @type.capitalize + " Template" %></h1>
    	</header> 
    	<div class="C-cont">
  			<% if @type == "create" %>
  			  <%= render 'create_form' %>
  			<% else %>
  			  <%= render 'import_form' %>
  			<% end %>
    		<div class="clear"></div>
    	</div>
    </section>
  </div>
</div>


