<h1>Listing plugins</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Module name</th>
    <th>Enabled</th>
    <th>Gem name</th>
    <th>Gem version</th>
    <th>Source</th>
    <th>Source url</th>
    <th>Installed</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @plugins.each do |plugin| %>
  <tr>
    <td><%= plugin.name %></td>
    <td><%= plugin.module_name %></td>
    <td><%= plugin.enabled %></td>
    <td><%= plugin.gem_name %></td>
    <td><%= plugin.gem_version %></td>
    <td><%= plugin.source %></td>
    <td><%= plugin.source_url %></td>
    <td><%= plugin.installed %></td>
    <td><%= link_to 'Show', plugin %></td>
    <td><%= link_to 'Edit', edit_plugin_path(plugin) %></td>
    <td><%= link_to 'Destroy', plugin, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Plugin', new_plugin_path %>
