<p>
  <b>Name:</b>
  <%= @type.name %>
</p>
<p>
  <b>Fields:</b>
  <ul>
  <% @type.fields.each do |field| %>
    <li><%= link_to field.name, [@type, field] %></li>
  <% end %>
    <li><%= link_to "New Field", new_type_field_path(@type) %></li>
  </ul>
</p>


<%= link_to 'Edit', edit_type_path(@type) %> |
<%= link_to 'Back', types_path %>
