<table class="hover-highlight">
  <thead>
    <tr>
      <th><%= t(:name) %></th>
      <th><%= t(:roles) %></th>
    </tr>
  </thead>

  <tbody>
    <% @group.memberships.each do |membership| %>
    <tr>
      <td>
        <p><b><%= membership.user.name %></b></p>
        <p><%= membership.level_name.titleize %></p>
      </td>

      <td>
        <%= form_for([@group, membership]) do |f| %>
          <%= f.select :level, Membership::LEVELS %>
          <% if Membership::PERMISSIONS.include?(membership.level_name.to_sym) %>
          <ul>
            <% Membership::PERMISSIONS[membership.level_name.to_sym].each_pair do |perm, levels| %>
              <li>
                <b><%= perm.to_s %></b> - 
                <% levels.keys.each do |level| %>
                  <%= level.to_s %>: <%= radio_button_tag "membership[perms][#{perm.to_s}]", level.to_s, membership.perms[perm] == level %>
                <% end %>
              </li>
            <% end %>
          </ul>
          <% end %>
          <%= f.submit "Submit", :class => "btn primary" %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>

</table>

<!-- The New Magical (TM) Form -->

<%= form_for(@group) do |f| %>
  <ul>
  <%= f.fields_for :memberships do |m| %>
    <li>
      <%= m.object.user.name %>
      <%= m.select :level, Membership::LEVELS %>
      <% if Membership::PERMISSIONS.include?(m.object.level_name.to_sym) %>
        <ul>
          <% Membership::PERMISSIONS[m.object.level_name.to_sym].each_pair do |perm, levels| %>
            <li>
              <b><%= perm.to_s %></b> -
              <% levels.keys.each do |level| %>
                <%= level.to_s %>:
                <%= radio_button_tag "#{m.object_name}[perms][#{perm.to_s}]", level.to_s, m.object.perms[perm] == level %>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </li>
  <% end %>
  </ul>
  <%= f.submit "Update", :class => "btn primary" %>
<% end %>
