<table class="hover-highlight">
  <thead>
    <tr>
      <th><%= t(:name) %></th>
      <th><%= t(:roles) %></th>
    </tr>
  </thead>

  <tbody>
    <% @group.memberships.each do |membership| %>
    <tr>
      <td>
        <p><b><%= membership.user.name %></b></p>
        <p><%= membership.level_name.titleize %></p>
      </td>

      <td>
        <%= form_for([@group, membership]) do |f| %>
          <%= f.select :level, Membership::LEVELS %>
          <% if Membership::PERMISSIONS.include?(membership.level_name.to_sym) %>
          <ul>
            <% Membership::PERMISSIONS[membership.level_name.to_sym].each_pair do |perm, levels| %>
              <li>
                <b><%= perm.to_s %></b> - 
                <% levels.keys.each do |level| %>
                  <%= level.to_s %>: <%= radio_button_tag "membership[perms][#{perm.to_s}]", level.to_s, membership.perms[perm] == level %>
                <% end %>
              </li>
            <% end %>
          </ul>
          <% end %>
          <%= f.submit "Submit", :class => "btn primary" %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>

</table>

<!-- The New Magical (TM) Form -->

<%= form_for :groups, :html => { :method => :put }, :url => {:controller => "groups", :action => "bulk_update", }  do |f| %>
  <% @group.memberships.each do |membership| %>
    <%= fields_for "membership[level][]", membership do |fields| %>
      <%= membership.user.name %>
      <%= fields.select :level, Membership::LEVELS %>
    <% end %>
  <% end %>
  <%= f.submit "Update", :class => "btn primary" %>
<% end %>