<div class="form-stacked">
	<%= form_for(@group) do |f| %>
		<% if @group.errors.any? %>
		<div id="errorExplanation">
		<h2><%= pluralize(@group.errors.count, "error") + " " + t(:prohibited_save, :model => 'group') %></h2>
		<ul>
		  <% @group.errors.full_messages.each do |msg| %>
		    <li><%= msg %></li>
		  <% end %>
		</ul>
		</div>
		<% end %>

		<fieldset>
			<div class="clearfix">
				<%= f.label t(:name) %>
				<div class="input">
					<%= f.text_field :name, :class => "fillWidth" %>
				</div>
			</div>

			<div class="clearfix">
				<%= f.label t(:narrative) %>
				<div class="input">
					<%= f.text_area :narrative, :class => "fillWidth" %>
				</div>
			</div>
		</fieldset>
		
		<div class="submit_bar actions">
			<%= f.submit button_text, :class => "btn primary" %> <%= link_to_function t('cancel'), "history.back()", :class => "btn" %>
		</div>
	<% end %>
</div>