<%= form_for(@group) do |f| %>
	<% if @group.errors.any? %>
	<div id="errorExplanation">
	<h2><%= pluralize(@group.errors.count, "error") + " " + t(:prohibited_save) %></h2>
	<ul>
	  <% @group.errors.full_messages.each do |msg| %>
	    <li><%= msg %></li>
	  <% end %>
	</ul>
	</div>
	<% end %>

	<fieldset>
		<div class="clearfix">
			<%= f.label :name %>
			<div class="input">
				<%= f.text_field :name, :class => "span6" %>
			</div>
		</div>
	</fieldset>
	
	<div class="submit_bar actions">
		<%= f.submit %>
	</div>
<% end %>
