<div class="form-stacked">
	<%= form_for(@group) do |f| %>
		<% if @group.errors.any? %>
		<div id="errorExplanation">
		<h2><%= pluralize(@group.errors.count, "error") + " " + t(:prohibited_save, :model => Group.model_name.human) %></h2>
		<ul>
		  <% @group.errors.full_messages.each do |msg| %>
		    <li><%= msg %></li>
		  <% end %>
		</ul>
		</div>
		<% end %>

		<fieldset>
			<div class="clearfix">
				<%= f.label :name %>
				<div class="input">
					<%= f.text_field :name, :class => "fillWidth", :autofocus => true %>
				</div>
			</div>

			<div class="clearfix">
				<%= f.label :narrative %>
				<div class="input">
					<%= f.text_area :narrative, :class => "fillWidth" %>
				</div>
			</div>
		</fieldset>
		
		<div style="padding-left: 20px;">
			<%= f.submit button_text, :class => "btn primary" %> <%= link_to_function t(:cancel), "history.back()", :class => "btn" %>
		</div>
	<% end %>
</div>
