<div class="viewblock-header_right">
  <div class="button-padding">
    <% if can? :update, @group %>
      <%= link_to t('.manage_members'), manage_members_group_path(@group), :class => "btn" %>
    <% end %>
    <% if can? :edit, @group %>
      <%= link_to t(:edit_model, :model => Group.model_name.human), edit_group_path(@group), :class => "btn" %>
    <% end %>
    <% if can? :delete, @group %>
      <% if @group.is_deletable? %>
        <%= link_to t(:destroy_model, :model => Group.model_name.human), @group,
          :data => { :confirm => t(:are_you_sure_delete_model_key, :model =>Group.model_name.human, :key => @group.name) }, :method => :delete, :class => "btn" %>
      <% else %>
        <%= link_to t(:destroy_model, :model => Group.model_name.human), '#', :class => "btn disabled tooltip-basic", 'data-tooltip-text' => t(:group_not_deletable, :model => Group.model_name.human, :key => @group.name) %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="default-padding">
  <h1>
    <%= link_to t(:all_model, :model => Group.model_name.human(count: 42)), groups_path %> &gt;
    <%= @group.name %>
  </h1>
</div>