<div class="row-fluid">
  <div class="span4">
    <div class="default-padding">

      <div class="subblock bordered">
        <div class="default-padding">
          <% if @group.made_request?(current_user) %>
            <% membership = Membership.where(:group_id => @group.id, :user_id => current_user.id).first %>
            <p><b>You are currently a <%= membership.level_name %><%= " member" unless membership.level == Membership::LEVELS[:leader] %> of this group.</b></p>
            <% if @group.has_member?(current_user) %>
              <%= link_to( t(:leave_group), group_membership_path(:group_id => @group.id, :id => membership.id), :method => :delete, :class => "btn") %>
              <% if can? :edit, @group %>
                <%= link_to t(:edit_details), edit_group_path(@group), :class => "btn" %>
              <% end %>
            <% end %>
          <% else %>
            <p><b><%= t(:not_in_group) %></b></p>
            <% if current_user %>
              <%= link_to( t(:join_group), group_memberships_path(:group_id => @group.id, :membership => {:user_id => current_user.id}), :method => :post, :class => "btn") %>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="subblock">
        <h2><%= t(:group_screens) %></h2>
        <ul class="list-grid">
          <% @group.screens.each do |screen| %>
          <li>
            <div class="cont thumb-icon">
              <%= link_to screen do %>
              <i class="icon-controller-screens"></i>
              <% end %>
            </div>
            <div class="cont">
              <p><b><%= link_to screen.name, screen %></b></p>
              <p><%= screen.location %></p>
            </div>
          </li>
          <% end %>
        </ul>

      </div>

      <div class="subblock">
        <h2><%= t(:group_feeds) %></h2>

        <% if !@group.feeds.empty? %>

          <ul>
            <% @group.feeds.each do |feed| %>
              <li><%= link_to feed.name, feed %></li>
            <% end %>
          </ul>
          <div class="clearfix">
            <%= link_to t(:new_feed), new_feed_path, :class => "btn" if can? :create, Feed %>
          </div>
          <div class="clear"></div>

        <% else %>

        <% end %>

      </div>

    </div>
  </div>
  <div class="span8">
    <div class="default-padding">
      <div class="subblock">
        <% if can? :edit, membership %>
          <%= link_to "Edit Membership", edit_group_path(@group), :class => "btn" %>
        <% end %>

        <h2><%= t(:leaders) %></h2>

        <table>
          <tr>
            <th><%= t(:name) %></th>
            <th><%= t(:roles) %></th>
          </tr>

          <% @group.memberships.leader.each do |membership| %>
          <tr>
            <td><%= membership.user.name %></td>

            <td>
              <% if can? :edit, membership %>
                <%= form_for([@group, membership]) do |f| %>
                  <%= f.select :level, Membership::LEVELS %>
                  <%= f.submit %>
                <% end %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </table>

        <br /><br />

        <h2><%= t(:other_members) %></h2>

        <table>
          <tr>
            <th><%= t(:name) %></th>
            <th><%= t(:roles) %></th>
          </tr>

          <% @group.memberships.regular.each do |membership| %>
          <tr>
            <td><%= membership.user.name %></td>

            <td>
              <% if can? :edit, membership %>
                <%= form_for([@group, membership]) do |f| %>
                  <%= f.select :level, Membership::LEVELS %>
                  <%= f.submit %>
                <% end %>
              <% end %>
            </td>
          </tr>
          <% end %>

        </table>

        <% if can? :edit, @group %>
          <b><%= t(:add_member) %></b>
          <%= form_for([@group, @group.memberships.new]) do |f| %>
            <%= f.collection_select :user_id, User.all - @group.all_users, :id, :name %>
            <%= hidden_field_tag 'autoconfirm', true %>
            <%= f.submit %>
          <% end %>

          <br /><br />

          <h2><%= t(:pending_members) %></h2>

          <table>
            <tr>
              <th><%= t(:name) %></th>
              <th><%= t(:actions) %></th>
            </tr>

            <% @group.memberships.pending.each do |membership| %>
            <tr>
              <td><%= membership.user.name %></td>

              <td>
                <%= link_to t(:approve), approve_group_membership_path(@group, membership), :data => { :confirm => 'Are you sure?' }, :method => :put, :class => "btn success" %>
                <%= link_to t(:deny), deny_group_membership_path(@group, membership), :data => { :confirm => 'Are you sure?' }, :method => :put, :class => "btn danger" %>
              </td>
            </tr>
            <% end %>

          </table>
        <% end %>
      </div>
    </div>
  </div>
</div>
