<% if !@group.narrative.blank? %>
<div class="row-fluid">
  <div class="span12">
    <div class="default-padding">
      <p><%= @group.narrative %></p>
      <hr />
    </div>
  </div>
</div>
<% end %>

<div class="row-fluid">
  <div class="span4">
    <div class="default-padding">

      <% can_join = can? :create, Membership.new( group: @group, level: Membership::LEVELS[:pending])
         already_member = @group.made_request?(current_user) %>
      <% if can_join || already_member %>
      <div class="subblock bordered">
        <div class="default-padding">
          <% if already_member %>
          <% membership = Membership.where( group_id: @group.id, user_id: current_user.id).first %>
          <p><b>You are currently a <%= membership.level_name %><%= " member" unless membership.level == Membership::LEVELS[:leader] %> of this group.</b></p>
          <% if @group.has_member?(current_user) %>
          <%= link_to( t(:leave_group), group_membership_path( group_id: @group.id, id: membership.id), method: :delete, class: "btn") %>
          <% if can? :edit, @group %>
          <%= link_to t(:edit_details), edit_group_path(@group), class: "btn" %>
          <% end %>
          <% end %>
          <% elsif can_join %>
          <p><b><%= t(:not_in_group) %></b></p>
          <% if can? :create, Membership.new( group: @group, level: Membership::LEVELS[:pending]) %>
          <%= link_to( t(:join_group), group_memberships_path( group_id: @group.id, membership: { user_id: current_user.id}), method: :post, class: "btn") %>
          <% end %>
          <% end %>
        </div>
      </div>
      <% end %>

      <br />
      <h2><%= t(:group_members) %></h2>
      <br />

      <table>
        <thead>
          <tr>
            <th style="width: 1px;">&nbsp;</th>
            <th><%= t(:name) %></th>
            <th><%= t(:email) %></th>
          </tr>
        </thead>

        <tbody>

          <% @group.memberships.leader.each do |membership| %>
          <tr>
            <td>
              <i class="icon-user-leader tooltip-basic" data-tooltip-text="<%= t(:is_group_leader) %>"></i>
            </td>

            <td>
              <%= membership.user.name %><br />
              <b>Leader</b>
            </td>

            <td>
              <%= mail_to membership.user.email, membership.user.email, encode: "hex" %>
            </td>
          </tr>
          <% end %>

          <% @group.memberships.regular.each do |membership| %>
          <tr>
            <td>
              &nbsp;
            </td>

            <td>
              <%= membership.user.name %>
            </td>

            <td>
              <%= mail_to membership.user.email, membership.user.email, encode: "hex" %>
            </td>
          </tr>
          <% end %>

        </tbody>

      </table>

    </div>
  </div>
  <div class="span8">
    <div class="default-padding">

     <div class="subblock">
       <h2><%= t(:group_screens) %></h2>
       <ul class="list-grid">
         <% @group.screens.each do |screen| %>
         <li>
           <div class="cont thumb-icon">
             <%= link_to screen do %>
             <i class="icon-controller-screens"></i>
             <% end %>
           </div>
           <div class="cont">
             <p><b><%= link_to screen.name, screen %></b></p>
             <p><%= screen.location %></p>
           </div>
         </li>
         <% end %>
       </ul>

     </div>

     <div class="subblock">
       <h2><%= t(:group_feeds) %></h2>

       <% if !@group.feeds.empty? %>

         <ul>
           <% @group.feeds.each do |feed| %>
           <li><%= link_to feed.name, feed %></li>
           <% end %>
         </ul>
         <div class="clearfix">
           <%= link_to t(:new_feed), new_feed_path, class: "btn" if can? :create, Feed %>
         </div>
         <div class="clear"></div>

       <% end %>

     </div>

   </div>
 </div>
</div>
</div>
