<% if !@group.narrative.blank? %>
<div class="row-fluid">
  <div class="span12">
    <div class="default-padding">
      <p><%= @group.narrative %></p>
      <hr />
    </div>
  </div>
</div>
<% end %>

<div class="row-fluid">
  <div class="span7">
    <div class="default-padding">

      <% can_join = can? :create, Membership.new(:group => @group, :level => Membership::LEVELS[:pending])
         already_member = @group.made_request?(current_user) %>
      <% if can_join || already_member %>
        <div class="subblock bordered">
          <div class="default-padding">
            <% if already_member %>
              <% membership = Membership.where(:group_id => @group.id, :user_id => current_user.id).first %>
              <p><b><%= t('.your_membership_role', :level => membership.level_name, :what => (membership.level == Membership::LEVELS[:leader] ? "" : t('.member'))) %></b></p>
              <% if @group.has_member?(current_user) %>
                <%= link_to( t('.leave_group'), group_membership_path(:group_id => @group.id, :id => membership.id), :method => :delete, :class => "btn danger", :data => { :confirm => t(:are_you_sure)}) %>
              <% end %>
            <% elsif can_join %>
              <p><b><%= t('.not_in_group') %></b></p>
              <% if can? :create, Membership.new(:group => @group, :level => Membership::LEVELS[:pending]) %>
                <%= link_to( t('.join_group'), group_memberships_path(:group_id => @group.id, :membership => {:user_id => current_user.id}), :method => :post, :class => "btn") %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>

      <h2><%= t('.group_members') %></h2>
      <h3 class="default-padding"><%= t('.approve_requests') %></h3>
      <% if @group.memberships.pending.size > 0 %>
        <table class="hover-highlight">
          <thead>
            <tr>
              <th><%= User.human_attribute_name(:name) %></th>
              <th><%= t('.request_made_at') %></th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <% @group.memberships.pending.each do |pending_membership| %>
              <tr>
                <th>
                  <p>
                    <b><%= pending_membership.user.name %></b><br />
                    <%= pending_membership.user.email %>
                  </p>
                </th>
                <th><p><%= pending_membership.created_at.strftime("%I:%M %p on %D") %></p></th>
                <th>
                  <%= link_to t(:approve), group_membership_path(@group, pending_membership, :perform => "approve"), :method => :put, :class => "btn small success"%>
                  <%= link_to t(:deny), group_membership_path(@group, pending_membership, :perform => "deny"), :method=> :put, :class => "btn small danger" %>
                </th>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <div class="second-level-padding" style="padding-bottom: 0px; padding-top: 0px;">
          <div class="alert alert-block alert-zero">
            <p class="alert-heading"><%= t('.no_pending_approvals') %></p>
          </div>
        </div>
      <% end %>
      <% users_not_in_group = @group.users_not_in_group %>
      <% unless users_not_in_group.empty? %>
        <h3 class="default-padding"><%= t('.add_users_to_group') %></h3>
        <div class="second-level-padding">
        <%= form_for([@group, Membership.new]) do |f| %>
          <%= f.label :name %><br />
          <%= f.collection_select(:user_id, users_not_in_group, :id, :name) %>
          <%= hidden_field_tag 'autoconfirm' %>
          <%= f.submit t('.add_member'), :class => "btn primary" %>
        <% end %>
        </div>
      <% end %>

      <h3 class="default-padding"><%= t('.regular_members') %></h3>
      <div class="second-level-padding" style="padding-top: 0px;">
      <% if @group.memberships.regular.size > 0 %>
        <table class="hover-highlight">
          <thead>
            <tr>
              <th><%= t(:name) %></th>
              <th><%= t('.screen_permission') %></th>                
              <th><%= t('.feed_permission') %></th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <%= form_for(@group) do |f| %>
              <%= f.fields_for :memberships do |m| %>
                <% if Membership::PERMISSIONS.include?(m.object.level_name.to_sym) %>
                  <tr>
                    <td>
                      <p>
                        <b><%= m.object.user.name %></b><br />
                        <%= m.object.user.email %>
                      </p>
                    </td>
                    <% Membership::PERMISSIONS[m.object.level_name.to_sym].each_pair do |perm, levels| %>
                      <td>
                        <ul class="inputs-list">
                          <% levels.keys.each do |level| %>
                            <li>
                              <%= radio_button_tag "#{m.object_name}[perms][#{perm.to_s}]", level.to_s, m.object.perms[perm] == level %>
                              <%= label_tag "#{m.object_name}[perms][#{perm.to_s}][#{level}]", level.to_s.titleize %>
                            </li>
                          <% end %>
                        </ul>
                      </td>
                    <% end %>
                    <td>
                      <%= link_to t('.promote_to_leader'), group_membership_path(@group, m.object, :perform => "promote"), :method => :put, :class => "btn small success" %>
                      <%= link_to t('.remove_from_group'), group_membership_path(@group , m.object), :method => :delete, :class => "btn small danger", :data => { :confirm => t(:are_you_sure) } %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
              <%= f.submit t('.update_permissions'), :class => "btn primary" %>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <div class="alert alert-block alert-zero">
          <p class="alert-heading"><%= t('.no_regular_members') %></p>
        </div>
      <% end %>
      </div>

    <h3 class="default-padding"><%= t('.leaders') %></h3>
    <div class="default-padding" style="padding-top: 0px;">
    <% if @group.memberships.leader.size > 0 %>
      <table class="hover-highlight">
        <thead>
          <tr>
            <th><%= User.human_attribute_name(:name) %></th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <% @group.memberships.leader.each do |leader| %>
            <tr>
              <th>
                <p>
                  <b><%= mail_to leader.user.email, leader.user.name, :encode => "hex" %><br></b>
                </p>
              </th>
              <th>
                <%= link_to t('.demote_to_regular'), group_membership_path(@group, leader, :perform => "demote"), :method => :put, :class => "btn small danger", :data => { :confirm => t(:are_you_sure) } %>
              </th>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="alert alert-block alert-zero">
        <p class="alert-heading"><%= t('.group_has_no_leaders') %></p>
      </div>
    <% end %>
    </div>

    </div>
  </div>

  <div class="span5">
    <div class="default-padding">

     <div class="subblock">
       <h2><%= t('.group_screens') %></h2>
       <%= render :partial => "screens/thumbs", :object => @group.screens, 
        :locals => { :show_field_count => false, :show_owner => false } %>
     </div>

     <div class="subblock">
       <h2><%= t('.group_feeds') %></h2>

       <% if !@group.feeds.empty? %>
         <ul>
           <% @group.feeds.each do |feed| %>
           <li><%= link_to feed.name, feed %></li>
           <% end %>
         </ul>
       <% end %>

     </div>
     <div class="subblock">
       <h2><%= t('.edit_group') %></h2>
       <div class="form-stacked">
         <%= form_for(@group) do |f| %>
           <% if @group.errors.any? %>
             <div id="errorExplanation">
               <h2><%= pluralize(@group.errors.count, "error") + " " + t(:prohibited_save, :model => Group.model_name.human) %></h2>
               <ul>
                 <% @group.errors.full_messages.each do |msg| %>
                   <li><%= msg %></li>
                 <% end %>
               </ul>
             </div>
           <% end %>
           <fieldset>
             <div class="clearfix">
               <%= f.label :name %>
                 <div class="input">
                   <%= f.text_field :name, :class => "fillWidth", :autofocus => true %>
                 </div>
             </div>
             <div class="clearfix">
               <%= f.label :narrative %>
               <div class="input">
                 <%= f.text_area :narrative, :class => "fillWidth" %>
               </div>
             </div>
           </fieldset>
           <div align="right" style="padding-right:20px;">
             <%= f.submit t(:update_model, :model => Group.model_name.human), :class => "btn primary" %>
             <%= link_to_function t(:cancel), "history.back()", :class => "btn" %>
           </div>
         <% end %>
       </div>
     </div>
   </div>
 </div>
</div>
</div>
