<div class="row-fluid">
  <div class="span2">

    <section class="viewblock">
      <header class="viewblock-header">
        <%= back_button @group %>
        <h1 class="default-padding"><%= t(:edit_group) %></h1>
      </header>
      <div class="viewblock-cont clearfix">
        <div class="form-stacked">
        	<%= form_for(@group) do |f| %>
        		<% if @group.errors.any? %>
        		<div id="errorExplanation">
        		<h2><%= pluralize(@group.errors.count, "error") + " " + t(:prohibited_save) %></h2>
        		<ul>
        		  <% @group.errors.full_messages.each do |msg| %>
        		    <li><%= msg %></li>
        		  <% end %>
        		</ul>
        		</div>
        		<% end %>
        
        		<fieldset>
        			<div class="clearfix">
        				<%= f.label t(:name) %>
        				<div class="input">
        					<%= f.text_field :name, :class => "fillWidth" %>
        				</div>
        			</div>
        
        			<div class="clearfix">
        				<%= f.label t(:narrative) %>
        				<div class="input">
        					<%= f.text_area :narrative, :class => "fillWidth" %>
        				</div>
        			</div>
        		</fieldset>
        		
        		<div class="submit_bar actions">
        			<%= f.submit "Save Group Details", :class => "btn" %>
        		</div>
        	<% end %>
        </div>
      </div>
    </section>

  </div>

  <div class="span10">

    <section class="viewblock no">
      <header class="viewblock-header">
        <h1 class="default-padding"><%= t(:change_group_memberships) %></h1>
      </header>
      <div class="viewblock-cont">
        <%= render 'edit_memberships' %>
      </div>
    </section>
  </div>
</div>
