<section class="viewblock">
  <header class="viewblock-header">
    <div class="viewblock-header_right">
      <div class="button-padding">
        <% if can? :create, Group %>
          <%= link_to t(:new_model, model: Group.model_name.human), new_group_path, class: "btn" %>
        <% end %>
      </div>
    </div>
    <h1 class="default-padding">
      <%= t(:all_model, model: Group.model_name.human(count: 42)) %>
    </h1>
  </header>

  <div class="viewblock-cont">
    <% if !@my_groups.empty? %>
      <div class="clearfix default-padding">
        <div class="header-with-icon">
          <h3>
            <%= t(:my_model, model: Group.model_name.human(count: 42)) %>
          </h3>
        </div>

        <ul class="groups-my groups-list">
          <%= render @my_groups %>
        </ul>
      </div>
    <% end %>

    <% other_groups = @groups - @my_groups %>
    <% if !other_groups.empty? %>
      <div class="clearfix default-padding">
        <div class="header-with-icon">
          <h3>
            <%= t(:other_model, model: Group.model_name.human(count: 42)) %>
          </h3>
        </div>
        
        <ul class="groups-other groups-list">
          <%= render other_groups %>
        </ul>
      </div>
    <% end %>

  </div>
</section>