<p>
  <b>Name:</b>
  <%= @group.name %>
</p>
<p>
  <b>Leaders:</b>
  <ul>
  <% @group.memberships.leader.each do |membership| %>
    <li>
      <%= membership.user.name %> - 
      <! add logic to limmit to group leaders -->
      <%= form_for([@group, membership]) do |f| %>
        <%= f.select :level, Membership::LEVELS %>
        <%= f.submit %>
      <% end %>
    </li>
  <% end %>
  </ul>
</p>
<p>
  <b>Members:</b>
  <ul>
  <% @group.memberships.regular.each do |membership| %>
    <li>
      <%= membership.user.name %> - <%= link_to "Destroy", [@group, membership], :confirm => 'Are you sure?', :method => :delete %>
      <! add logic to limit to group leaders -->
        <%= form_for([@group, membership]) do |f| %>
          <%= f.select :level, Membership::LEVELS %>
          <%= f.submit %>
        <% end %>
    </li>
  <% end %>
  </ul>
</p>
<p>
  <b>Pending Members:</b>
  <ul>
  <% @group.memberships.pending.each do |membership| %>
    <li>
    <! add logic to limit to group leaders -->
      <%= membership.user.name %> - <%= link_to "Aprove", approve_group_membership_path(@group, membership), :confirm => 'Are you sure?', :method => :put %>
                                    <%= link_to "Deny", deny_group_membership_path(@group, membership), :confirm => 'Are you sure?', :method => :put %>
    </li>
  <% end %>
  </ul>
</p>
<p>
  <b>Add Member:</b>
  <%= form_for([@group, @group.memberships.new]) do |f| %>
    <%= f.collection_select :user_id, User.all - @group.all_users, :id, :name %>
    <%= hidden_field_tag 'autoconfirm', true %>
    <%= f.submit %>
  <% end %>
</p>
<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
