<%= form_with(model: text_blob) do |form| %>
  <% if text_blob.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(text_blob.errors.count, "error") %> prohibited this text_blob from being saved:</h2>

      <ul>
        <% text_blob.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render partial: "contents/form", locals: {form: form} %>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.label :render_as, style: "display: block" %>
    <%= form.select :render_as, TextBlob.render_as %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
