<p style="color: green"><%= notice %></p>

<%= render @text_blob %>

<div>
  <%= link_to "Edit this text blob", edit_text_blob_path(@text_blob) %> |
  <%= link_to "Back to text blobs", text_blobs_path %>

  <%= button_to "Destroy this text blob", @text_blob, method: :delete %>
</div>
