<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-banner alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4><b><%= pluralize(@user.errors.count, t(:error)) + ' ' + t(:prohibited_save, :model => 'user') %></b></h4>

      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<fieldset>
  <div class="clearfix">
    <%= f.label :first_name %>
    <div class="input">
      <div class="inline-inputs">
	      <%= f.text_field :first_name, :autofocus => true %>&nbsp;<%= f.text_field :last_name, :placeholder => 'Last' %>
      </div>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :email %>
    <div class="input">
      <%= f.text_field :email %>
    </div>
  </div>

  <% if @user.new_record? %>
    <div class="clearfix">
      <%= f.label :password %>
      <div class="input">
        <%= f.password_field :password %>
      </div>
    </div>
    <div class="clearfix">
      <%= f.label :password_confirmation %>
      <div class="input">
        <%= f.password_field :password_confirmation %>
      </div>
    </div>
  <% end %>

  <div class="clearfix">
    <%= f.label :locale %>
    <div class="input">
      <%= f.select :locale, options_for_select(I18n.available_locales, I18n.locale.to_sym) %>
    </div>
  </div>

  <div class="clearfix">
    <div class="input checkbox">
      <%= f.check_box :receive_moderation_notifications %> <%= f.label :receive_moderation_notifications %>
    </div>
  </div>

  <% if can? :manage, @user %>
  <div class="clearfix">
	  <div class="input checkbox">
      <%= f.check_box :is_admin %> <%= f.label :is_admin %>
    </div>
  </div>
  <% end %>
</fieldset>
<div class="submit_bar actions">
  <%= f.submit :class => "btn primary" %>
  <%= link_to_function t(:cancel), "history.back()", :class => "btn" %>
</div>
<% end %>
