<div class="row-fluid">
  <div class="span4">
    <div class="default-padding">

      <div class="subblock bordered">
        <div class="default-padding">
          <h2>
            <%= @user.first_name %> <%= @user.last_name %>
          </h2>

          <p>
            <%= mail_to @user.email, @user.email, :encode => "hex" if !@user.email.empty? %>
          </p>

          <% if @user.is_admin? %>
              <p><b><i class="icon-user-admin-blk tooltip-basic" data-tooltip-text="<%= t('.system_wide_admin') %>"></i> <%= t('.admin') %></b></p>
          <% end %>

          <% if user_signed_in? and current_user == @user %>
            <p style="margin-bottom: 0px;"><b><%= t('.this_is_you') %></b></p>
          <% end %>
          <% if can? :edit, @user %>
            <div class="inline-inputs">
              <%= link_to t(:edit), edit_user_path, :class => "btn" %> 
              <%= link_to t('.change_password'), edit_user_registration_path, :class => "btn" if current_user == @user %> 
              <%= link_to t(:destroy), registration_path(@user), :data => { :confirm => t(:are_you_sure)}, :method => :delete, :class => "btn danger" if current_user != @user %> 
            </div>
          <% end %>
        </div>
      </div>

      <div class="subblock">
        <h2><%= user_title @user, t('.groups') %></h2>
        <% if !@memberships.empty? %>

            <table>
              <tr>
                <th><%= t('.name') %></th>
                <% if @memberships.any? {|m| can? :edit, m} %><th><%= t('.roles') %></th><% end %>
              </tr>

              <% @memberships.each do |membership| %>
                  <tr>
                    <td>
                      <!-- TODO show leader icon if @user is a leader of the group that is listed here <%# if current_user.is_admin? %>
                <i class="icon-user-leader-blk tooltip-basic" data-tooltip-text="This user is a leader of this group"></i>
              <%# end %>
              -->
                      <%= link_to membership.group.name, membership.group %>
                    </td>
                    <% if can? :edit, membership %>
                        <td>
                          <%= form_for([membership.group, membership]) do |f| %>
                              <% if can? :update, membership.group %>
                                <%= f.select :level, Membership::LEVELS, { }, :style => "width: 80px;" %>
                              <% else %>
                                 <%= membership.level_name.humanize %>
                              <% end %>
                              <%= f.select :receive_emails, { t('.receive_emails') => true, t('.dont_receive_emails') => false } %>
                              <div class="submit_bar sub_actions">
                                <%= f.submit :class => "btn" %>
                              </div>
                          <% end %>
                        </td>
                   <% end %>
                  </tr>
              <% end %>
            </table>

            <br/><br/>
        <% end %>

      </div>

    </div>
  </div>

  <div class="span4">
    <div class="default-padding">

      <div class="subblock">
        <h2><%= user_title @user, t('.screens') %></h2>
        <%= render :partial => "screens/thumbs", :object => @screens, 
          :locals => { :show_field_count => false, :show_owner => true } %>
      </div>

    </div>
  </div>

  <div class="span4">
    <div class="default-padding">

      <div class="subblock">
        <h2><%= user_title @user.first_name, t('.content') %></h2>

        <% if !@contents.empty? %>
            <ul class="list-grid">
              <% @contents.each do |content| %>
                  <li>
                    <div class="cont thumb-icon">
                      <%= link_to content do %>
                          <%= render_content(content, {:type => 'grid'}) %>
                      <% end %>
                      <% if content.is_orphan? %>
                        <p class="is_orphan"><%= t('feeds.orphaned') %></p>
                      <% elsif content.is_approved? %>
                        <p class="is_approved"><%= t('feeds.approved') %></p>
                      <% else %>
                        <% if content.is_pending? %>
                          <span class="is_pending"><%= t('feeds.pending') %></span>
                        <% end %>
                        <% if content.is_denied? %>
                          <% if content.is_pending? %>
                            <br>
                          <% end %>
                          <span class="is_denied"><%= t('feeds.denied') %></span>
                        <% end %>
                      <% end %>
                    </div>
                    <div class="cont">
                      <p>
                        <b><%= link_to content.name, content %></b>
                      </p>
                      <p><%= content.type %></p>
                      <p>
                        <%= content.start_time.nil? ? '-' : content.start_time.strftime("%m/%d") %> to <%= content.end_time.nil? ? t('.forever') : content.end_time.strftime("%m/%d") %>
                      </p>
                    </div>
                  </li>
              <% end %>
            </ul>

        <% else %>

        <% end %>

      </div>

    </div>
  </div>
</div>
