<article>
  <div class="default-padding">
    <h2>Groups</h2>

    <table>
      <tr>
        <th>Name</th>
  			<th>Roles</th>
  		</tr>

      <% @user.memberships.each do |membership| %>
      <tr>
        <td><%= membership.group.name %></td>

        <td>
          <%= form_for([membership.group, membership]) do |f| %>
            <%= f.select :level, Membership::LEVELS %>
            <%= f.submit %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>

    <br/><br/>

    <h2>Screens</h2>

    <table>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Dimensions</th>
      </tr>

    <% @user.screens.each do |screen| %>
      <tr>
        <td><%= screen.name %></td>
        <td><%= screen.location %></td>
        <td><%= screen.width %> X <%= screen.height %></td>
      </tr>
      <% end %>
    </table>

    <br/><br/>

    <h2>Submissions</h2>

    <table>
      <tr>
        <th>Name</th>
  			<th>Type</th>
  			<th>Airs</th>
  		</tr>

    <% @user.contents.each do |content| %>
      <tr>
        <td><%= content.name %></td>
        <td><%= content.type %></td>
        <td><%= content.start_time %> - <%= content.end_time %></td>
      </tr>
      <% end %>
    </table>

    <br/><br/>

  </div>

</article>

<aside>

  <div>
    <p>
      <b>Email:</b>
      <%= @user.email %>
    </p>

    <p>
      <b>Language:</b>
      <%= @user.locale %>
    </p>
  </div>

</aside>
<div class="clear"></div>
