<article>
  <div class="default-padding">
    <% if !@user.memberships.empty? %>
      <h2>Groups</h2>

      <table>
        <tr>
          <th>Name</th>
    			<th>Roles</th>
    		</tr>

        <% @user.memberships.each do |membership| %>
          <tr>
            <td><%= link_to membership.group.name, membership.group%></td>

            <td>
              <%= form_for([membership.group, membership]) do |f| %>
                <%= f.select :level, Membership::LEVELS %>
                <%= f.submit %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>

      <br/><br/>
    <% end %>

    <% if !@user.screens.empty? %>
      <h2>Screens</h2>

      <table>
        <tr>
          <th>Name</th>
          <th>Location</th>
          <th>Dimensions</th>
        </tr>

        <% @user.screens.each do |screen| %>
          <tr>
            <td><%= link_to screen.name, screen %></td>
            <td><%= screen.location %></td>
            <td><%= screen.width %> X <%= screen.height %></td>
          </tr>
        <% end %>
      </table>

      <br/><br/>
    <% end %>

    <% Group.joins(:screens, :users).where(:users => {:id => @user}).group('groups.id').each do |group| %>
      <h2><%= link_to group.name, group %>'s Screens</h2>

      <table>
        <tr>
          <th>Name</th>
          <th>Location</th>
          <th>Dimensions</th>
        </tr>

        <% group.screens.each do |screen| %>
          <tr>
            <td><%= link_to screen.name, screen %></td>
            <td><%= screen.location %></td>
            <td><%= screen.width %> X <%= screen.height %></td>
          </tr>
        <% end %>
      </table>
      <br/><br/>
    <% end %>

    <% if !@user.contents.empty? %>
      <h2>Submissions</h2>

      <table>
        <tr>
          <th>Name</th>
    			<th>Type</th>
    			<th>Airs</th>
    		</tr>

      <% @user.contents.each do |content| %>
        <tr>
          <td><%= link_to content.name, content %></td>
          <td><%= content.type %></td>
          <td><%= content.start_time.strftime("%B %d at %I:%M%p %Z") %> - <%= content.end_time.strftime("%B %d at %I:%M%p %Z") %></td>
        </tr>
        <% end %>
      </table>
      <br/><br/>
    <% end %>

  </div>

</article>

<aside>

  <div>
    <p>
      <b>Email:</b>
      <%= @user.email %>
    </p>

    <p>
      <b>Language:</b>
      <%= @user.locale %>
    </p>
  </div>

</aside>
<div class="clear"></div>
