<section class="viewblock no">
	<header class="viewblock-header">
		<h1 class="default-padding">Change Password</h1>
	</header>
	<div class="viewblock-cont">
			<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>
      
        <fieldset>
          <div class="clearfix">
      			<%= f.label :password, "New password" %>
      			<div class="input">
      				<%= f.password_field :password %>
      			</div>
      		</div>
      		
      		<div class="clearfix">
      			<%= f.label :password_confirmation, "Repeat password" %>
      			<div class="input">
      				<%= f.password_field :password_confirmation %>
      			</div>
      		</div>
        </fieldset>
        
        <div class="submit_bar actions">
      		<%= f.submit "Submit", :class => "btn primary" "Change Password" %>
      		&nbsp;&nbsp;&nbsp;
      		<%= render :partial => "devise/shared/links" %>
      	</div>

      <% end %>
	</div>
</section>
