<section class="viewblock no">
	<header>
		<%= back_button :back %>
		<h1>Forgot your password?</h1>
	</header>
	<div class="viewblock-cont">
		<article>
			
			<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
        <%= devise_error_messages! %>
      
        <fieldset>
          <div class="clearfix">
      			<%= f.label :email %>
      			<div class="input">
      				<%= f.email_field :email %>
      			</div>
      		</div>
        </fieldset>
        
        <div class="submit_bar actions">
      		<%= f.submit "Send Reset Instructions" %>
      		&nbsp;&nbsp;&nbsp;
      		<%= render :partial => "devise/shared/links" %>
      	</div>
      
      <% end %>

		</article>
		
	</div>
</section>
