<section class="viewblock no">
	<header class="viewblock-header">
		<h1 class="default-padding"><%= t('.header') %></h1>
	</header>
	<div class="viewblock-cont">
			<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>
      
        <fieldset>
          <div class="clearfix">
      			<%= f.label :email %>
      			<div class="input">
      				<%= f.email_field :email, class: "input-xlarge" %>
      			</div>
      		</div>
        </fieldset>
        
        <div class="submit_bar actions">
      		<%= f.submit t('.submit'), class: "btn btn-primary" %>
      		&nbsp;&nbsp;&nbsp;
      		<%= render partial: "devise/shared/links" %>
      	</div>
      
      <% end %>
	</div>
</section>
