<div class="max-w-2xl">
  <%= form_with(model: video, class: "contents") do |form| %>
  <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
    <% if video.errors.any? %>
      <div id="error_explanation" class="sm:col-span-full bg-red-50 border border-red-200 text-red-700 px-4 py-3 rounded-lg">
        <h2 class="font-medium mb-2"><%= pluralize(video.errors.count, "error") %> prohibited this video from being saved:</h2>

        <ul class="list-disc list-inside space-y-1">
          <% video.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="sm:col-span-4">
      <%= form.label :url, class: "frm-label" %>
      <%= form.text_field :url, class: "frm-input" %>
    </div>

    <%= render "contents/form", form: form %>

    <div class="sm:col-span-full">
      <%= form.submit class: "btn-primary" %>
    </div>
  </div>
  <% end %>
</div>
