<%
if @content.media.empty?
  @content.media.build({:key=>"original"})
end 
%>
<% if @content.errors.any? %>
<div id="errorExplanation">
  <h2><%= pluralize(@content.errors.count, "error") + t(:prohibited_save) %></h2>
  <ul>
    <% @content.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<h1><%=t(:upload_graphic)%></h1>
<div class="field">
  	<label><%=t(:specify_file)%></label>
	<div class="fieldbox">
		<%= form.fields_for :media do |media| %>
    		<%= media.file_field :file %>
    		<%= media.hidden_field :key %>
  		<% end %>
    </div>
  </div>
<div class="field">
  <label><%=t(:accepted_filetypes)%></label>
  <div><%= image_tag('elements/filetype-icons.jpg') %></div>
</div>

<h1><%=t(:provide_details)%></h1>
<div class="field">
  	<%= form.label :name %>
  	<div class="inputs">
		<%= form.text_field :name, :class => 'alert' %>
	</div>
</div>
<%= render :partial => 'contents/form_elements/duration', :locals => {:form => form, :min => 4, :max => 12} %>
<%= render :partial => 'contents/form_elements/dates', :locals => {:form => form} %>
<div class="field">
  <%= form.label :user %>
  <div class="inputs">
		<%= form.collection_select :user_id, User.all, :id, :name %>
	</div>
</div>
<h1><%=t(:select_feed)%></h1>
<% if @content.new_record? %>
  <%= render :partial => 'contents/form_elements/feeds' %>
<% end %>
	
