<% @content.medias.build({:key=>"original"}) %>
<% if @content.errors.any? %>
<div id="errorExplanation">
  <h2><%= pluralize(@content.errors.count, "error") %> prohibited this content from being saved:</h2>
  <ul>
    <% @content.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= form.label :name %><br />
  <%= form.text_field :name %>
</div>
<div class="field">
  <%= form.label :duration %><br />
  <%= form.text_field :duration %>
</div>
<%= render :partial => 'contents/form_elements/dates', :locals => {:form => form} %>
<div class="field">
  <%= form.label :user %><br />
  <%= form.collection_select :user_id, User.all, :id, :name %>
</div>
<% if @content.new_record? %>
  <%= render :partial => 'contents/form_elements/feeds' %>
<% end %>
<div class="field">
  <%= form.fields_for :medias do |media| %>
    <%= media.file_field :file %>
    <%= media.hidden_field :key %>
  <% end %>
</div>
