<%
if @content.media.empty?
  @content.media.build({:key=>"original"})
end 
%>
<% if @content.errors.any? %>
<div id="errorExplanation">
  <h2><%= pluralize(@content.errors.count, "error") + t(:prohibited_save) %></h2>
  <ul>
    <% @content.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<fieldset>
	<legend><span><%=t(:upload_graphic)%></span></legend>
	<div class="clearfix">
		<label><%=t(:specify_file)%></label>
		<div class="input">
			<%= form.fields_for :media do |media| %>
			<%= media.file_field :file %>
			<%= media.hidden_field :key %>
			<% end %>
		</div>
	</div>
</fieldset>
	
<fieldset>
	<legend><span><%=t(:provide_details)%></span></legend>
	<div class="clearfix">
  	<%= form.label :name %>
  	<div class="input">
			<%= form.text_field :name, :class => 'alert' %>
		</div>
	</div>
	
	<%= render :partial => 'contents/form_elements/duration', :locals => {:form => form, :min => 4, :max => 12} %>
	<%= render :partial => 'contents/form_elements/dates', :locals => {:form => form} %>
	
	<div class="clearfix">
		<%= form.label :user %>
	  <div class="input">
			<%= form.collection_select :user_id, User.all, :id, :name %>
		</div>
	</div>
</fieldset>

<fieldset>
	<legend><span><%=t(:select_feed)%></span></legend>
	<% if @content.new_record? %>
  <%= render :partial => 'contents/form_elements/feeds' %>
	<% end %>
</fieldset>
	
