<%
if @content.media.empty?
  @content.media.build({:key=>"original"})
end
%>
<fieldset>
  <legend><span><%= t(:upload_graphic) %></span></legend>
  <div class="clearfix">
    <label><%= t(:specify_file) %></label>
    <div class="input">
      <%= form.fields_for :media do |media| %>
      <%= media.file_field :file %>
      <%= media.hidden_field :key %>
      <% end %>
    </div>
  </div>
</fieldset>
