<%
if @content.medias.empty?
  @content.medias.build({:key=>"original"})
end 
%>
<% if @content.errors.any? %>
<div id="errorExplanation">
  <h2><%= pluralize(@content.errors.count, "error") %> prohibited this content from being saved:</h2>
  <ul>
    <% @content.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<h1>1. Upload Graphic From Your Computer</h1>
<div class="field">
  	<label>Specify File</label>
	<div class="fieldbox">
		<%= form.fields_for :medias do |media| %>
    		<%= media.file_field :file %>
    		<%= media.hidden_field :key %>
  		<% end %>
    </div>
  </div>
<div class="field">
  <label>Accepted Filetypes</label>
  <div><%= image_tag('elements/filetype-icons.jpg') %></div>
</div>

<h1>2. Provide Basic Details</h1>
<div class="field">
  	<%= form.label :name %>
  	<div class="inputs">
		<%= form.text_field :name, :class => 'alert' %>
	</div>
</div>
<%= render :partial => 'contents/form_elements/duration', :locals => {:form => form, :min => 4, :max => 12} %>
<%= render :partial => 'contents/form_elements/dates', :locals => {:form => form} %>
<div class="field">
  <%= form.label :user %>
  <div class="inputs">
		<%= form.collection_select :user_id, User.all, :id, :name %>
	</div>
</div>
<h1>3. Select Feed</h1>
<% if @content.new_record? %>
  <%= render :partial => 'contents/form_elements/feeds' %>
<% end %>
	
