<% content_for :js_ready do %>
// Setup the date pickers
$("#start_time_date").datepicker();
$("#end_time_date").datepicker();

$('#date_start').click(function(event) {
  event.stopPropagation();
  var visible = $('#ui-datepicker-div').is(':hidden');
  $("#start_time_date").datepicker(visible ? 'show' : 'hide');
});

$('#date_end').click(function(event) {
  event.stopPropagation();
  var visible = $('#ui-datepicker-div').is(':hidden');
  $("#start_time_date").datepicker(visible ? 'show' : 'hide');
});


// Setup the time pickers
$('#start_time_time').timepicker();
$("#end_time_time").timepicker();

$('#time_start').click(function(e) {
  e.stopPropagation();
  $('#start_time_time').timepicker('show');
});

$('#time_end').click(function(e) {
  e.stopPropagation();
  $('#end_time_time').timepicker('show');
});
<% end %>

<div class="clearfix datetime">
  <%= form.label :start_time %>
  <div class="input">
		<%= form.text_field("start_time[date]", :id => "start_time_date", :maxlength => 20, :class => "datefield", 	:value=> (Time.now + ConcertoConfig[:start_date_offset].to_i.days).strftime("%m/%d/%Y"))%><a id="date_start" class="button date">&nbsp;</a>
		<%= form.text_field("start_time[time]", :id => "start_time_time", :maxlength => 20, :class => "timefield", :value=>ConcertoConfig[:content_default_start_time])%><a id="time_start" class="button time">&nbsp;</a>
  </div>
</div>

<div class="clearfix datetime">
  <%= form.label :end_time %>
	<div class="input">
		<%= form.text_field("end_time[date]", :id => "end_time_date", :maxlength => 20, :class => "datefield", :value=>(Time.now + ConcertoConfig[:default_content_run_time].to_i.days + ConcertoConfig[:start_date_offset].to_i.days).strftime("%m/%d/%Y"))%><a id="date_end" class="button date">&nbsp;</a>
		<%= form.text_field("end_time[time]", :id => "end_time_time", :maxlength => 20, :class => "timefield", :value=>ConcertoConfig[:content_default_end_time])%><a id="time_end" class="button time">&nbsp;</a>
	</div>
</div>
