<% content_for :head do %>
  <%= javascript_include_tag 'jquery-ui-1.8.5.custom.min.js' %>
  <%= javascript_include_tag 'jquery-ui-timepicker-addon.js' %>
<% end %>
<% content_for :js_ready do %>

  $('#<%=params[:type]%>_start_time').timepicker({
      ampm:true
  });
  $('#<%=params[:type]%>_end_time').timepicker({
      ampm:true
  });
  $('#<%=params[:type]%>_start_date').datepicker();
  $('#<%=params[:type]%>_end_date').datepicker();

  $('#time_start').click(function(){
  $('#<%=params[:type]%>_start_time').trigger("focus");
    });

  $('#date_start').click(function(){
  $('#<%=params[:type]%>_start_date').trigger("focus");
    });

  $('#time_end').click(function(){
  $('#<%=params[:type]%>_end_time').trigger("focus");
    });
  $('#date_end').click(function(){
  $('#<%=params[:type]%>_end_date').trigger("focus");
    });
<% end %>

<div class="field datetime">
  	<%= form.label :start_time %>
    <div class="fieldbox">
      <%= form.text_field("start_date", :maxlength => 20, :class => "datefield", :value=>Time.now.strftime("%m/%d/%Y"))%><a id="date_start" class="button date">&nbsp;</a>
      <%= form.text_field("start_time", :maxlength => 20, :class => "timefield", :value=>"12:00 am")%><a id="time_start" class="button time">&nbsp;</a>
  </div>
</div>
<div class="field datetime">
  	<%= form.label :end_time %>
  	<div class="fieldbox">
      <%= form.text_field("end_date", :maxlength => 20, :class => "datefield", :value=>7.days.from_now.strftime("%m/%d/%Y"))%><a id="date_end" class="button date">&nbsp;</a>
      <%= form.text_field("end_time", :maxlength => 20, :class => "timefield", :value=>"11:59 pm")%><a id="time_end" class="button time">&nbsp;</a>
	</div>
</div>
