<% content_for :head do %>
  <%= javascript_include_tag 'jquery-ui-1.8.5.custom.min.js' %>
  <%= javascript_include_tag 'jquery-ui-timepicker-addon.js' %>
<% end %>
<% content_for :js_ready do %>
  $('#start_time').timepicker();
  $("#end_time").timepicker();
  $('#start_date').datepicker();
  $('#end_date').datepicker();
<% end %>

<div class="field datetime">
  	<%= form.label :start_time %>
    <%= form.hidden_field :start_time %>   
    <div class="fieldbox">
      <%= text_field("start", "date", :maxlength => 20, :class => "datefield")%><%=image_tag('elements/date.png', :id=>'date',:align=>'top' , :style=>"padding-left:4px;padding-right:20px")%>
      <%= text_field("start", "time", :maxlength => 20, :class => "timefield")%><%=image_tag('elements/time.png', :id=>'time',:align=>'top' , :style=>"padding-left:4px")%>
  </div>
</div>
<div class="field datetime">
  	<%= form.label :end_time %>
  	<div class="fieldbox">
      <%= form.hidden_field :end_time %>
      <%= text_field("end", "date", :maxlength => 20, :class => "datefield")%><%=image_tag('elements/date.png', :id=>'date',:align=>'top' , :style=>"padding-left:4px;padding-right:20px")%>
      <%= text_field("end", "time", :maxlength => 20, :class => "timefield")%><%=image_tag('elements/time.png', :id=>'time',:align=>'top' , :style=>"padding-left:4px")%>
	</div>
</div>
