<%= form.label :duration, t('.show_on_screen') %>
<p style="font-size: 22px; line-height: normal;" class="event-toggleDurationSelect"><%= t('.second', count: @content.duration) %>&nbsp;&nbsp;<a href="#" style="font-size: 12px;"><%= t('.change') %></a></p>

<div class="clearfix duration event-durationSelectDiv">
	<div class="input">
		<div class="leftseconds"><%= min %>s</div>
		<%= form.range_field :duration, {:min =>min, :max=>max, :class=>"duration_range"} %>
		<div class="rightseconds"><%= max %>s</div>
	</div>
</div>