<div class="clearfix">
  <% feeds = dfs_tree(Feed.roots) %>
  <% if feeds.empty? %>
    <p><%= t(:no_feeds)%></p>
  <% else %>
    <input type="search" class="feed_filter" placeholder="Type here to filter"/>
    <br />
    <ol class='filterable'>
    <% feeds.each_with_index do |feed, i| %>
      <li data-filter="<%= feed.name %>"><%= check_box_tag "feed_id[#{i}]", feed.id, @content.feeds.include?(feed) %>
      <%= "-" * feed.depth %> <%= feed.name %></li>
    <% end %>
    </ol>
  <% end %>
</div>
