<label>Filter Feeds</label>
<div class="input">  
  <% feeds = dfs_tree(Feed.roots) %>
  <% feeds.reject!{|f| !@feeds.include?(f) } %>
  <% if feeds.empty? %>
    <p><%= t('feeds.no_feeds')%></p>
  <% else %>
    <input type="text" class="input-xlarge feed_filter" placeholder="Type here to filter"/>
    <br /><br />
    <ul class="filterable selector-list">
      <% feeds.each_with_index do |feed, i| %>
      <% allowed_type = (feed.content_types[@content.class.name] == "1") %>
      <li class="with-padding" data-filter="<%= feed.name %>">
        <%= check_box_tag "feed_id[#{i}]", feed.id, @content.feeds.include?(feed), :disabled => !allowed_type %>
          <%= "-" * feed.depth %> <%= feed.name %>
      </li>
      <% end %>
    </ul>

  <% end %>
</div>
