<p id="notice"><%= notice %></p>

<h1><%= @page.title %></h1>
<h2><%= @page.category %></h2>

<% if File.exist?(@file_path) %>
  <%=raw @markdown.render(File.read(@file_path)) %>
<% else %>
  <%=raw @markdown.render(@page.body) %>
<% end %>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
