<div class="row-fluid approval-info">
  <div class="span3">
    <% user = submission.content.user %>
    <p class="uppercase" style="margin-bottom: 0px;"><small><b><%= t('.submitted_by') %>:</b></small></p>
    <p><%= link_to user.name, user %></p>
  </div>
  <div class="span3">
    <p class="uppercase" style="margin-bottom: 0px;"><small><b><%= t('.display_from') %></b></small></p>
    <% if !submission.content.start_time.nil? %>
      <p><%= submission.content.start_time.strftime("%a %D") %> <%= submission.content.start_time.strftime("%I:%M %P") %></p>
    <% else %>
      <p><%= t('.the_dawn_of_time') %></p>
    <% end %>
  </div>
  <div class="span3">
    <p class="uppercase" style="margin-bottom: 0px;"><small><b><%= t('.display_until') %></b></small></p>
    <% if !submission.content.end_time.nil? %>
      <p><%= submission.content.end_time.strftime("%a %D") %> <%= submission.content.end_time.strftime("%I:%M %P") %></p>
    <% else %>
      <p><%= t('.the_end_of_time') %></p>
    <% end %>
  </div>
  <div class="span3">
    <p class="uppercase" style="margin-bottom: 0px;"><small><b><%= t('.duration') %></b></small></p>
    <p><%= submission.duration %> <%= t('.seconds') %></p>
  </div>
</div>
