<% unless submission.moderation_flag.blank? %>
  <% if submission.moderation_flag %>
    <h2><%= t('.approved') %></h2>
    <% if can? :update, submission %><h3><%= t '.moderated_by', :moderator => submission.moderator.name %></h3><% end %>
  <% else %>
    <h2><%= t 'feeds.denied' %></h2>
    <% if can?(:update, submission) || can?(:update, submission.content) %>
      <h3><%= submission.moderation_reason %> <%= submission.moderator.name if can? :update, submission %></h3>
    <% end %>
  <% end %>
<% end %>
