<div class="row-fluid approval-info">
  <div class="span3">
    <% user = submission.content.user %>
    <p class="uppercase" style="margin-bottom: 0px;"><small><b><%= t('.submitted_by') %>:</b></small></p>
    <p><%= link_to user.name, user %></p>
  </div>
  <div class="span3">
    <p class="uppercase" style="margin-bottom: 0px;"><small><b><%= t('.display_from') %></b></small></p>
    <p>
      <% unless submission.content.start_time.blank? %>
        <%= l submission.content.start_time, :format => :short_date %> <%= l submission.content.start_time, :format => :twelve_hour_time %>
      <% else %>
        <%= t('.the_dawn_of_time') %>
      <% end %>
    </p>
  </div>
  <div class="span3">
    <p class="uppercase" style="margin-bottom: 0px;"><small><b><%= t('.display_until') %></b></small></p>
    <p>
      <% unless submission.content.end_time.nil? %>
        <%= l submission.content.end_time, :format => :short_date %> <%= l submission.content.end_time, :format => :twelve_hour_time %>
      <% else %>
        <%= t('.the_end_of_time') %>
      <% end %>
    </p>
  </div>
  <div class="span3">
    <p class="uppercase" style="margin-bottom: 0px;"><small><b><%= t('.duration') %></b></small></p>
    <p>
      <%= submission.duration %> <%= t('.seconds') %>
      <% if can? :update, submission %>
        &nbsp;
        <%= link_to "#", :class => "tooltip-basic btnShowDuration", 'data-tooltip-text' => t('.edit_duration') do %>
          <span class="icon-pencil"></span>
        <% end %>
        <div class="editDurationCont" style="display: none;">
          <%= form_for([@submission.feed, @submission]) do |f| %>
            <%= f.number_field :duration, :class => "input-mini" %>
            <%= f.submit t(:edit) %>
          <% end %>
        </div>
      <% end %>
    </p>
  </div>
</div>
<br />
<% unless submission.moderation_flag.blank? %>
  <% if submission.moderation_flag %>
    <h2><%= t('.approved') %></h2>
    <% if can? :update, submission %><h3><%= t '.moderated_by', :moderator => submission.moderator.name %></h3><% end %>
  <% else %>
    <h2><%= t 'feeds.denied' %></h2>
    <% if can?(:update, submission) || can?(:update, submission.content) %>
      <h3><%= submission.moderation_reason %> <%= submission.moderator.name if can? :update, submission %></h3>
    <% end %>
  <% end %>
<% end %>
