<div class="row-fluid approval-info">
  <div class="span3">
    <% user = submission.content.user %>
    <p class="uppercase" style="margin-bottom: 0px;"><small><b><%= t('.submitted_by') %>:</b></small></p>
    <p><%= link_to user.name, user %></p>
  </div>
  <div class="span3">
    <p class="uppercase" style="margin-bottom: 0px;"><small><b><%= t('.display_from') %></b></small></p>
    <p>
      <% if !submission.content.start_time.nil? %>
        <%= submission.content.start_time.strftime("%a %D") %> <%= submission.content.start_time.strftime("%I:%M %P") %>
      <% else %>
        <%= t('.the_dawn_of_time') %>
      <% end %>
    </p>
  </div>
  <div class="span3">
    <p class="uppercase" style="margin-bottom: 0px;"><small><b><%= t('.display_until') %></b></small></p>
    <p>
      <% if !submission.content.end_time.nil? %>
        <%= submission.content.end_time.strftime("%a %D") %> <%= submission.content.end_time.strftime("%I:%M %P") %>
      <% else %>
        <%= t('.the_end_of_time') %>
      <% end %>
    </p>
  </div>
  <div class="span3">
    <p class="uppercase" style="margin-bottom: 0px;"><small><b><%= t('.duration') %></b></small></p>
    <p>
      <%= submission.duration %> <%= t('.seconds') %>
      <% if can? :update, submission and submission.moderation_flag.nil? and f %>
        &nbsp;
        <%= link_to "#", :class => "tooltip-basic btnShowDuration", 'data-tooltip-text' => t('.edit_duration') do %>
          <span class="icon-pencil"></span>
        <% end %>
      <% end %>
    </p>
    <% if can? :update, submission and submission.moderation_flag.nil? and f %>
      <div class="editDurationCont" style="display: none;">
        <%= f.number_field :duration, :class => "input-mini" %>
      </div>
    <% end %>
  </div>
</div>
<br />
<% if submission.moderation_flag != nil %>
  <h2><%= submission.moderation_flag == true ? t('.approved') : t('.denied') %></h2>
<% end %>