<%= form_for([submission.feed, submission]) do |f| %>
  <div class="clearfix">
    <%= f.label :moderation_reason, "Reason" %>
    <div class="input">
      <%= f.text_area :moderation_reason, :class => "span3" %>
    </div>
  </div>
  <%= f.hidden_field :moderation_flag, { :value => false }%>
  <%= f.hidden_field :moderator_id, { :value => current_user.id }%>
  <%= f.submit "Moderate Content", :class => "btn primary" %>
<% end %>
