<div class="viewblock-header_right">
  <div class="status-block">
    <label><%= t(:active).upcase %></label>
    <span><%= @approved_submissions ? @approved_submissions.count : 0 %></span>
  </div>
  <div class="status-block">
    <label><%= t(:pending).upcase %></label>
    <span><%= @pending_submissions ? @pending_submissions.count : 0 %></span>
  </div>
  <div class="status-block">
    <label><%= t(:expired).upcase %></label>
    <span><%= @expired_submissions ? @expired_submissions.count : 0 %></span>
  </div>
  <div class="status-block">
    <label><%= t(:denied).upcase %></label>
    <span><%= @denied_submissions ? @denied_submissions.count : 0 %></span>
  </div>
</div>
<div class="default-padding">
  <h1 id="contentlist">
    <%= link_to t(:all_feeds), feeds_path %> &gt; 
    <% @feed.ancestors.reverse.each do |ancestor_feed| %>
      <%= link_to ancestor_feed.name, feed_submissions_path(ancestor_feed) %> &gt; 
    <% end %>
    <%= @feed.name %> (<%= t(:moderated_by) %> <%= link_to @feed.group.name, group_path(@feed.group) %>)
  </h1>
</div>

