<div class="subnav clearfix">
  <div class="pull-left" style="padding: 3px 0px; width:100px">
    <%= link_to "#", :title => "Click on a feed to jump", :class => "btn small info dropdown-toggle dropdown-control dd-jumpto", :rel => "#jump_to" do %>
      <i class="icon-bolt"></i> Jump to Feed...
    <% end %>

    <div id="jump_to" style="display: none;">
      <div class="tooltip-scrollY">
        <% feeds = dfs_tree(Feed.roots) %>
        <% if feeds.empty? %>
          <p><%= t(:no_feeds) %></p>
        <% else %>

        <div class="filter-bar">
          <input type="text" class="feed_filter" placeholder="Type here to filter"/>
        </div>
        <ul class="filterable selector-list">
          <% feeds.each_with_index do |feed, i| %>
          <li data-filter="<%= feed.name %>">
            <%= link_to feed_submissions_path(feed), :class => "link-hl" do %>
              <%= ("&nbsp;" * feed.depth).html_safe %>
              <b><%= feed.name %></b>
            <% end %>
          </li>
          <% end %>
        </ul>
        <% end %>
      </div>
    </div>

  </div>

  <ul class="nav nav-pills">
    <% if @feed.children.empty? %>
    <li class="legend">No Sub-feeds</li>
    <% else %>
    <li class="legend">Sub-feeds:</li>
    <% end %>
    <% @feed.children.each do |feed| %>
    <li>
      <%= link_to feed_submissions_path(feed) do %><span class="badge"><%= feed.approved_contents.active.count %></span> <%= feed.name %><% end %>
    </li>
    <% end %>
  </ul>

</div>



<% if @can_moderate_feed and @feed.submissions.pending.count > 0 %>
<!-- note that we do not show an alert banner when there are no pending contents; we just hide it altogether -->
<div class="clearfix default-padding">
  <h3 class="header-with-icon" style="color:#993333;"><i class="icon-header-pendingcontent"></i><%= pluralize(@feed.submissions.pending.count, "content") %> pending your moderation</h3>
  <br />
  <% @feed.submissions.pending.select{|s| s.content.parent.nil?}.each do |submission| %>
    <%= render :partial => "submissions/submission_tile", :locals => { :submission => submission } %>
  <% end %>
</div>
<% end %>

<% if @paginated_submissions.empty? %>
<br />
<div class="clearfix default-padding">
  <div class="alert alert-block alert-zero">
    <p class="alert-heading">No <%= @state.capitalize %> Content</p>
    <% if can? :create, Content && @state == 'active' %>Would you kindly <%= link_to "submit something", new_content_path %> to make this feed a happier place?<% end %>
  </div>
</div>
<% else %>
<div class="clearfix default-padding">
  <div class="header-with-icon clearfix">
    <h3 style="float: left;">
      <i class="icon-header-<%= @state %>content"></i> <%= pluralize(@submissions.count, "#{@state} content") %>
    </h3>
    <div class="pagination-cont">
      <%= paginate @paginated_submissions %>
    </div>
  </div>
  <br />
  <% @paginated_submissions.select{|s| s.content.parent.nil?}.each do |submission| %>
    <%= render :partial => "submissions/submission_tile", :locals => { :submission => submission } %>
  <% end %>
</div>
<% end %>
