<div class="subnav clearfix">
  <div class="pull-left" style="padding: 3px 0px; width:100px">
    <%= link_to "#", :title => t('.click_to_jump'), :class => "btn small info dropdown-toggle dropdown-control dd-jumpto", :rel => "#jump_to" do %>
      <i class="ficon-bolt"></i><%= t('.jump_to_feed') %>
    <% end %>

    <div id="jump_to" style="display: none;">
      <div class="tooltip-scrollY">
        <% feeds = dfs_tree(Feed.roots) %>
        <% if feeds.empty? %>
          <p><%= t('feeds.no_feeds') %></p>
        <% else %>

        <div class="filter-bar">
          <input type="text" class="feed_filter" placeholder='Type here to filter'/>
        </div>
        <ul class="filterable selector-list">
          <% feeds.each_with_index do |feed, i| %>
          <li data-filter="<%= feed.name %>">
            <%= link_to feed_submissions_path(feed), :class => "link-hl" do %>
              <%= ("&nbsp;" * feed.depth).html_safe %>
              <b><%= feed.name %></b>
            <% end %>
          </li>
          <% end %>
        </ul>
        <% end %>
      </div>
    </div>

  </div>

  <ul class="nav nav-pills">
    <% if @feed.children.empty? %>
    <li class="legend"><%= t('.no_sub_feeds') %></li>
    <% else %>
    <li class="legend"><% t('.sub_feeds') %></li>
    <% end %>
    <% @feed.children.each do |feed| %>
    <li>
      <%= link_to feed_submissions_path(feed) do %><span class="badge"><%= feed.approved_contents.active.count %></span> <%= feed.name %><% end %>
    </li>
    <% end %>
  </ul>

</div>



<% if @can_moderate_feed and @feed.submissions.pending.count > 0 %>
<!-- note that we do not show an alert banner when there are no pending contents; we just hide it altogether -->
<div class="clearfix default-padding">
  <h3 class="header-with-icon" style="color:#993333;"><i class="icon-header-pendingcontent"></i><%= t('.submissions_pending', :count => @feed.submissions.pending.count) %></h3>
  <br />
  <% @feed.submissions.pending.select{|s| s.content.parent.nil?}.each do |submission| %>
    <%= render :partial => "submissions/submission_tile", :locals => { :submission => submission } %>
  <% end %>
</div>
<% end %>

<div class="default-padding" style="padding-bottom: 0px; height: 25px;">
  <a id="browse-filter-toggle" href="#" style="font-size: 0.8em;"><%= t('.toggle_content_states_to_display') %></a>
  
  <div id="browse-filter-select" class="clearfix" style="display: none;">

    <div class="pull-left">
      <p style="line-height: 24px; margin-right: 6px;"><%= t(:show) %>:</p>
    </div>
    <div class="pull-left">
      <div class="btn-group">
        <% if params[:state] == "active" or params[:state].nil? %>
          <%= link_to t('feeds.active'), feed_submissions_path(@feed, :state => 'active'), :class => 'btn active' %>
        <% else %>
          <%= link_to t('feeds.active'), feed_submissions_path(@feed, :state => 'active'), :class => 'btn' %>
        <% end %>

        <% if params[:state] == "future" %>
          <%= link_to t('feeds.future'), feed_submissions_path(@feed, :state => 'future'), :class => 'btn active' %>
        <% else %>
          <%= link_to t('feeds.future'), feed_submissions_path(@feed, :state => 'future'), :class => 'btn' %>
        <% end %>

        <% if params[:state] == "expired" %>
          <%= link_to t('feeds.expired'), feed_submissions_path(@feed, :state => 'expired'), :class => 'btn active' %>
        <% else %>
          <%= link_to t('feeds.expired'), feed_submissions_path(@feed, :state => 'expired'), :class => 'btn' %>
        <% end %>

        <% if params[:state] == "denied" %>
          <%= link_to t('feeds.denied'), feed_submissions_path(@feed, :state => 'denied'), :class => 'btn active' %>
        <% else %>
          <%= link_to t('feeds.denied'), feed_submissions_path(@feed, :state => 'denied'), :class => 'btn' %>
        <% end %>
      </div>
    </div>

  </div>
</div>

<% if @paginated_submissions.empty? %>
<div class="clearfix default-padding">
  <div class="header-with-icon clearfix">
    <h3 style="float: left;">
      <i class="icon-header-<%= @state %>content"></i> <%= t('.items_in_state', :count => @submissions.count, :state => @state) %>
    </h3>
  </div>
  <br />
  <div class="alert alert-block alert-zero">
    <p class="alert-heading"><%= t('.no_state_content', :state => @state.capitalize) %></p>
    <% if (can? :create, Content) && @state == 'active' %><%= t('.would_you_kindly') %> <%= link_to t('.submit_something'), new_content_path %> <%= t('.to_make_this_feed_happy') %><% end %>
  </div>
</div>
<% else %>

<div class="clearfix default-padding">
  <div class="header-with-icon clearfix">
    <h3 style="float: left;">
      <i class="icon-header-<%= @state %>content"></i> <%= t('.items_in_state', :count => @submissions.count, :state => @state) %>
    </h3>
    <div class="pagination-cont">
      <%= paginate @paginated_submissions %>
    </div>
  </div>
  <br />
  <% @paginated_submissions.select{|s| s.content.parent.nil?}.each do |submission| %>
    <%= render :partial => "submissions/submission_tile", :locals => { :submission => submission } %>
  <% end %>
</div>
<% end %>
