<div class="subnav clearfix">
  <div class="pull-left" style="padding: 3px 0px; width:100px">
    <%= link_to "#", :title => "Click on a feed to jump", :class => "btn small info dropdown-toggle dropdown-control dd-jumpto", :rel => "#jump_to" do %>
      <i class="icon-bolt"></i> Jump to Feed...
    <% end %>

    <div id="jump_to" style="display: none;">
      <% feeds = dfs_tree(Feed.roots) %>
      <% if feeds.empty? %>
      <p><%= t(:no_feeds) %></p>
      <% else %>
      <input type="search" class="feed_filter" placeholder="Type here to filter"/>
      <ul class="filterable">
        <% feeds.each_with_index do |feed, i| %>
        <li data-filter="<%= feed.name %>">
          <%= link_to feed_submissions_path(feed), :class => "link-hl" do %>
          <%= ("&nbsp;"*feed.depth).html_safe %> <%= feed.name %> <span class="badge"><%= feed.approved_contents.count %></span>
          <% end %>
        </li>
        <% end %>
      </ul>
      <% end %>
    </div>

  </div>

  <ul class="nav nav-pills">
    <% if @feed.children.empty? %>
    <li class="legend">No Sub-feeds</li>
    <% else %>
    <li class="legend">Sub-feeds:</li>
    <% end %>
    <% @feed.children.each do |feed| %>
    <li>
      <%= link_to feed_submissions_path(feed) do %><span class="badge"><%= feed.approved_contents.count %></span> <%= feed.name %><% end %>
    </li>
    <% end %>
  </ul>

</div>



<% if @can_moderate_feed and @pending_submissions.count > 0 %>
<!-- note that we do not show an alert banner when there are no pending contents; we just hide it altogether -->
<div class="default-padding">
  <h3 class="header-with-icon" style="color:#993333;"><i class="icon-header-pendingcontent"></i><%= pluralize(@pending_submissions.count, "content") %> pending your moderation</h3>
  <br />
  <ul class="list-grid">
    <% @pending_submissions.each do |submission| %>
    <%= render :partial => "submissions/submission_listgriditem", :locals => { :submission => submission } %>
    <% end %>
  </ul>
</div>
<% end %>

<% if @active_submissions.empty? %>
<br />
<div class="default-padding">
  <div class="alert alert-block alert-zero">
    <p class="alert-heading">No Active Content</p>
    <% if can? :create, Content %>Would you kindly <%= link_to "submit something", new_content_path %> to make this feed a happier place?<% end %>
  </div>
</div>
<% else %>
<div class="default-padding">
  <h3 class="header-with-icon"><i class="icon-header-activecontent"></i><%= pluralize(@active_submissions.count, "active content") %></h3>
  <br />
  <ul class="list-grid">
    <% @active_submissions.each do |submission| %>
    <%= render :partial => "submissions/submission_listgriditem", :locals => { :submission => submission } %>
    <% end %>
  </ul>
</div>
<% end %>

<% if @can_moderate_feed and @denied_submissions.count > 0 %>
<!-- note that we do not show an alert banner when there are no denied contents; we just hide it altogether -->
<div class="default-padding">
  <h3 class="header-with-icon"><i class="icon-header-deniedcontent"></i><%= pluralize(@denied_submissions.count, "denied content") %></h3>
  <br />
  <ul class="list-grid">
    <% @denied_submissions.each do |submission| %>
   <%= render :partial => "submissions/submission_listgriditem", :locals => { :submission => submission } %>
    <% end %>
  </ul>
</div>
<% end %>

<% if @can_moderate_feed and @expired_submissions.count > 0 %>
<!-- note that we do not show an alert banner when there are no expired contents; we just hide it altogether -->
<div class="default-padding">
  <h3 class="header-with-icon"><i class="icon-header-expiredcontent"></i><%= @expired_submissions.count %> expired content<% if @expired_submissions.count != 1 %>s<% end %></h3>
  <br />
  <ul class="list-grid">
    <% @expired_submissions.each do |submission| %>
    <%= render :partial => "submissions/submission_listgriditem", :locals => { :submission => submission } %>
    <% end %>
  </ul>
</div>
<% end %>
