<article>
<div class="subnav clearfix">
  <div class="pull-left" style="width:120px">
    <%= link_to "Jump to Feed...", "#", :title => "Click on a feed to jump", :class => "btn small info dropdown-toggle dropdown-control dd-jumpto", :rel => "#jump_to" %>

    <div id="jump_to" style="display: none;">
      <% feeds = dfs_tree(Feed.roots) %>
      <% if feeds.empty? %>
        <p><%= t(:no_feeds) %></p>
      <% else %>
        <input type="search" id="filter_feeds" placeholder="Type here to filter"/>
        <ul class="filterable">
          <% feeds.each_with_index do |feed, i| %>
            <li data-filter="<%= feed.name %>">
            <%= link_to feed_submissions_path(feed), :remote => true, :class => "link-hl" do %>
              <%= feed.name %> <span class="badge"><%= feed.approved_contents.count %></span>
            <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>

  </div>
 
  <ul class="tabs">
    <% if @sub_feeds.size < 1 %>
      <li class="legend">No Sub-feeds</li>
    <% else %>
      <li class="legend">Sub-feeds:</li>
    <% end %>
    <% @sub_feeds.each do |feed| %>
      <li>
        <%= link_to feed_submissions_path(feed), :remote => true do %><span class="badge"><%= feed.approved_contents.count %></span> <%= feed.name %><% end %>
      </li>
    <% end %>
  </ul>

</div>
<div id="content_holder">

  <% if @submissions.size == 0 %>
    <div class="default-padding">
      <h3>Oops - there's no content inside this feed.</h3>
    </div>
  <% else %>
    <ul class="GL">
      <% @submissions.each do |submission| %>
        <li>
        <div class="cont">
          <%= link_to [submission.feed, submission], :remote => true do %>
            <%= render_content(submission.content, {:type => 'grid'}) %>
          <% end %>
          <b><%= link_to submission.content.name, [submission.feed, submission], :remote => true %></b>
          <br />
          <%= submission.content.start_time.strftime("%m/%d") %> to <%= submission.content.end_time.strftime("%m/%d") %>
          <br />
          <% if can_moderate_feed? %>
          <p>
            <%= link_to "#", :class => "dropdown-control dd-moderate", :title => "Moderate '#{ submission.content.name }'", :rel => "#moderate_#{ submission.id }" do %>
              <% if submission.is_approved? %>
                Approved
              <% elsif submission.is_denied? %>
                Denied
              <% else %>
                Pending Moderation
              <% end %>
            <% end %>
          </p>
          
          
          <div id="moderate_<%= submission.id %>" style="display:none;">
            <% if submission.is_approved? %>
              <p>Currently <b style="color: green;">Approved</b></p>
              <%= link_to "Change to Denied", deny_feed_submission_path(submission, :feed_id => submission.feed), :method => :put, :class => "btn danger" %>
              <br />
            <% elsif submission.is_denied? %>
              <p>Currently <b style="color: red;">Denied</b></p>
              <%= link_to "Change to Approved", approve_feed_submission_path(submission, :feed_id => submission.feed), :method => :put, :class => "btn success" %>
              <br />
            <% else %>
              <p>Currently <b>Pending Moderation</b></p>
              <div class="btn-group">
                <%= link_to "Approve", approve_feed_submission_path(submission, :feed_id => submission.feed), :method => :put, :class => "btn success" %>
                <%= link_to "Deny", deny_feed_submission_path(submission, :feed_id => submission.feed), :method => :put, :class => "btn danger" %>
              </div>
            <% end %>
            <br />
          </div>
          <% end %>

        </div>
        </li>
      <% end %>
    </ul>
  <% end %>

</div>
</article>
<div class="clear"></div>

<script type="text/javascript">

  $(document).ready(function() {
    $('.dropdown-control').click(function(event) { event.preventDefault(); });
    
    $('.dropdown-control.dd-jumpto').each(function() {
      
      $(this).qtip( {

        content: {
          text: $( $(this).attr('rel') ).html(),
          title: {
            text: $(this).attr('title'),
            button: true
          }
        },

        position: {
          at: 'bottom center', // Position the tooltip above the link
          my: 'top left',
          viewport: $(window) // Keep the tooltip on-screen at all times
        },

        show: {
          event: 'click', // Show it on click...
          solo: true // ...and hide all other tooltips...
        },

        hide: 'unfocus',
        style: 'ui-tooltip-light ui-tooltip-shadow ui-tooltip-rounded'

      });

    });

    $('.dropdown-control.dd-moderate').each(function() {
      
      $(this).qtip( {

        content: {
          text: $( $(this).attr('rel') ).html(),
          title: {
            text: $(this).attr('title'),
            button: true
          }
        },

        position: {
          at: 'bottom center', // Position the tooltip above the link
          my: 'top left',
          viewport: $(window) // Keep the tooltip on-screen at all times
        },

        show: {
          event: 'hover', // Show it on click...
          solo: true // ...and hide all other tooltips...
        },

        hide: 'unfocus',
        style: 'ui-tooltip-dark ui-tooltip-shadow ui-tooltip-rounded'

      });

    });
      
    // feed filtering
    $('#filter_feeds').listFilter();

  });
</script>

