<div class="viewblock-header_right">
  <div class="status-block">
    <label>ACTIVE</label>
    <span><%= @approved_submissions ? @approved_submissions.count : 0 %></span>
  </div>
  <div class="status-block">
    <label>PENDING</label>
    <span><%= @pending_submissions ? @pending_submissions.count : 0 %></span>
  </div>
  <div class="status-block">
    <label>EXPIRED</label>
    <span><%= @expired_submissions ? @expired_submissions.count : 0 %></span>
  </div>
  <div class="status-block">
    <label>DENIED</label>
    <span><%= @denied_submissions ? @denied_submissions.count : 0 %></span>
  </div>
</div>
<div class="default-padding">
  <h1 id="contentlist">
    <%= link_to "All Feeds", feeds_path, :remote => true %> &gt; 
    <% @feed.ancestors.reverse.each do |ancestor_feed| %>
      <%= link_to ancestor_feed.name, feed_submissions_path(ancestor_feed), :remote => true %> &gt; 
    <% end %>
    <%= @feed.name %>
  </h1>
</div>

