<div class="approval">

  <% if @submission.moderation_flag.nil? %>
    <%= render :partial => "submissions/approval_info", :locals => { :submission => @submission } %>

    <br />

    <% if can? :update, @submission %>

      <div class="moderate-select">
        <%= link_to "#", :class => "btn btn-pronounced dropdown-control dd-moderate", :title => t('submissions.moderate_title', :name => @submission.content.name), :rel => "#moderate_approve_#{ @submission.id }" do %>
          <span class="icon-check"></span> <%= t(:approve) %>
        <% end %>
        &nbsp;&nbsp;
        <%= link_to "#", :class => "btn btn-pronounced dropdown-control dd-moderate danger", :title => t('submissions.moderate_title', :name => @submission.content.name), :rel => "#moderate_deny_#{ @submission.id }" do %>
          <span class="icon-remove-sign"></span> <%= t(:deny) %>
        <% end %>
      </div>

      <div id="moderate_approve_<%= @submission.id %>" style="display:none;">
        <div class="form-stacked">
          <%= render :partial => "submissions/moderate_form", :locals => { :submission => @submission, :moderate => true } %>
        </div>
      </div>

      <div id="moderate_deny_<%= @submission.id %>" style="display:none;">
        <div class="form-stacked">
          <%= render :partial => "submissions/moderate_form", :locals => { :submission => @submission, :moderate => false } %>
        </div>
      </div>

    <% end %>

  <% elsif @submission.moderation_flag %>
    <h2><%= t('.approved') %></h2>

    <% if can? :update, @submission %>

      <%= link_to "#", :class => "btn dropdown-control dd-moderate danger", :title => t('submissions.moderate_title', :name => @submission.content.name), :rel => "#moderate_deny_#{ @submission.id }" do %>
        <span class="icon-remove-sign"></span> <%= t(:deny) %>
      <% end %>

      <div id="moderate_deny_<%= @submission.id %>" style="display:none;">
        <div class="form-stacked">
          <%= render :partial => "submissions/moderate_form", :locals => { :submission => @submission, :moderate => false } %>
        </div>
      </div>

    <% end %>
    
    <% if can? :delete, @submission.content %>
      <%= link_to t(:destroy_model, :model => Content), @submission.content, :data => { :confirm => t(:are_you_sure_delete_model_key, :model => Content.model_name.human, :key => @submission.content.name) }, :method => :delete, :class => "btn danger" %>
    <% end %>
    
    <br />

    <%= render :partial => "submissions/approval_info", :locals => { :submission => @submission } %>
  <% else %>
    <h2><%= t(:denied) %></h2>

    <% if can? :update, @submission %>

      <%= link_to "#", :class => "btn btn-small dropdown-control dd-moderate", :title => t('submissions.moderate_title', :name => @submission.content.name), :rel => "#moderate_approve_#{ @submission.id }" do %>
        <span class="icon-check"></span> <%= t(:approve) %>
      <% end %>

      <div id="moderate_approve_<%= @submission.id %>" style="display:none;">
        <div class="form-stacked">
          <%= render :partial => "submissions/moderate_form", :locals => { :submission => @submission, :moderate => true } %>
        </div>
      </div>

    <% end %>

    <br />

    <%= render :partial => "submissions/approval_info", :locals => { :submission => @submission } %>
  <% end %>
</div>

<div class="default-padding">
  <div class="content-frame">
    <%= link_to render_content(@submission.content), content_path(@submission.content)%>
  </div>

  <br />

  <% if @other_submissions.count > 0 %>
    <h3><%= t('.also_appears_on') %></h3>
    <ul>
      <% @other_submissions.each do |submission| %>
        <li><%= link_to submission.feed.name, [submission.feed, submission] %></li>
      <% end %> 
    </ul>
  <% end %>

  <% if !@submission.content.children.empty? %>
    <% @submission.content.children.active.each do |child| %>
      <% child_submissions = child.submissions.where(:feed_id => @submission.feed_id) %>
      <% child_submissions.each do |child_submission| %>
        <%= render :partial => "submissions/submission_tile", :locals => { :submission => child_submission } %>
      <% end %>
    <% end %>
  <% end %>

</div>
