   <li>
    <div class="cont thumb-icon">
      <%= link_to [submission.feed, submission], :remote => true do %>
      <%= render_content(submission.content, {:type => 'grid'}) %>
      <% end %>
    </div>
    <div class="cont">
      <p><b><%= link_to submission.content.name, [submission.feed, submission], :remote => true %></b></p>
      
      <p><%= submission.content.start_time.strftime("%m/%d") %> to <%= submission.content.end_time.strftime("%m/%d") %>
        <% if submission.content.start_time < Time.now() %>
        <%= link_to "Urgent", "#", :class => "tooltip-basic", 'data-tooltip-text' => "Hey! This content has already passed its requested start date and you should moderate it." %>
        <% end -%>
      </p>

      <% if submission.is_pending? and not submission.content.is_expired? %>
      <p>
        <%= link_to "Moderate...", "#", :class => "btn small dropdown-control dd-moderate", :title => "Moderate '#{ submission.content.name }'", :rel => "#moderate_#{ submission.id }" %>
      </p>

      <div id="moderate_<%= submission.id %>" style="display:none;">
        <% if submission.is_approved? %>
        <p>Currently <b style="color: green;">Approved</b></p>
        <p>Change to Denied</p>
        <%= render :partial => "submissions/moderate_form", :locals => { :submission => submission, :moderate => false } %>
        <% elsif submission.is_denied? %>
        <p>Currently <b style="color: red;">Denied</b></p>
        <p>Change to Approved</p>
        <%= render :partial => "submissions/moderate_form", :locals => { :submission => submission, :moderate => true } %>
        <% else %>
        <p>Currently <b>Pending Moderation</b></p>
        <div class="form-stacked">
          <div class="moderate-select" class="btn-toolbar">
            <div class="btn-group" data-toggle="buttons-radio">
              <button class="btn approve">Approve</button>
              <button class="btn deny">Deny</button>
            </div>
          </div>

          <div class="moderate-true">
            <%= render :partial => "submissions/moderate_form", :locals => { :submission => submission, :moderate => true } %>
          </div>
          <div class="moderate-false">
            <%= render :partial => "submissions/moderate_form", :locals => { :submission => submission, :moderate => false } %>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>

    </div>
  </li>