   <li>
    <div class="cont thumb-icon">
      <%= link_to [submission.feed, submission], :remote => true do %>
      <%= render_content(submission.content, {:type => 'grid'}) %>
      <% end %>
    </div>
    <div class="cont">
      <p><b><%= link_to submission.content.name, [submission.feed, submission], :remote => true %></b></p>
      
      <p><%= t(:date_range, :start => submission.content.start_time.strftime("%m/%d"), :end => submission.content.end_time.strftime("%m/%d")) %>
        <% if submission.is_pending? && submission.content.is_active? %>
        <%= link_to t(:urgent), "#", :class => "tooltip-basic", 'data-tooltip-text' => t(:urgent_tooltip) %>
        <% end -%>
      </p>

      <% unless submission.content.is_expired? %>
      <p>
        <%= link_to t(:moderate), "#", :class => "btn small dropdown-control dd-moderate", :title => t(:moderate_title, :name => submission.content.name), :rel => "#moderate_#{ submission.id }" %>
      </p>

      <div id="moderate_<%= submission.id %>" style="display:none;">
        <% if submission.is_approved? %>
        <p><%= t(:currently) %> <b style="color: green;"><%= t(:approved) %></b></p>
        <p><%= t(:change_to_denied) %></p>
        <%= render :partial => "submissions/moderate_form", :locals => { :submission => submission, :moderate => false } %>
        <% elsif submission.is_denied? %>
        <p><%= t(:currently) %> <b style="color: red;"><%= t(:denied) %></b></p>
        <p><%= t(:change_to_approved) %></p>
        <%= render :partial => "submissions/moderate_form", :locals => { :submission => submission, :moderate => true } %>
        <% else %>
        <p><%= t(:currently) %> <b><%= t(:pending_moderation) %></b></p>
        <div class="form-stacked">
          <div class="moderate-select" class="btn-toolbar">
            <div class="btn-group" data-toggle="buttons-radio">
              <button class="btn approve"><%= t(:approve) %></button>
              <button class="btn deny"><%= t(:deny) %></button>
            </div>
          </div>

          <div class="moderate-true">
            <%= render :partial => "submissions/moderate_form", :locals => { :submission => submission, :moderate => true } %>
          </div>
          <div class="moderate-false">
            <%= render :partial => "submissions/moderate_form", :locals => { :submission => submission, :moderate => false } %>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>

    </div>
  </li>
