<p>
  <b>Cotent:</b>
  <%= @submission.content.name %>
</p>

<p>
  <b>Feed:</b>
  <%= @submission.feed.name unless @submission.feed.nil? %>
</p>

<p>
  <b>Duration:</b>
  <%= @submission.duration %>
</p>

<p>
  <b>Approved?:</b>
  <%= @submission.moderation_flag %>
</p>

<hr />
<%= render :partial => 'approve_form', :locals => { :submission => @submission } %>
<hr />
<%= render :partial => 'deny_form', :locals => { :submission => @submission } %>


