<%= form_with(model: rich_text) do |form| %>
  <% if rich_text.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(rich_text.errors.count, "error") %> prohibited this rich_text from being saved:</h2>

      <ul>
        <% rich_text.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render "contents/form", form: form %>

  <div>
    <%= form.label :text, style: "display: block" %>
    <%= form.text_area :text %>
  </div>

  <div>
    <%= form.label :render_as, style: "display: block" %>
    <%= form.select :render_as, RichText.render_as %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
