<%= form_with(model: rich_text) do |form| %>
<div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
  <% if rich_text.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(rich_text.errors.count, "error") %> prohibited this rich_text from being saved:</h2>

      <ul>
        <% rich_text.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="sm:col-span-2">
    <%= form.label :render_as, "Type", class: "frm-label" %>
    <%= form.select :render_as, RichText.render_as, class: "frm-input" %>
  </div>

  <div class="sm:col-span-full">
    <%= form.label :text, class: "frm-label" %>
    <%= form.text_area :text, class: "frm-input" %>
  </div>

  <%= render "contents/form", form: form %>

  <div>
    <%= form.submit class: "bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center" %>
  </div>
</div>
<% end %>
