<div id="<%= dom_id rich_text %>">
  <p>
    <strong>Name:</strong>
    <%= rich_text.name %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= rich_text.duration %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= rich_text.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= rich_text.end_time %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= rich_text.text %>
  </p>

  <p>
    <strong>Render As:</strong>
    <%= rich_text.render_as %>
  </p>
</div>
