<section class="viewblock">
  <header class="viewblock-header">
    <h1 class="default-padding">
      <%= t('.configuration_check') %>
    </h1>
    <div class="viewblock-header_right">

    </div>

  </header>
  <div class="viewblock-cont">

    <div class="subnav clearfix">
      <p><%= test_symbol(@imagemagick_installed) %><%=imagemagick_text%></p>
      <p><%= test_symbol(@rmagick_installed) %><%= rmagick_text %></p>
      <p><%= test_symbol(@not_using_sqlite) %><%= db_text %></p>
      <p><%= test_symbol(@not_world_writable) %><%= world_writable_text %></p>
      <p><%= test_symbol(@rails_root_perms) %><%= root_perms_text %></p>
      <p><%= test_symbol(@rails_log_perms) %><%= rails_log_text %></p>
      <p><%= test_symbol(@webserver_ownership) %><%= webserver_ownership_text %></p>      
    </div>

  </div>
</section>
