<%= link_to '#', :title => t('.search_and_find_a_feed_to_add'), :class => "btn btn-large dropdown-toggle dropdown-control dd-add-sub", :rel => "#add-sub" do %>
  <i class="icon-plus"></i> <%= t('.add_a_new_feed').capitalize %>...
<% end %>

<div id="add-sub" style="display: none;">
  <div class="tooltip-scrollY">
    <% feeds = dfs_tree(Feed.roots) %>
    <% if feeds.empty? %>
      <p><%= t(:no_feeds) %></p>
    <% else %>

    <div class="filter-bar">
      <input type="text" class="feed_filter" placeholder="Type here to filter"/>
    </div>
    <ul class="filterable selector-list">
      <% feeds.each_with_index do |feed, i| %>
      <li data-filter="<%= feed.name %>">
        <%= link_to new_screen_field_subscription_path(@screen, @field, :feed_id => feed.id), :remote => true, :class => "link-hl", "data-feed-id" => feed.id do %>
          <%= ("&nbsp;" * feed.depth).html_safe %>
          <i class="icon-ok-sign"></i>
          <b><%= feed.name %></b>
        <% end %>
      </li>
      <% end %>
    </ul>
    <% end %>
  </div>
</div>