<%= link_to "#", :title => "Search and Find a Feed to Add", :class => "btn info dropdown-toggle dropdown-control dd-addSub", :rel => "#addSub" do %>
  <i class="icon-add"></i> Add a New Feed...
<% end %>

<div id="addSub" style="display: none;">
  <div class="tooltip-scrollY">
    <% feeds = dfs_tree(Feed.roots) %>
    <% if feeds.empty? %>
      <p><%= t(:no_feeds) %></p>
    <% else %>

    <div class="filter-bar">
      <input type="text" class="feed_filter" placeholder="Type here to filter"/>
    </div>
    <ul class="filterable selector-list">
      <% feeds.each_with_index do |feed, i| %>
      <li data-filter="<%= feed.name %>">
        <%= link_to new_screen_field_subscription_path(@screen, @field, :feed_id => feed.id), :remote => true, :class => "link-hl" do %>
          <%= ("&nbsp;" * feed.depth).html_safe %>
          <b><%= feed.name %></b>
        <% end %>
      </li>
      <% end %>
    </ul>
    <% end %>
  </div>
</div>