<div class="row-fluid field-config-fields">
  <div class="span1">
    <%= p.text_field :key, :class => 'fillWidth' %>
  </div>
  <div class="span1">
    <%= p.select(:value_type, FieldConfig::VALUE_TYPES, {}, { :class => 'fillWidth' }) %>
  </div>
  <div class="span4">
    <%= p.text_field :value, :class => 'fillWidth' %>
  </div>
  <div class="span1">
    <%= p.hidden_field :_destroy %>
    <%= link_to_function t(:destroy), "remove_field_config_fields(this)", :class => "btn btn-danger" %>
  </div>
</div>
