<%= form_for([@screen, @field, @subscription]) do |f| %>
  <% if @subscription.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>
    <ul>
      <% @subscription.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :feed %><br />
    <%= f.collection_select :feed_id, Feed.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :field %><br />
    <%= f.collection_select :field_id, Field.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :weight %><br />
    <%= f.select :weight, Subscription::WEIGHTS%>
  </div>
  <div class="submit_bar actions">
    <%= f.submit "Submit", :class => "btn primary" %>
  </div>
<% end %>
