<%= form_for([screen, field, subscription]) do |f| %>
  <% feeds ||= Feed.subscribable(screen, subscription.field) # Use feeds if it is passed, otherwise build list %>
  <% feeds.push(subscription.feed) unless subscription.feed.nil? # Always show the selected value %>
	<input type="search" class="feed_filter" id="filter_subscriptions" placeholder="Type here to filter"/>
		<ul class="filterable">
    	<% feeds.each_with_index do |feed, i| %>
      	<li data-filter="<%= feed.name %>">
					<%= check_box_tag "subscription_feed[#{i}]", feed.id, false %>
      		<%= "-" * feed.depth %> <%= feed.name %>
  				
          <div class="clearfix frequency">
            <div class="input">
              <div class="leftseconds"><%= Subscription::WEIGHTS[0] %></div>
              <%= range_field :subscription_weight, i, { :min => 1, :max => Subscription::WEIGHTS.size, :step => 1, :class => "frequency_range thin" } %>
              <div class="rightseconds"><%= Subscription::WEIGHTS[-1] %></div>
            </div>
          </div>

				</li>
		<%end%>
  <%= f.submit "Submit", :class => "btn primary" %>
  <%= link_to 'Destroy', [screen, subscription], :data => { :confirm => 'Are you sure?'}, :method => :delete unless subscription.new_record?%>
<% end %>

<br />
<br />

<%= link_to "#", :title => "Search and Find a Feed to Add", :class => "btn small info dropdown-toggle dropdown-control dd-addSub", :rel => "#addSub" do %>
  <i class="icon-add"></i> Add a New Feed...
<% end %>

<div id="addSub" style="display: none;">
  <% feeds = dfs_tree(Feed.roots) %>
  <% if feeds.empty? %>
    <p><%= t(:no_feeds) %></p>
  <% else %>

  <input type="search" class="feed_filter" placeholder="Type here to filter"/>
  <ul class="filterable">
    <% feeds.each_with_index do |feed, i| %>
    <li data-filter="<%= feed.name %>">
      <%= link_to new_screen_field_subscription_path(@screen, @field, :feed_id => feed.id), :class => "link-hl" do %>
        <%= ("&nbsp;"*feed.depth).html_safe %> <%= feed.name %> <span class="badge"><%= feed.approved_contents.count %></span>
      <% end %>
    </li>
    <% end %>
  </ul>
  <% end %>
</div>