<%= page_title "#{@screen.name} Subscriptions" %>
<% content_for :subheader do %>
  <div><%= link_to "Back to screen", @screen, class: "underline" %></div>
<% end %>
<p style="color: green"><%= notice %></p>

<% active_subscriptions = [] %>
<% @screen.template.positions.each do |position| %>
  <div id="<%= dom_id position %>" class="my-2">
    <h2 class="text-xl font-semibold"><%= position.field.name %> Field</h2>
    <% @screen.subscriptions.where(field: position.field).each do |subscription| %>
      <% active_subscriptions.push(subscription) %>
      <%= render subscription %>
    <% end %>
    <div class="p-4 border-2 bg-white my-4">
      <h3 class="font-semibold">Add Subscription</h3>
      <%= render "form", subscription: Subscription.new(screen: @screen, field: position.field) %>
    </div>
  </div>
<% end %>

<% inactive_subscriptions = @subscriptions - active_subscriptions %>
<% if !inactive_subscriptions.empty? %>
<div>
  <h2 class="text-xl font-semibold">Inactive Subscriptions<h2>
  <div class="italic text-sm p-2">Subscriptions not used in the current template.</div>
  <% inactive_subscriptions.group_by{|s| s.field_id }.each do |field_id, subscriptions| %>
    <h3 class="font-semibold"><%= subscriptions.first.field.name %> Field</h3>
    <% subscriptions.each do |subscription| %>
      <%= render subscription %>
    <% end %>
  <% end %>
  </div>
</div>
<% end %>