<h1><%= @this_field.name %></h1>
<table>
  <tr>
    <th>Name</th>
    <th>Frequency</th>
    <th>Actions</th>
  </tr>

  <% @this_field.subscriptions.where(:screen_id => @screen.id).each do |subscription| %>
    <tr>
      <td><%= subscription.feed.name %></td>
      <td><%= subscription.weight_name %></td>
      <td>
				<%= link_to "Edit", edit_screen_field_subscription_path(@screen,@this_field,subscription), :class => "btn success" %>
				<%= link_to "Remove", screen_field_subscription_path(@screen,@this_field,subscription), :method => :delete, :class => "btn danger" %>
			</td>
    </tr>
  <% end %>

</table>

<% feeds = Feed.subscribable(@screen, @this_field) %>
<%= render :partial => 'manage', :locals => {:screen => @screen, :field => @this_field, :subscription => Subscription.new, :feeds => feeds} unless feeds.empty? %>
