<div class="row-fluid">
  <div class="span12">
    <section class="viewblock">
      <header class="viewblock-header">
        <h1 class="default-padding"><%= t('.manage_model_for_field', { :model => Subscription.model_name.human.pluralize, :name => @this_field.name }) %></h1>
      </header> 
      <div class="viewblock-cont" style="min-height: 600px;">

        <div class="subnav clearfix">
          <ul class="nav nav-tabs">
            <% @fields.each do |field| %>
              <li<% if field.id == @this_field.id %> class="active"<% end %>>
                <%= link_to manage_screen_field_subscriptions_path(@screen, field) do %>
                  <%= image_tag(preview_template_path(@screen.template, :height => 80, :format => :png, :fields => field), :border => 0) %>
                  <p class="caption"><%= field.kind.name %> <%= t('.field') %></p>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>

        <br /><br />

        <%= form_for([@screen, @this_field, @subscription], :url => save_all_screen_field_subscriptions_path(@screen, @this_field), :method => :put) do |f| %>

          <%= hidden_field_tag "new-subscription-index", @this_field.subscriptions.where(:screen_id => @screen.id).size %>

          <table id="subscriptions-list">

            <tbody>
              <% @this_field.subscriptions.where(:screen_id => @screen.id).each_with_index do |subscription, i| %>

                <tr>
                  <td>
                    <h2><%= subscription.feed.name %></h2>
                    <h4 class="color-gray"><%= t('subscriptions.approved_content', :count => subscription.feed.approved_contents.size) %></h4>
                    <%= hidden_field_tag "subscription_id[#{i}]", subscription.id %>
                    <%= hidden_field_tag "subscription_feed[#{i}]", subscription.feed.id, :class => "marker-sub-feed" %>
                  </td>
                  <td>
                    <div class="clearfix frequency" data-sub-index="<%= i %>">
                      <div class="leftseconds" style="width: 50px;"><%= t('subscriptions.shown_rarely') %></div>
                      <%= range_field :subscription_weight, i, { :value => subscription.weight, :min => 1, :max => Subscription::WEIGHTS.size, :step => 1, :class => "frequency_range thin" } %>
                      <div class="rightseconds" style="width: 50px;"><%= t('subscriptions.shown_frequently') %></div>
                    </div>
                  </td>
                  <td>
                    <%= link_to screen_field_subscription_path(@screen,@this_field,subscription), {:data => { :confirm => t(:are_you_sure) }, :method => :delete, :class => "btn danger btnRemoveSubscription" } do %>
                      <i class="ficon-remove"></i> <%= t(:remove_model, :model => Feed.model_name.human) %>
                    <% end %>
                  </td>
                </tr>

              <% end %>
            </tbody>

          </table>

          <div class="default-padding">
            <% feeds = Feed.subscribable(@screen, @this_field) %>
            <%= render :partial => 'add_subscription' unless feeds.empty? %>
          </div>

          <br />

          <div id="save-subscriptions-alert" class="alert alert-block alert-removeborder alert-zero" style="display: table; text-align: right;">
            <span class="save-msg" style="display:table-cell; vertical-align:middle; width: 100%;">
              <%= t('.make_changes') %>
            </span>
            <%= f.submit t('.save_changes_to_model', :model => Subscription.model_name.human.pluralize), :class => "btn large pull-right", :style => "margin-left: 12px;" %>
          </div>

        <% end %>

      </div>
    </section>
  </div>
</div>