<p id="notice"><%= notice %></p>

<p>
  <b>Secret:</b>
  <%= @player.secret %>
</p>

<p>
  <b>Ip address:</b>
  <%= @player.ip_address %>
</p>

<p>
  <b>Screen:</b>
  <%= @player.screen_id %>
</p>

<p>
  <b>Activated:</b>
  <%= @player.activated %>
</p>


<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
