<section class="viewblock">
  <header class="viewblock-header">
    <div class="viewblock-header_right">
      <div class="button-padding">
        <% if can? :create, FieldConfig %>
          <%= link_to t(:new_model, :model => FieldConfig.model_name.human), new_screen_field_field_config_path, :class => "btn" %>
        <% end %>
      </div>
    </div>
    <h1 class="default-padding">
      <%= t(:all_model, :model => FieldConfig.model_name.human.pluralize) %>
    </h1>
  </header>
  <div class="viewblock-cont">
    <table>
      <tr>
        <th><%= FieldConfig.human_attribute_name(:key) %></th>
        <th><%= FieldConfig.human_attribute_name(:value) %></th>
        <th><%= FieldConfig.human_attribute_name(:actions) %></th>
      </tr>

      <% @field_configs.each do |field_config| %>
        <tr>
          <td><%= field_config.key %></td>
          <td><%= field_config.value %></td>
          <td>
            <% if can? :edit, @field_config %>
              <%= link_to t(:edit, :model => FieldConfig.model_name.human), edit_screen_field_field_config_path(@screen, @field, field_config), :class => "btn" %>
            <% end %>
            <% if can? :delete, @field_config %>
              <%= link_to t(:destroy, :model => FieldConfig), [@screen, @field, field_config], :method => :delete, :data => { :confirm => t(:are_you_sure_delete_model_key, :model =>FieldConfig.model_name.human, :key => field_config.key) }, :class => "btn" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</section>
