<div class="row-fluid">
  <div class="span12">
    <section class="viewblock">
      <header class="viewblock-header">
        <h1 class="default-padding">
          <%= link_to t(:all_model, :model => Screen.model_name.human.pluralize), screens_path %> &gt; 
          <%= link_to @screen.name, @screen %> &gt; 
          <%= t('.manage_model_for_field', { :model => "Parameters", :name => @field.name }) %>
        </h1>
      </header> 
      
      <div class="viewblock-cont" style="min-height: 550px;">
        <div class="subnav clearfix">
          <ul class="nav nav-tabs">
            <% @screen.template.positions.collect{|p| p.field}.each do |field| %>
              <li<% if field.id == @field.id %> class="active"<% end %>>
                <%= link_to screen_field_field_configs_path(@screen, field) do %>
                  <%= image_tag(preview_template_path(@screen.template, :height => 80, :format => :png, :fields => field), :border => 0) %>
                  <p class="caption"><%= field.name %> <%= t('.field') %></p>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>

        <br />

        <fieldset class="event-fieldConfigsDiv">
          <legend><span><%= t(:parameters) %><span></legend>
          <div class="field-configs">
            <div class="row-fluid">
              <div class="span1">
                <label><%= FieldConfig.human_attribute_name(:key) %></label>
              </div>
              <div class="span4">
                <label><%= FieldConfig.human_attribute_name(:value) %></label>
              </div>
              <div class="span1">
              </div>
            </div>
            <%= form_tag screen_field_field_configs_path(@screen, @field), :method => :put do %>
              <% @field_configs.each do |field_config| %>
                <%= fields_for 'field_configs[]', field_config do |form| %>
                  <%= render :partial => 'form', :locals => {:form => form, :field_config => field_config} %>
                <% end %>
              <% end %>
              <%= submit_tag t(:update_model, :model => "parameters"), :class => "btn btn-primary" %>
            <% end %>
          </div>
        </fieldset>
        <br />

      </div>
    </section>
  </div>
</div>
