  <% @content.medias.build({:key=>"original"}) %>
  <% if @content.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@content.errors.count, "error") %> prohibited this content from being saved:</h2>
    <ul>
      <% @content.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :duration %><br />
    <%= f.text_field :duration %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br />
    <%= f.text_field :start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br />
    <%= f.text_field :end_time %>
  </div>
  <div class="field">
    <%= f.label :kind %><br />
    <%= f.collection_select :kind_id, Kind.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :user %><br />
    <%= f.collection_select :user_id, User.all, :id, :name %>
  </div>
  <% if @content.new_record? %>
    <%= render :partial => 'feed_selector' %>
  <% end %>
  <div class="field">
    <%= f.fields_for :medias do |media| %>
      <%= media.file_field :file %>
      <%= media.hidden_field :key %>
    <% end %>
  </div>

