<p style="color: green"><%= notice %></p>

<%= render @rss_feed %>

<div>
  <%= link_to "Edit this rss feed", edit_rss_feed_path(@rss_feed) %> |
  <%= link_to "Back to rss feeds", rss_feeds_path %>

  <%= button_to "Destroy this rss feed", @rss_feed, method: :delete %>
</div>
