<p><%= t('.hello', user: @resource.email) %></p>

<p><%= t('.request_link_to_change_password') %></p>

<p><%= link_to t('.change_my_password'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%= t('.ignore_if_not_requested') %></p>
<p><%= t('.password_wont_change') %></p>
