<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>
    <%= t '.your_concerto_submission', content_name: @activity.trackable.content.name, status: @activity.parameters[:status] ? t('.approved') : t('.denied') %>
  </title>
  <style type="text/css">

      body {
          margin: 0;
          padding: 0;
          font-family: 'Myriad Pro', Helvetica, Arial, sans-serif;
          height: 100% !important;
          width: 100% !important;
          background-image: url(<%= asset_path("/assets/layout/pagebg.gif") %>);
          background-repeat: repeat;
          background-repeat-x: repeat;
          background-repeat-y: repeat;
      }

      img {
          border: 0;
          width: 300px;;
          height: auto;
          line-height: 100%;
          outline: none;
          text-decoration: none;
          margin: auto;
          display: block;
      }

      #messageblock {
          width: 600px;
          padding: 12px;
          background-color: white;
          -webkit-box-shadow: 0 3px 2px #ababab;
          -moz-box-shadow: 0 3px 2px #ababab;
          box-shadow: 0 3px 2px #ababab;
          display: block;
          margin: auto;
          -webkit-border-radius: 8px 8px 0px 0px;
          -moz-border-radius: 8px 8px 0px 0px;
          border-radius: 8px 8px 0px 0px;
      }

      #message {
          text-align: left;
      }
  </style>
</head>
<body>
<div id="messageblock">
  <table>
    <thead>
    <tr><%= image_tag '/images/full_logo.png', id: 'logo' %></tr>
    </thead>
    <tbody>
    <tr id="message">
      <p>
        <%= @activity.recipient.name %>,
        <br/>
        <br/>

        <%= t '.moderator' %> <%= link_to @activity.owner.name, url_for(user_url(@activity.owner.id)) if @activity.owner %>
        <%= @activity.parameters[:status] ? t(".approved") : t(".denied") %>

        <% if @activity.parameters[:status] %>
            <%=
                t('.content_schedule',
                  start: l(@activity.trackable.content.start_time, format: :long_day),
                  end: l(@activity.trackable.content.end_time, format: :long_day),
                  duration: @activity.trackable.duration)
            %>
        <% end %>

        <%= link_to @activity.trackable.content.name, content_url(@activity.trackable.content.id) %> <%= t('.for_the') %> <%= link_to @activity.trackable.feed.name, feed_url(@activity.trackable.feed.id) %> <%= t('.feed') %>
        .
      </p>

      <% if @activity.parameters[:status] == false && !@activity.trackable.moderation_reason.blank? %>
          <p><%= t '.reason_rejected', reason: @activity.trackable.moderation_reason %></p>
      <% end %>

    </tr>
    </tbody>
  </table>
</div>
</body>
</html>