<%= @activity.recipient.name %>, 

<p><%= t('.moderator')%> <%= link_to @activity.owner.name, @activity.owner if @activity.owner %>
<%= @activity.parameters[:status] ? t(".approved") : t(".denied") %>
<%= link_to @activity.trackable.content.name, @activity.trackable.content %> <%= t('.for_the')%> <%= link_to @activity.trackable.feed.name, @activity.trackable.feed %> <%= t('.feed')%>.</p>

<% if @activity.parameters[:status] == false %>
  <p><%= t('.reason_rejected')%> <%= @activity.trackable.moderation_reason %></p>
<% end %>