<h1>Listing <%= @kind.name %> fields</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fields.each do |field| %>
  <tr>
    <td><%= field.name %></td>
    <td><%= link_to 'Show', kind_field_path(@kind, field) %></td>
    <td><%= link_to 'Edit', edit_kind_field_path(@kind, field) %></td>
    <td><%= link_to 'Destroy', [@kind, field], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New field', new_kind_field_path(@kind) %>
