<%= render :partial => 'dashboard/admin_stats' %>

<section class="viewblock">
  <header class="viewblock-header">
    <h1 class="default-padding">
      <%= t :manage_plugins %>
    </h1>
  </header>
  <div class="viewblock-cont" style="min-height: 600px;">
    <%= render :partial => 'plugins_navigation' %>

    <%= link_to t(:concerto_plugins), concerto_plugins_path %> > <%= link_to @concerto_plugin.name, @concerto_plugin %> > <%= t(:edit) %>

    <%= render :partial => 'concerto_plugins/form', :locals => { :button_text => t('update_plugin') } %>
  </div>
</section>
