<section class="viewblock">
  <header class="viewblock-header">
    <div class="viewblock-header_right">
      <div class="button-padding">
        <% if can? :create, ConcertoPlugin %>
          <%= link_to t(:new_model, :model => ConcertoPlugin.model_name.human), new_concerto_plugin_path, :class => "btn" %>
        <% end %>
      </div>
    </div>
    <h1 class="default-padding">
      <%= t :manage_model, :model => ConcertoPlugin.model_name.human.pluralize %>
    </h1>
  </header>
  <div class="viewblock-cont">

    <div class="default-padding">
    <table class="plugins-list">
      <thead>
        <tr>
          <th><%= ConcertoPlugin.human_attribute_name(:gem_name) %></th>
          <th><%= t(:gem_description)%></th>
          <th><%= t(:actions) %></th>
        </tr>
      </thead>
      <tbody>
        <% @concerto_plugins.each do |concerto_plugin| %>
          <% gemspec = Gem.loaded_specs[concerto_plugin.gem_name] %>
          <tr>
            
            <td>
              <h3><%= concerto_plugin.name.titleize %></h3>
              <p><%= link_to !gemspec.nil? ? gemspec.homepage : "#" do %><%= t('.visit_plugin_website') %><% end %></p>
            </td>
            
            <td><%= !gemspec.nil? ? gemspec.description : "" %></td>
            
            <td>
              
              <%= link_to t(:edit), edit_concerto_plugin_path(concerto_plugin) %>
              <%= link_to t(:destroy), concerto_plugin, :data => { :confirm => t(:are_you_sure_delete_model_key, :model => ConcertoPlugin.model_name.human, :key => concerto_plugin.name.titleize) }, :method => :delete %>
              <%= status_badge(concerto_plugin.enabled) %>&nbsp;
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
</section>
