<%= render :partial => 'dashboard/admin_stats' %>

<section class="viewblock">
  <header class="viewblock-header">
    <h1 class="default-padding">
      <%= t :manage_model, :model => ConcertoPlugin.model_name.human.pluralize %>
    </h1>
  </header>
  <div class="viewblock-cont" style="min-height: 600px;">

    <%= render :partial => 'plugins_navigation' %>     

    <% @concerto_plugins.each do |concerto_plugin| %>
      <li>
        <h3>
          <%= link_to concerto_plugin_path(concerto_plugin), :class => "link-hl" do %>
            <span class="badge"><%= concerto_plugin.enabled ? t('.enabled') : t('.disabled')%></span> <%= concerto_plugin.name %>
          <% end %>
          <small><%= link_to t(:edit), edit_concerto_plugin_path(concerto_plugin), :class => "btn" %></small>
          <small><%= link_to t(:destroy), concerto_plugin, :data => { :confirm => t(:are_you_sure) }, :class => "btn", :method => :delete %></small>
        </h3>
      </li>
    <% end %>

    <div class="default-padding">
      <%= link_to t(:new_model, :model => ConcertoPlugin.model_name.human), new_concerto_plugin_path, :class => "btn primary" %>
    </div>

  </div>
</section>
