<section class="viewblock">
  <header class="viewblock-header">
    <h1 class="default-padding">
      <%= t :manage_model, :model => ConcertoPlugin.model_name.human.pluralize %>
    </h1>
  </header>
  <div class="viewblock-cont" style="min-height: 600px;">

    <div class="default-padding">
    <table class="plugins-list">
      <thead>
        <tr>
          <th><%= t(:status) %></th>
          <th><%= ConcertoPlugin.human_attribute_name(:name) %></th>
          <th><%= ConcertoPlugin.human_attribute_name(:version) %></th>
          <th><%= ConcertoPlugin.human_attribute_name(:source) %></th>
          <th><%= t(:actions) %></th>
        </tr>
      </thead>
      <tbody>
        <% @concerto_plugins.each do |concerto_plugin| %>
          <tr>
            <td><%= status_badge(concerto_plugin.enabled) %></td>
            <td><%= concerto_plugin.name %></td>
            <td><%= concerto_plugin.gem_version %></td>
            <td><%= plugin_source(concerto_plugin.source) %></td>
            <td>
              <small><%= link_to t(:edit), edit_concerto_plugin_path(concerto_plugin), :class => "btn" %></small>
              <small><%= link_to t(:destroy), concerto_plugin, :data => { :confirm => t(:are_you_sure_delete_model_key, :model => ConcertoPlugin.model_name.human, :key => concerto_plugin.name) }, :class => "btn", :method => :delete %></small>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>

    <div class="submit_bar actions">
      <%= link_to t(:new_model, :model => ConcertoPlugin.model_name.human), new_concerto_plugin_path, :class => "btn primary" %>
    </div>

  </div>
</section>
