<%= form_with(model: graphic) do |form| %>
  <% if graphic.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(graphic.errors.count, "error") %> prohibited this graphic from being saved:</h2>

      <ul>
        <% graphic.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render partial: "contents/form", locals: {form: form} %>

  <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
