<!DOCTYPE html>
<html>
<head>
  <title><%= controller.action_name.titleize %> - <%= controller.controller_name.titleize %> - Concerto Signage Panel</title>
	<%= stylesheet_link_tag 'base' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= render :partial => 'elements/head' %>
  <%= render :partial => 'elements/javascript' %>
</head>
<body>
<%= render :partial => "elements/topmenu" %>
<div id="main">
  <% if flash[:notice] %>
    <p class="notice"><%= notice %></p>
  <% end %>
  <div class="C-full <%= sidebar_class %>">
    <div class="C-header">
      <% if content_for?(:header) %>
		    <%= yield :header %>
		  <% end %>
    </div>
    <div class="C-cont">
      <div class="C-center column">
		    <%= yield %>
		  </div>
		  <% if content_for?(:sidebar) %>
		    <div class="C-sidebar column">
		      <%= yield :sidebar %>
		    </div>
		  <% end %>
		<div class="clear"></div>
  </div>
</div>
</body>
</html>
