<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= yield_for_title(controller.controller_name.titleize) %> - Concerto Panel</title>
  <meta name="generator" content="Concerto <%= Concerto::VERSION::STRING %>"/>
  <meta name="application-name" content="Concerto"/>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;"/>
  <link rel="icon" type="image/png" href="/favicon.png" />
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tag %>
  <%= render :partial => 'elements/head' %>

  <!--[if lt IE 9]>
	<%= javascript_include_tag "html5_shiv/html5.js" %>
	<![endif]-->
</head>
<body>
<%= render :partial => "elements/topmenu_contents" %>
<%= render :partial => "elements/render_flash" %>

<div id="main" class="container-fluid">
  <%= yield %>
</div>
</body>
</html>
