<!DOCTYPE html>
<html>
<head>
  	<title><%= controller.action_name.titleize %> - <%= controller.controller_name.titleize %> - Concerto Signage Panel</title>
	<%= stylesheet_link_tag 'base' %>
  	<%= javascript_include_tag :defaults %>
  	<%= csrf_meta_tag %>
</head>
<body>
<div id="TM">
	<a href="#" id="TM-logobutton"></a>
	<div id="LG-inner">
		<div id="LG-inner_padding">
			<p><b>Brian Zaik</b></p>
		</div>
	</div>
</div>
<div id="main" class="std-offset">
	<p class="notice"><%= notice %></p>
	<%= yield %>
</div>
</body>
</html>
