<!DOCTYPE html>
<html>
<head>
  <title><%= controller.action_name.titleize %> - <%= controller.controller_name.titleize %> - Concerto Signage Panel</title>
  
  <%#= stylesheet_link_tag 'base' %>
  <%#= stylesheet_link_tag 'jquery-ui-1.8.5.custom' %>
  <%#= stylesheet_link_tag 'datetime' %>
  
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tag %>
  <%= render :partial => 'elements/head' %>
  <%= render :partial => 'elements/javascript' %>

  <!--[if lt IE 9]>
  <%= javascript_include_tag "html5.js" %>
  <![endif]-->
</head>
<body>
  <%= render :partial => "elements/topmenu" %>
  <div id="main">
    <% if flash[:notice] %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
