<!DOCTYPE html>
<html>
<head>
  <title>Concerto - <%= content_for?(:title) ? yield(:title) : "Open Source Digital Signage" %></title>
  <%= stylesheet_link_tag 'frontend/application' %>  
  <%= csrf_meta_tag %>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <meta name="format-detection" content="telephone=no" />
  <%= content_for(:head) -%>
</head>
<body>
  <%= yield %>
</body>
</html>
