<!DOCTYPE html>
<html>
<head>
  	<title><%= controller.action_name.titleize %> - <%= controller.controller_name.titleize %> - Concerto Signage Panel (Split-View Test)</title>
	<%= stylesheet_link_tag 'base' %>
  	<%= javascript_include_tag :defaults %>
  	<%= csrf_meta_tag %>
</head>
<body>
<%= render :partial => "elements/topmenu" %>
<div id="main" class="sv-offset">
	<p class="notice"><%= notice %></p>
        <div id="SV-left" class="SV-offset">
        	<br />
		<% if content_for?(:left_sidebar) %>
			<%= yield(:left_sidebar) %>
		<% end %>
	</div>
	<div id="SV-right" class="SV-offset">
		<%= yield %>
	</div>
</div>
</body>
</html>
